[2016-08-05 00:49] xiang90 opened #1 "delete an existing cluster"
[code]

should delete the existing example-etcd-cluster

[2016-08-05 00:54] xiang90 opened #2 "expose etcd client port as service"
so etcdctl works...

[2016-08-05 00:57] xiang90 opened #3 "use k8s object uid instead of creating one"
we should reuse the existing uid system.

[2016-08-05 00:59] xiang90 opened #4 "resync state when restarting the controller"
now we assume that the controller knows all the state changes from the beginning. Once it can fails, the assumption does not hold.

the controller should get the existing clusters by getting pod with app=etcd selectors. then we can find all existing clusters and do necessary modification according to the spce in the third party resources.

[2016-08-05 01:05] xiang90 opened #5 "support resize"
- check cluster state until all existing members are healthy
- if growing, add member one by one
- if shrinking, remove member one by one

[2016-08-05 01:07] xiang90 opened #6 "support recovery from partial failure"
- remove dead pods
- go to resize path

[2016-08-05 12:18] polvi opened #7 "existing UUID is broken"
After creating an EtcdCluster object...

[code]

This little hack fixed it

[code]
#3 would be the ideal fix

[2016-08-09 19:52] #7 closed, assigned to nobody

[2016-08-09 20:50] #3 closed, assigned to nobody

[2016-08-09 21:20] #1 closed, assigned to nobody

[2016-08-10 01:24] xiang90 opened #12 "support TLS enabled cluster"

[2016-08-10 01:25] #2 closed, assigned to nobody

[2016-08-11 00:04] xiang90 opened #16 "support pod anti affinity"
by default, we should spread different etcd pods that belongs to one cluster onto different nodes. then etcd cluster can achieve better availability.

but we should also support non-spreading case for quick deployment setup when we only have one kube node.

this should be achieve by adding a policy in the tpr cluster creating spec.

[2016-08-11 17:15] xiang90 opened #17 "cluster membership reconciling"
For each etcd cluster, we actually three membership state:
1. the desired size defined in tpr resource. this is provided by user.
2. the running pods in the k8s cluster. this is provided by API server.
3. the membership in the etcd cluster. this is fully controlled by our controller.

From the controller perspective, 1 and 2 are dynamic. They are not controlled directly by the controller itself. T

[2016-08-12 23:06] colhom opened #18 "panic on pod deletion through API"
With `kube-etcd-controller` running, deleting one of the `etcd-cluster-xxxx` pods will cause the following panic:

[code]

@xiang90 I'm going to fix this, then push commits for #5

[2016-08-12 23:07] colhom opened #19 "Support TLS auth for remote API server hosts"
Very useful for development against a remote TLS-secured development cluster.

[2016-08-15 19:13] #19 closed, assigned to nobody

[2016-08-17 00:17] #6 closed, assigned to nobody

[2016-08-17 00:49] xiang90 opened #25 "back up to persistent volume if required"
Add backup into cluster spec.
- Backup: int
  - 0 means no backup, n means keep N backups.
- BackupIntervalInMinutes: int
  - 0 means no backup, n means creating a backup every N minutes

Before creating the cluster, we should request a persistent volume with N*4GB size. (etcd support 2GB snapshot by default. over request is not a big deal for now)

Use https://godoc.org/github.com/coreos/etcd/cli

[2016-08-17 01:18] xiang90 opened #26 "support node selector"
only schedule etcd pods to pre define nodes.

use case: nodes with SSD. nodes with better bandwidth.

[2016-08-17 02:34] xiang90 opened #27 "update etcd cluster version"
add etcd version into cluster Spec

If the version is updated, we should update the pod spec of the etcd members one by one; and one version by one version (2.3.1 -> 2.3.2 -> 2.3.3, never 2.3.1 -> 2.3.3 directly)

We only start update version if and only if the reconciling matches.

[2016-08-17 03:31] xiang90 opened #29 "take over existing cluster"
There is an existing cluster deployed somewhere, and we have an accessible client addr and peer addr.

We should be able to take over the cluster of that cluster by moving the cluster members into k8s. We always add one member into k8s, and remove one member outside k8s.

[2016-08-17 17:04] philips opened #30 "controller crashes if you don't delete service"
I delete etcd-cluster-0000 from the readme then the controller crashed:

[code]

[2016-08-21 23:17] #18 closed, assigned to nobody

[2016-08-22 01:38] #16 closed, assigned to nobody

[2016-08-22 18:30] xiang90 opened #40 "doc: run etcd on dedicate node"
people might want to run etcd on some dedicate nodes (nodes that only run etcd), for reliability reasons. The use case is for the self-hosted etcd cluster that powers the k8s itself. we do want to extra safety for that cluster.

we should use taint feature to make this happen.

Add Spec.RequireDedicatedNode field.

/cc @colhom opinion?

[2016-08-22 18:32] xiang90 opened #41 "setup CI for e2e testing"
At initial dev state, we probably want to start with e2e testing that requires a running k8s cluster.

@colhom volunteered to work on this  :) Thanks!

[2016-08-22 20:57] colhom opened #42 "etcd Clients are not closed"
From the etcd clientv3 godocs:

The way we handle clients now is pretty ad-hoc. I figure that we'll probably end up doing one of these:
- Put clients in a managed pool
- Deal with client creation/cleanup as part of event loop

In either case, this issue exists to remind us to do it once we've got client lifecycle sorted.

[2016-08-23 23:53] #4 closed, assigned to nobody

[2016-08-24 00:11] #30 closed, assigned to nobody

[2016-08-25 21:33] #5 closed, assigned to colhom

[2016-08-25 22:16] #17 closed, assigned to nobody

[2016-08-25 23:06] xiang90 opened #60 "User documentation"

[2016-08-25 23:14] xiang90 opened #62 "vendor dependencies"

[2016-08-25 23:15] xiang90 opened #63 "release workflow"
use official etcd container

publish kube-etcd-controller as container.

[2016-08-25 23:29] xiang90 opened #65 "expose metrics to prom"

[2016-08-26 17:44] philips opened #67 "backup to object store (s3, gs, swift, etc)"
This might make for a nice "disaster recovery demo". No idea how to prioritize yet though.

[2016-08-27 18:31] xiang90 opened #69 "member health checking"
Now we rely on kubernetes pod management to detect member failure. It is not reliable since there might be application level failure. We should use probe features to periodically ping etcd's health endpoint to determine the healthiness of the member.

[2016-08-27 18:33] xiang90 opened #70 "copy missing features from exhibitor"
@hongchaodeng can you check what features https://github.com/Netflix/exhibitor provide?

We should create issues for the missing features for kube-etcd-controller.

[2016-08-28 00:39] xiang90 opened #72 "reorganize code base"
[code]

Then we can start to work on the backup cmd.

[2016-08-29 21:45] #72 closed, assigned to hongchaodeng

[2016-09-01 20:27] caseydavenport opened #92 "Allow etcd pods to run in host network namespace"
If a user wants to run a Kubernetes hosted etcd for Canal / Calico (i.e part of the infrastructure), it needs to be run with host networking.

Running in the host network namespace is currently necessary to avoid a bootstrap issue where the default network policy prevents Calico / Canal from accessing etcd, but the network policy cannot be changed without Calico / Canal accessing etcd.

Not sure i

[2016-09-01 23:00] philips opened #93 "controller creates TPR"
Brendan Burns had this idea that the controller would just automatically create the TPR when it starts.

[2016-09-01 23:04] #93 closed, assigned to nobody

[2016-09-06 02:24] hongchaodeng opened #98 "Init container not sharing volumes correctly"
# Problem

From the [design](https://github.com/kubernetes/kubernetes/blob/385fb81407a561292460585afc556783dcd6eaf8/docs/proposals/container-init.md#design-points), init container is supposed to share and initialize volumes in sequence. However, it's not working so far and volume initialized by init containers is not possible to be used by other containers.
# What's affected

In disaster recovery

[2016-09-06 21:57] xiang90 opened #101 "sign off by polvi"
Polvi needs to sign off this work before we can open source it (or we might not).

He has some ideas around how shall we do this.

[2016-09-06 23:24] #98 closed, assigned to hongchaodeng

[2016-09-14 20:50] #92 closed, assigned to nobody

[2016-09-15 17:02] caseydavenport opened #115 "Problem with etcd in hostNetwork"
Ran into this today while trying to test the changes from #112

[code]

[code]

Looks like it's failing to resolve etcd-cluster-0000.  I'll investigate.

[2016-09-15 18:03] hongchaodeng opened #117 "Support parameterized namespace"
Currently we only use "default" namespace, we should have parameter for it.
One use case is that in testing environment, we would have our test run in "kube-etcd-${RAND}" ns.

[2016-09-15 20:22] hongchaodeng opened #118 "Parameterize image option for build script"
Currently, we are making it static to use

[code]

If someone changes the code and wants to test/play with the changes, they need to hack into the build scripts. For better collaboration, we should support custom image option.

[2016-09-21 18:47] hongchaodeng opened #123 "[jenkins] test issue"

[2016-09-22 05:33] philips opened #128 "prototype with bootkube"
I think we need to get the integration with bootkube prototyped ASAP. The last remaining difficult thing for a fully self-hosted Kubernetes cluster is etcd. The Kubelet, API server, etc all have a path forward and we can prove that it works.

xref https://github.com/kubernetes-incubator/bootkube/issues/31#issuecomment-248815638

[2016-09-22 16:22] #123 closed, assigned to nobody

[2016-09-22 16:56] #41 closed, assigned to colhom

[2016-09-22 22:03] #117 closed, assigned to hongchaodeng

[2016-09-23 16:48] #118 closed, assigned to hongchaodeng

[2016-09-27 01:24] mischief opened #146 "dns name for etcd endpoints?"
is it currently possible to use a dns address or some other mechanism for a client to discover the etcd client addresses?

if not, this would be a great feature to make it simpler for clients to connect.

[2016-09-27 22:05] #146 closed, assigned to nobody

[2016-09-28 04:35] #62 closed, assigned to hongchaodeng

[2016-09-29 03:58] #42 closed, assigned to hongchaodeng, colhom

[2016-09-29 11:35] mischief opened #149 "panic: failed to create seed member (etcd-cluster-0000): services "etcd-cluster-0000" already exists"
my kube-etcd-controller is in a crash loop:

[code]

[code]

[2016-09-30 05:12] #25 closed, assigned to hongchaodeng

[2016-09-30 18:07] ethernetdan opened #153 "Allow management of existing clusters"
A common requirement for using kube-etcd-controller is the ability to migrate an already existing etcd cluster to the management of the controller. This functionality will be necessary in order to enable bootkube (coreos/kube-etcd-controller#128) to bootstrap using the controller.

[2016-09-30 18:09] #153 closed, assigned to nobody

[2016-09-30 20:50] hongchaodeng opened #154 "build e2e test as image and test it in k8s cluster"

[2016-10-01 01:01] #154 closed, assigned to nobody

[2016-10-01 08:57] xiang90 opened #157 "e2e TestDisasterRecovery failed"
controller panic with

[code]

[2016-10-03 20:42] hongchaodeng opened #161 "e2e test: Missing running pods shown previously"
This is not really our controller issue. I just want to keep a track here.

What I have observed:
- a pod has been created
- after 5 seconds in reconcile the pod doesn't show up.

Eventually it does show up. This long delay affects how reconcile works and isn't reasonable to workaround.

[2016-10-03 20:51] ethernetdan opened #162 "Only single member clusters can be used as Seeds"
Currently, when an EtcdCluster is created with a seed cluster specified that has more than one members it panics with:

[code]

In order to get bootkube (#128) working, I have explored moving from single member etcd cluster to a multi-member cluster and have had difficulty performing the migration without losing consensus in the process. This is the closest issue I could find to this problem is co

[2016-10-03 23:02] #149 closed, assigned to hongchaodeng

[2016-10-03 23:07] mischief opened #166 "watch error makes kube-etcd-controller get stuck in a loop"
somehow the watcher gets stuck in an error loop, causing the controller to hit the api server constantly and make the cpu load very high.

the size of my cluster is 1.

does it make sense to add a rate limit to the watch loop to prevent accidental high cpu use on the api server?

here are logs with an additional print statement to dump the watch error.

[code]

[2016-10-04 17:50] #162 closed, assigned to nobody

[2016-10-04 19:00] mischief opened #168 "failed to get event from apiserver: unexpected EOF"
[code]

[2016-10-04 21:23] #157 closed, assigned to hongchaodeng

[2016-10-04 21:41] #29 closed, assigned to nobody

[2016-10-04 23:04] #69 closed, assigned to hongchaodeng

[2016-10-04 23:54] #166 closed, assigned to nobody

[2016-10-05 02:19] hongchaodeng opened #177 "Flaky e2e test: TestResizeCluster5to3"
[code]

[2016-10-05 17:38] hongchaodeng opened #184 "Backoff on transient error of removeOneMemeber()"
Controller encountered an error during removeOneMemeber():

[code]

From etcd logs:

[code]

The problem is that the time only elapsed ~4s and etcd quorum needs 5s for strict check. We can safely retry this error.

[2016-10-05 18:05] hongchaodeng opened #186 "heavy load on test infra leads to unexpected timeout"
From last failure:

[code]

etcd controller seems to be running correctly and recovering cluster. But it took very long for disaster recovery, taking into account that we backoff on transient failures.

My suggestion is that we should detect if controller is freezed:
- if controller is dead.
- if controller has made any positive progress: recovering the cluster to desired state.

[2016-10-05 18:07] #177 closed, assigned to nobody

[2016-10-05 23:54] #186 closed, assigned to nobody

[2016-10-06 02:12] #26 closed, assigned to hongchaodeng

[2016-10-06 23:37] #184 closed, assigned to nobody

[2016-10-07 18:49] xiang90 opened #197 "add google analytic tracking"

[2016-10-07 23:40] #197 closed, assigned to xiang90

[2016-10-08 20:19] hongchaodeng opened #202 "e2e flake: member removal failure"
Logs from last failure:

[code]

It keeps failing to remove member "0000".

The expected scenario:
- we simulate failure by removing pod "0000".
- we remove member "0000" during reconcile().

However, it seems like the member has been removed?

[2016-10-10 00:35] xiang90 opened #206 "soak testing: phase 1"
- [x] running one controller with one etcd cluster without any failure injected
- [x] running one controller with 5 etcd clusters without any failure injected
- [x] running one controller with 5 etcd clusters and randomly kill 1 pods every 30 seconds
- [x] running one controller with 5 etcd clusters and randomly kill 5 pods every 30 seconds (possible to kill all pods of one cluster)

[2016-10-10 16:57] #202 closed, assigned to nobody

[2016-10-11 22:08] xiang90 opened #210 "version aware backup"
our backup should be version aware. etcd 3.1 could only recover from 3.1 backup not 3.0.

[2016-10-11 22:26] #27 closed, assigned to hongchaodeng

[2016-10-12 02:41] hongchaodeng opened #215 "Expose cluster dead status to user"
If we can't recover a cluster to run a quorum, we will mark the cluster as dead and remove all data we created in k8s: pods, services, etc.

However, there are two places we want to improve:
1. We still have the etcd cluster object in API Server. For this point, we should be careful during restore and shouldn't run anything for a dead cluster.
2. Communicate failure to user. Initially, we will wri

[2016-10-12 04:53] colhom opened #216 "cluster deletion does not clean up pvc"
creating, deleting, and re-creating an `etcdcluster` with the same name results in:

[code]

@hongchaodeng should we be delete the pvc along with the pods and services when an etcd cluster is deleted?

[2016-10-12 19:17] philips opened #222 "MAINTAINERS: add a maintainers file"

[2016-10-13 04:46] #63 closed, assigned to hongchaodeng, gyuho

[2016-10-14 02:41] #222 closed, assigned to hongchaodeng

[2016-10-14 04:06] hongchaodeng opened #230 "potential race in current e2e setup"
EtcdCluster TPR is global -- not belonging to any specific namespace. Nonetheless, our controller will go to restore path if TPR exist. There might be race in current e2e setup that controller pod is created, but before it goes Run(), a test could be run and an EtcdCluster object could have been created. Then the controller will go into restore path to which it shouldn't.

This problem goes beyong

[2016-10-14 17:01] #230 closed, assigned to nobody

[2016-10-15 05:11] hongchaodeng opened #234 "e2e flake: wrong id counter"
From failure logs:

[code]

[2016-10-16 22:01] #65 closed, assigned to xiang90

[2016-10-17 18:51] #168 closed, assigned to nobody

[2016-10-17 20:03] #216 closed, assigned to nobody

[2016-10-18 20:23] #60 closed, assigned to nobody

[2016-10-19 17:28] hongchaodeng opened #244 "e2e flake: unexpected status: 404 Not Found"
This happened where e2e test program tried to send a delete request to apiserver and apiserver returns 404 code.

[2016-10-19 17:31] #244 closed, assigned to nobody

[2016-10-19 17:48] hongchaodeng opened #245 "[bug] Invalid status code: 404 Not Found"
On a bootstrap, I have seen an issue that caused controller to stop running:

[code]

[2016-10-19 19:26] hongchaodeng opened #247 "chaos testing failure"
Logs shows that we failed to add new member:

[code]

This keeps failing until chaos monkey deletes another pod and cause majority failure. Then test tries to create a seed member from backup. It seemed like it took >10s to have that seed member "running":

[code]

Then it tried to add a new member. The new member never gets "ready":

[code]

This continues until chaos monkey deletes them all.

[2016-10-19 20:40] hongchaodeng opened #248 "chaos testing failure 2"
Chao testing failed again.

We caught that when a pod is created to join existing quorum, it failed due to tcp timeout. etcd logs:

[code]

[2016-10-20 04:58] #247 closed, assigned to nobody

[2016-10-25 20:55] #248 closed, assigned to nobody

[2016-10-26 03:16] #161 closed, assigned to nobody

[2016-10-26 17:38] hongchaodeng opened #265 "soak test flake: service endpoints disappear"
After #264 we removed readiness, there is still failures when running soak test.
Digging into the logs, I found a strange thing:

Pod 0025 and its service endpoint existed before.

[code]

But them service endpoint disappeared even though pod is still running:

[code]

[2016-10-28 03:01] hongchaodeng opened #276 "[e2e flake] backup pod failed to serve request"
Logs:

[code]

[2016-10-28 20:11] #276 closed, assigned to nobody

[2016-10-29 05:13] hongchaodeng opened #290 "Garbage services left due to member creation/deletion failure"
There could be cases that we didn't remove services successfully and controller continue to run smoothly:
- we create a service but didn't create the pod successfully,
- We failed to remove the service. But etcd pod exited correctly once removed from membership, or etcd pod gets removed due to liveness probe.

Controller will heal the cluster and create more pods and services if needed. Nonetheles

[2016-10-29 16:44] hongchaodeng opened #292 "soak test failure: fail to parse member ID format"
Logs:

[code]

[2016-10-29 17:25] #292 closed, assigned to nobody

[2016-10-30 06:24] xiang90 opened #296 "backup tool: backup error"
[code]

Happened in soak testing.

[2016-10-30 16:32] hongchaodeng opened #298 "soak test phase 2"
- [ ] running one controller with one etcd cluster killing controller randomly (TBD: how random)
- [ ] running one controller with five etcd cluster killing controller randomly (TBD: how random)

[2016-10-31 02:53] xiang90 opened #304 "rename to etcd-operator"

[2016-10-31 16:45] #296 closed, assigned to nobody

[2016-10-31 16:47] hongchaodeng opened #305 "e2e failure: timeout waiting for PVC to be ready"
logs:
[code]

[2016-10-31 18:11] xiang90 opened #307 "spec: add cpu, memory requirement"
Now there is no way to specify cpu and memory requirement or limit.

[2016-10-31 18:11] #206 closed, assigned to nobody

[2016-10-31 22:00] #304 closed, assigned to nobody

[2016-11-02 21:30] #101 closed, assigned to polvi

[2016-11-03 03:40] xiang90 opened #328 "doc: mention GA outgoing traffic"

[2016-11-03 19:38] xiang90 commented on #328
Closed by #330

[2016-11-03 19:38] #328 closed

[2016-11-04 12:54] errordeveloper opened #335 "integrating with kubeadm"
I am exploring how integration with kubeadm could work on top of what we currently have, so we can build a PoC where etcd would be pivoted from single static pod to a cluster.

Let's say we want to enable a use-case where someone builds a cluster with kubeadm and get a single etcd in a static on the master, and at some point later they decide to improve the system and introduce etcd operator (perh

[2016-11-04 13:24] pires commented on #335
AFAIK, this operator assumes the control plane to be in place. What you seem to be looking for is:
* bootstrap initial etcd node (`--initial-cluster-state=new`)
* start control plane
* deploy operator and point it to an existing cluster (`--initial-cluster-state=existing`), meaning you'll be scaling the etcd cluster.
* optionally, after operator finishes bringing the new nodes, terminate initial e

[2016-11-04 16:03] hongchaodeng opened #336 "e2e flake: PV failed"
We have seen some failures in disaster recovery testing.

Backup pod logs:
[code]

Logging into the cluster showed that PV failed status. We need to dig into it further to figure out what happened and come up with a fix.

[2016-11-04 22:26] lachie83 opened #337 "(fix) Documentation of kubernetes.io/aws-ebs PV provisioner"
Conflicting statements on AWS PV provisioner support README

Confirmed that it currently only works with kubernetes.io/gce-pd as a provisioner

Will provide PR

[2016-11-04 22:29] lachie83 commented on #337
Supporting evidence for cluster running v1.4.4 on AWS

[code]

[2016-11-04 22:30] lachie83 commented on #337
Also - this causes the controller to crash
[code]

[2016-11-04 22:33] hongchaodeng commented on #337
In the README, we have mentioned that AWS EBS as PV support is a TODO.

@lachie83 What's your concern here?

[2016-11-04 22:34] lachie83 commented on #337
At the bottom of the readme you then say

[2016-11-04 22:35] hongchaodeng commented on #337
Alright. We will change that. Thanks for reporting.

[2016-11-04 22:38] lachie83 commented on #337
PR is there

[2016-11-04 22:39] lachie83 commented on #337
Also what are your thoughts on catching that error to stop the controller crashing due to PV?

[2016-11-04 22:43] xiang90 commented on #337
@lachie83 Can you help to add AWS support?

[2016-11-04 22:45] hongchaodeng commented on #337
closed via #338

[2016-11-04 22:45] #337 closed

[2016-11-04 22:47] xiang90 commented on #337
@hongchaodeng @lachie83 Can we create an issue for adding AWS EBS support? This seems a MUST HAVE.

[2016-11-04 22:48] lachie83 commented on #337
Sure - I will file an issue.

[2016-11-04 22:48] lachie83 commented on #337
looking at the code now. I can take a look at adding AWS support

[2016-11-04 22:49] lachie83 opened #340 "feature: Add AWS(kubernetes.io/aws-ebs) PV provisioner support"
Conversation initially started in #337

[2016-11-04 22:53] hongchaodeng opened #341 "AWS support for backup storage"
Currently we only support GCE ((kubernetes.io/gce-pd) PV as backup storage.

AWS support is a MUST HAVE to make etcd operator more accessible to cloud users. Specifically, we are planning to support types of storage on AWS for backup data.
- ~~EBS (kubernetes.io/aws-ebs) as PV. We have the PV code path there. It's not very hard to add support for it.~~ EBS is supported now.
- S3. We need to refact

[2016-11-04 22:54] lachie83 commented on #341
Dup of #340

[2016-11-04 22:54] #340 closed

[2016-11-04 22:54] lachie83 commented on #340
Dup of #341

[2016-11-04 22:56] xiang90 commented on #337
@lachie83 Awesome. Thanks!

[2016-11-04 22:56] lachie83 commented on #341
I can take a look at adding AWS-EBS support. On quick inspection it doesn't look terribly difficult

https://github.com/coreos/etcd-operator/blob/15cfbabda50c0a073276bbe1c6edf00fc4ec527c/pkg/util/k8sutil/backup.go#L40

[2016-11-04 23:00] lachie83 commented on #341
Also controller currently crashes waiting on PVC poll
[code]

[2016-11-04 23:02] xiang90 commented on #341
@lachie83 Can you file an issue for it separately? That is a bug we should fix.

[2016-11-04 23:04] hongchaodeng commented on #341
@xiang90 @lachie83

See https://github.com/coreos/etcd-operator/issues/305

[2016-11-04 23:05] hongchaodeng commented on #305
@xiang90 @lachie83

The creation and waiting of PVC should also sit inside reconcile loop.

[2016-11-04 23:28] hongchaodeng commented on #341
@lachie83
If you would like to fix the PVC poll issue, please let me know. Other than that, I will fix it by next week.

And sure, feel free to ping me when you have a PR for the AWS PV support.

[2016-11-05 05:49] lachie83 commented on #341
Took a look through the code and it is already implemented via the pv-provisioner arg. I've tested and it works on AWS. The only issue is that the default deployment doesn't have it by default. LMK how you would like to handle this and I can submit a PR.

[code]

[code]

[2016-11-05 05:51] lachie83 opened #342 "Controller crashes on poll PVC timeout"
This issue in this case was that I was using the gce-pd PV provisioner on AWS which left the PVC in PENDING state
[code]

[2016-11-05 05:52] lachie83 commented on #341
@xiang90 -- Sure thing. #342

[2016-11-05 05:54] xiang90 commented on #341
@lachie83 OK. So it seems to me that we:

1. have a separate deployment for AWS
2. make the operator smart about the infra: detect it is running on AWS. (how?)

[2016-11-05 06:18] hongchaodeng commented on #342
For this issue, ideally we should have some way to reject user spec that doesn't match our environment. For example, we are running on AWS, and it's asking GCE stuff. However, there is no admission control for TPR objects yet.

Nonetheless, such error shouldn't crash controller. As a fix for this, we will fail the cluster only, i.e. make the cluster die itself. Further, we will print the error and

[2016-11-05 19:10] jbeda commented on #335
The problem here, I think, is that the API server needs a static address for the etcd server that backs it.  (K8s services work via the endpoints API which hits etcd so we can't find etcd through regular k8s services.)  I'm not sure how much value (and how adaptable things are) if we try and use the operator with a relatively static config.

CoreOS folks -- are you using these operators for the et

[2016-11-05 20:47] hongchaodeng opened #345 "fail to remove etcd member "etcdserver: member not found""
In e2e test, there is a new kind of failure:
[code]

What was happening is that member-0000 was deleted to simulate failure. Controller was trying to remove "0000" from membership and failed.

[2016-11-06 03:44] hongchaodeng commented on #305
Digging into this issue showed the following error info for PVC:
[code]

[2016-11-06 18:42] hongchaodeng commented on #305
The panic should have been fixed.
Though the error could still exist. Gonna create a new issue.

[2016-11-06 18:42] #305 closed

[2016-11-06 22:08] hongchaodeng commented on #342
@lachie83
This bug should have been fixed by #344. We have inflight PR for test coverage.

Can you try again and verify no panics?
I have pushed to quay image. FYI, you can build your image following https://github.com/coreos/etcd-operator/blob/master/hack/release/README.md

[2016-11-07 01:03] xiang90 commented on #341
Closed with a PR adding a AWS specific deployment file and updating readme file.

[2016-11-07 01:03] #341 closed

[2016-11-07 01:29] hongchaodeng opened #349 "e2e flake: backupnow failed: dial tcp ...: i/o timeout"
logs
[code]

[2016-11-07 02:39] philips opened #350 "remove backup from example-etcd-cluster"
This doesn't work on minikube because the backup requires a PV.

[code]

We need to fix `https://coreos.com/operators/etcd/latest/example-etcd-cluster.yaml` as well cc @spoonben

[2016-11-07 02:40] philips commented on #350
error:

[code]

[2016-11-07 02:42] philips commented on #335
The discussion and prototype is at https://github.com/kubernetes-incubator/bootkube/pull/176

[2016-11-07 02:43] philips commented on #335
Also @xiang90 is tasked with making the call on how we proceed with this and whether we use host networking or go through a network bootstrap.

[2016-11-07 02:44] xiang90 commented on #350
@hongchaodeng Yes. Probably we should disable backup in the example by default, since most people will try this on local env. We need to update README section: if you want to try backup example, do xxx.

[2016-11-07 02:51] aaronlevy commented on #335
An option we've discussed is to use a service IP that we pre-allocate to the etcd cluster (similar to what we do with dns addon).

- The bootstrap api-server will contact a "seed" etcd (likely started as static pod) via a static configuration.
- Then the self-hosted api-server will be configured to contact the etcd cluster via the pre-allocated service IP
- When we "pivot" from the bootstrap contr

[2016-11-07 05:31] hongchaodeng commented on #350
In the future we might consider "local" persistent volume:
https://github.com/kubernetes/kubernetes/issues/7562

[2016-11-07 05:58] xiang90 commented on #350
@hongchaodeng Yes. Seems promising.

[2016-11-07 17:46] philips commented on #350
Yes, that is nice for the future, but right now it is confusing as things don't work.

[2016-11-07 17:47] philips opened #351 "cluster: create service for entire cluster"
Today the etcd operator creates a service for each cluster member. But, it would be nice to have a service for the entire cluster so that as a client I can connect to a single DNS name to service discover the rest of the peer DNS names.

[2016-11-07 18:10] xiang90 commented on #335
Good question.

I am still evaluating the idea of "self-hosted etcd" - managing the Kubernetes's etcd by etcd-operator running atop of Kuberentes.

The goal is to:
- 1. greatly reduce mean time to recovery for most common cases
- 2. hide the tedious work (backup, upgrading) of operating etcd
- 3. make it easier to setup a self-hosted kubernetes cluster

Hiding etcd completely from k8s human operat

[2016-11-07 22:00] #351 closed

[2016-11-09 20:35] #350 closed

[2016-11-09 22:50] xiang90 commented on #349
@hongchaodeng Which e2e test is this from

[2016-11-10 00:54] hongchaodeng commented on #349
Flakes in both disaster recovery tests where we create pvc
On Wed, Nov 9, 2016 at 2:50 PM Xiang Li <notifications@github.com> wrote:

[2016-11-11 07:36] xiang90 opened #355 "create changelog"
let's keep track on any user facing changes for each release.

[2016-11-11 16:22] hongchaodeng opened #356 "Pass in backup storage provider, instead of creating it"
What's storage provider? It's something that would gave us some storage if we requested.

What?
Currently we automatically creates the storage provider inside operator, specifically in [CreateStorageClass()](https://github.com/coreos/etcd-operator/blob/48f7aa5e585718c9cfa1afbca428c02a7392aa2e/pkg/controller/controller.go#L215).

We should change to that we pass in a storage provider, and create a

[2016-11-11 23:10] travisn opened #361 "Base the etcd-operator container on a smaller image"
The etcd-operator container could be much smaller in size. Currently the image is over 1.2GB
[code]

Similar to the container for the prometheus operator, if the go binary is compiled separately from the container with the build tools, the container that ships will be a much more reasonable size.

[2016-11-12 03:29] philips commented on #335
@xiang90 this all makes sense. What do you think are the next steps on figuring out 2.2?

Personally, given the choice between trying to make changes to external components like the API server or networking and adding complexity to the etcd Operator I would rather add complexity to the etcd Operator. For example I don't know how to checkpoint this stuff and still recover if we are defaulting the A

[2016-11-12 23:09] hongchaodeng commented on #342
@lachie83
Can we close this?

[2016-11-13 04:54] xiang90 commented on #335
I feel so. I had some discussion with @aaronlevy. And I feel there could be too many uncertainties  "oops" if we try checkpoint approach.

There will be uncertainties for adding support at etcd operator side too. And it will require significant effort. But I think we can somehow manage it if:

1. only support one self-hosted etcd cluster per operator (or even per Kubernetes cluster)
2. only suppor

[2016-11-13 04:54] xiang90 commented on #335
/cc @philips ^

[2016-11-14 12:44] pires commented on #335
This, the disaster recovery, is my only concern. Other than this, everything else can be either fixed or worked-around by the smart people involved in this.

[2016-11-14 17:21] xiang90 commented on #335
Personally, I feel this would be a documentation issue initially. Totally hiding etcd from the kuberentes operators is a non-goal for now. Human operators still need to have basic etcd knowledge to recover it from extreme failure cases, although the goal is to reduce the number/possibilities of these cases. We need to learn from the operational experience to understand what happens frequently and

[2016-11-14 19:05] xiang90 commented on #342
I think we can close it now. @lachie83 please reopen if you find the issue still exists.

[2016-11-14 19:05] #342 closed

[2016-11-14 19:08] pires commented on #335
Making this dumb proof has never been a goal of mine, so I agree.

[2016-11-14 21:42] hongchaodeng commented on #245
Closing this as it never showed again.

[2016-11-14 21:42] #245 closed

[2016-11-14 22:28] hongchaodeng commented on #234
I sort of get what's happening here.

Our assumption on id counter is that if a pod is created counter should increment. This wasn't always true previously because we have wait ready logic in CreateEtcdPod().

It seems fine now, but I will change the code to make it obvious.

[2016-11-14 22:28] #234 closed

[2016-11-14 22:28] hongchaodeng commented on #234
Closing this right now since it's not a bug anymore

[2016-11-14 23:24] xiang90 commented on #234
Can you show me the previous code?

[2016-11-14 23:29] hongchaodeng commented on #234
https://github.com/coreos/etcd-operator/blob/46dbc28ac988ff63cc236a1c41be20a3ea2f9109/pkg/util/k8sutil/k8sutil.go#L157-L168

[2016-11-14 23:30] xiang90 commented on #234
i see. thanks.

[2016-11-15 18:46] hongchaodeng commented on #336
dup of #349

[2016-11-15 18:46] #336 closed

[2016-11-16 22:04] hongchaodeng commented on #349
Some logs from last failure:
[code]

It seems like connectivity issue.

[2016-11-16 22:10] hongchaodeng commented on #349
@xiang90

It's relying on service IP being propagated to jenkins slave machine. There could be a delay.

We can probably retry on such error.

[2016-11-16 22:19] xiang90 commented on #115
Fixed by #366

[2016-11-16 22:19] #115 closed

[2016-11-16 22:20] #345 closed

[2016-11-16 23:45] hongchaodeng commented on #349
fixed via #370

[2016-11-16 23:45] #349 closed

[2016-11-18 00:06] xiang90 opened #374 "bad logging line"
[code]

This is not user friendly. Let's make this better. /cc @hongchaodeng

[2016-11-18 05:24] hongchaodeng opened #375 "Build our own small util instead of using external dep"
Currently we are using some util functions like `wait.Poll(...)`.
Those are small functions. But using external dependency would cause more problem to us over time (e.g. updating dependency).
We should probably build our own util functions.

[2016-11-18 05:49] xiang90 commented on #375
or we can copy them into our codebase :)

[2016-11-18 17:09] #361 closed

[2016-11-18 18:06] xiang90 commented on #128
Closing based on https://github.com/kubernetes-incubator/bootkube/pull/184

[2016-11-18 18:06] #128 closed

[2016-11-20 01:23] hongchaodeng opened #385 "jenkins: Can't access GCE node internal IP from pod"
Our migration tests on jenkins are now failing consistently. Digging into the problem, it seems that k8s pod couldn't access IP of nodes.

In migration test, we use GetDefaultHost(), which returns internal IP "10.240.0.x". Then we use it as network interface that etcd binds to. But etcd operator was trying to do migrate, it failed:
[code]

I test it by running an etcd server locally:
[code]

Then

[2016-11-20 02:21] hongchaodeng commented on #385
@xiang90
I rethink about the network assumptions made in e2e test, and come up with ideas to get rid of those assumptions to make test simpler and more generic.

## 1. migrate boot member

It requires an IP address that's accessible from within k8s cluster. Other than that, we don't really care where it's running, as long as it's an etcd server and will get migrated successfully.

Why don't we jus

[2016-11-20 03:33] xiang90 commented on #385
The proposal wont solve all problems I am afraid.

Yes, we can run the boot member in pod, but not the actual self-hosted members. We do want to test self-hosted features which should run on host network.

I do not want to make stuff complicated now. I think we can:

1. run jenkins jobs sequentially
2. do not run anything other than CI on jenkins slaves

For 2, yea, it does not really matters.

Do

[2016-11-20 03:34] hongchaodeng commented on #385
No idea. It was still OK yesterday.

[2016-11-20 03:35] hongchaodeng commented on #385
It's just boot member. So you agree on this too?

[2016-11-20 03:39] xiang90 commented on #385
We should figure this out.

I mean we can. But why we need to?

[2016-11-20 03:43] hongchaodeng commented on #385
We need to fix the test.
Currently it's failing all the time.
Changing it to pod will also make it simpler and more generic, e.g. we don't need to set up kubelet/proxy on test machine anymore.

[2016-11-20 03:48] xiang90 commented on #385
I do not understand. Right now, we start etcd boot member on local network. It does not rely on k8s network. I do not think it has anything to do with kubelet/proxy.

Also I do not understand why it is simper and more generic.

[2016-11-20 03:50] xiang90 commented on #385
Currently it's failing all the time.

How will move the boot member into pod fix the problem? We need to fix this:
pod should be able to access node ip

[2016-11-20 03:51] hongchaodeng commented on #385
We start an pod as a single etcd server.
We take it as boot member, and get uses its Pod IP to form bootMemberClientEndpoint.

[2016-11-20 03:53] hongchaodeng commented on #385
It needs proxy because it needs to talk to migrated cluster before being removed off membership.
It's simpler because e2e test infra doesn't need to assume test machine needs to setup kubelet/proxy anymore.

[2016-11-20 03:54] xiang90 commented on #385
We take it as boot member, and get uses its Pod IP to form bootMemberClientEndpoint.

Why do we need to do this? What exactly problem can this solve?

[2016-11-20 03:54] xiang90 commented on #385
No, it does not need. migrated member is on host network.

[2016-11-20 03:55] hongchaodeng commented on #385
master is failing now.
The failure is caused by network issue talking to test machine IP.

[2016-11-20 03:56] xiang90 commented on #385
Right. Fix this.

[2016-11-20 04:44] hongchaodeng commented on #385
All right.
I have fixed it.
It's firewall issue. Not sure why it works before though.

[2016-11-20 04:49] xiang90 commented on #385
Can we close this issue then?

[2016-11-20 05:22] hongchaodeng commented on #385
Verified it's fixed.

[2016-11-20 05:22] #385 closed

[2016-11-20 07:41] hongchaodeng commented on #385
The second point (make backup) isn't true

[2016-11-20 12:01] maxott opened #387 "Won't start when I re-create deployment"
Hi, I'm playing around with this and after deleting and recreating the etcd cluster I'm getting the following error logs:

[code]

No idea what's going on.

My manifest is as following:

[code]

[2016-11-20 16:47] hongchaodeng commented on #387
It's a TODO.
Would you like to implement it?

[2016-11-20 18:31] xiang90 commented on #387
@maxott @hongchaodeng The first step is to remove this panic and print out unrecoverable case as an error?

[2016-11-20 18:32] xiang90 commented on #387
@maxott

This log is not clear? What is your expectation? Let's see how to improve this.

[code]

[2016-11-20 22:13] maxott commented on #387
@hongchaodeng While I'm not afraid of code, there are way too many moving parts I have no idea about that writing code at this point would very likely do more harm than good :)

@xiang90 My confusion relates to:

* `Trying to recover from a previous backup` Where is that backup and how was it defined/created?
* `no backup policy has been defined` Couldn't find anything in the docs or code which ga

[2016-11-23 10:53] pires commented on #335
@xiang90 is the next step to actually run the etcd operator after the cluster is up?

[2016-11-23 10:55] pires commented on #335
Nevermind, https://github.com/kubernetes-incubator/bootkube/blob/9ffd0b68a906a4450c482b83ec3aa6057bee22c1/pkg/asset/k8s.go#L34.

[2016-11-23 15:37] xiang90 commented on #335
@pires

Bootstrap phase is integrated with bootkube with a feature flag. Check bootkube repo for more detail on that.

The next step is to handle non failure recovery case. It does not necessarily have anything to do with etcd operator. It requires some change in bootkube itself. We are working on it.

The next next step is to handle backup/recovery from backup for disaster case.

[2016-11-23 15:38] pires commented on #335
@xiang90 correct. I was just looking for how you were doing HA self-hosted. I totally understand the backup/recovery is not yet part of this solution.

[2016-11-23 21:46] xiang90 commented on #40
After second thought, I think users can taint the nodes themselves and use node selector to let etcd operator schedule etcd pods to these nodes. Then this becomes a doc issue for the operator.

[2016-11-23 22:01] hongchaodeng opened #391 "e2e flake: PVC pending for 10s"
PVC pending for 10s and as a result it failed to create the cluster.

logs:
[code]

[2016-11-23 23:55] xiang90 commented on #387
OK. This is a mix of documentation  + code enhancement issue. We will improve soon.

[2016-11-24 00:32] maxott commented on #387
I looked into this a bit further when I tried to re-create all resources.

@xiang90 you asked for my expectations. What I would expect is that if I **delete** an `etcd-operator` deployment I would expect that all state is removed and there won't be any influence on a future **create**.

Unfortunately, this is not the case. When I **delete** the service, there are still entries in the 'system' `etc

[2016-11-24 00:40] xiang90 commented on #387
We cannot do this. If a user accidentally remove the operator, we should absolutely not stop all running etcd cluster and other services.

[2016-11-24 03:45] hongchaodeng opened #392 "Unexpected orphan-ed backup pod after cluster deletion"
After cluster is deleted, the backup pod still exists, which shouldn't.

To reproduce, do
- create etcd operator
- create etcd cluster using "example/example-etcd-cluster-with-backup.yaml"
- delete that etcd cluster

Some facts:
- replica set has been deleted.
- the backup pod is the same as that exists before deleting cluster

[2016-11-24 04:02] maxott commented on #387
That's a philosophical argument you can make and I would most likely disagree as it goes against expectations. But that's not the point, the fact right now is that, without that you cannot re-create it without a lot of effort and touching parts you shouldn't really.

[2016-11-24 04:04] hongchaodeng commented on #392
Another fact: I tried to manually "kubectl delete rs xxxx" and backup pod is deleted.

[2016-11-24 04:19] xiang90 commented on #387
We will doc this behavior. But we will not change it. I think safety is more important that your expectation. And expectation can be different from people to people and can be changed.

This is what we should and will fix. We will mark the dead cluster dead instead of panicking the operator itself.

[2016-11-24 06:50] hongchaodeng commented on #392
Seems to be working after I recreated the k8s cluster..
Unfortunately we couldn't catch it before it's gone.

[2016-11-26 06:22] hongchaodeng commented on #392
Closing this. Unreproducible.

[2016-11-26 06:22] #392 closed

[2016-11-27 18:34] xiang90 commented on #210
Closed by #396

[2016-11-27 18:34] #210 closed

[2016-11-29 21:37] xiang90 commented on #40
Closed by the best practice doc.

[2016-11-29 21:37] #40 closed

[2016-11-30 11:04] dhilipkumars opened #404 "Why not Petsets?"
Hi ,

First of all awesome project and great idea.

I was browsing through this project and found that `etcd-operator` is built on top of `POD` primitives is there any reasoning why you choose PODs instead PetSet?

On the other-hand `prometheus-operator` appears to be built on top of `PetSet`.

What was the reason behind these decisions ? ie to choose Pods for etcd and PetSet for Prometheus.

Rega

[2016-11-30 12:00] harryge00 commented on #356
What if the cluster does not support storage class? Such like old version kubernetes.

[2016-11-30 16:34] hongchaodeng commented on #404
Curious what's your use case?

[2016-11-30 16:36] hongchaodeng commented on #356
@harryge00
What's your use case? Can you clarify more detailedly?

[2016-11-30 17:22] xiang90 commented on #404
@dhilipkumars We use POD for better control over everything. Yea, but from users' perspective, why do you need to care? Any specific use case in mind?

[2016-11-30 18:21] dhilipkumars commented on #404
@xian90 and @hongchaodeng, sure we like the idea of operators we are starting to write one for a stateful workload, we are now in a dilemma weather or not to use PETSET as the underlying primitive.  Wanted to check if your team went through similar thought process ?

[2016-11-30 18:31] xiang90 commented on #404
@dhilipkumars I believe Kuberentes community is a better place for this discussion. There is a slack channel http://slack.k8s.io/. Let's talk there.

[2016-11-30 18:31] #404 closed

[2016-12-01 00:35] philips opened #409 "x509: provide static secrets to an EtcdCluster"
It would be nice to enable a user to generate static x509 certificates and keys, put them into Kubernetes, and then specify their use via the EtcdCluster resource.

The basic configuration would be the addition of four fields to the resource:

- client-cert
- client-key
- member-cert
- member-key

The workflows and docs that need to be considered before this is completed:

- [ ] Basic self-signed

[2016-12-01 00:40] philips opened #410 "research: x509: look at using Vault for certifiate allocation"
As an extension to #409 we should look at using [Vault PKI](https://www.vaultproject.io/docs/secrets/pki/index.html) to hold onto the member and client certificate authority, sign CSRs, and do any CRLs.

The basic workflow would be the addition of these fields to the EtcdCluster resource:

- Vault PKI mount point
- Vault Token for the Operator

@colhom could you research this a bit and maybe try i

[2016-12-01 02:05] harryge00 commented on #356
log:
[code]

kubernetes version:
[code]
I think it is because our cluster does not support storage class.

[2016-12-01 02:32] xiang90 commented on #356
@harryge00

We have a requirement on k8s version: see https://github.com/coreos/etcd-operator#requirements.

[2016-12-01 02:42] hongchaodeng commented on #409
Hi @philips
Can you clarify more detailedly on these two points:

[2016-12-01 02:46] hongchaodeng commented on #356
@harryge00
This is unrelated here. Please do not continue on this issue.
I think your question has been answered. Next time please consider opening a new issue.

[2016-12-01 05:50] philips commented on #409
Essentially we need to provide a doc that shows a user how to run the various openssl commands, load those certs into secrets, and then run a cluster.

We need the etcd-operator equivalent of these docs:

https://github.com/coreos/docs/blob/master/os/generate-self-signed-certificates.md
https://coreos.com/etcd/docs/latest/op-guide/security.html

[2016-12-02 03:37] dhilipkumars commented on #404
@xiang90 Sure, i was thinking a Rationale section on docs on why was POD chosen as the underlying primitive for etcd-operator would help the readers.

[2016-12-02 10:02] calj commented on #387
I experienced the same issue with a different flow:
1- I deployed first a cluster in default namespace (same config used bellow)
2- I deleted this cluster
3- Created a new cluster in an other namespace

I think we should be able to create 2 clusters with the same name in separated namespaces.

[2016-12-02 16:41] hongchaodeng commented on #387
@calj
One etcd operator only take charges of one namespace.

What's your use case? Why do you need that?

[2016-12-02 17:07] xiang90 commented on #387
How did you do that? Provide more info?

[2016-12-03 18:11] xiang90 opened #427 "backup purge"
Now we pass in the backup policy, so we can respect `MaxSnapshot int `json:"maxSnapshot"` option and clean up backup fails properly.

Also probably we should clean up the policy naming a little bit: change all `snapshot` to `backup`.

[2016-12-04 01:35] philips opened #428 "where is the cluster data stored?"
How do I force recreation of a cluster if I want to? The Operator seems to store metadata about existing clusters somewhere but I don't know where.

xref #387

[2016-12-04 01:51] xiang90 commented on #428
All the metadata are stored in TRP etcd-cluster resources.

What do you mean by cluster recreation? Can you give an example?

[2016-12-04 03:12] hongchaodeng commented on #428
@philips What's the question? Can you clarify?

[2016-12-06 15:36] odacremolbap opened #434 "Etcdctl not working with exposed etcd-operator"
I'm facing an issue exposing etcd-operator using nodeport.

**kubernetes version:** 1.4.6
**etcd-operator version:** quay.io/coreos/etcd-operator:latest
**etcd version:** v3.1.0-alpha.1
**etcdctl version:** 2.3.7

## Description

The service is defined like[ this one](https://github.com/coreos/etcd-operator/blob/master/example/example-etcd-cluster-nodeport-service.json)

The problem is that I can'

[2016-12-06 17:36] xiang90 commented on #434
With v2, can you specify --no-sync. etcdctl v3 will not do auto membership sync. This operator is designed for etcd3 only in theory.

Try

[code]

[2016-12-06 17:36] #434 closed

[2016-12-06 17:37] xiang90 commented on #434
@odacremolbap It would be great if you can contribute to the doc about how to access the etcd cluster created by the operator.

[2016-12-07 19:02] #428 closed

[2016-12-14 15:44] dhilipkumars opened #456 "Developer Guide"
Hi

Is there a developer guide / build instructions for this project? What is the dependency manager being used? `godeps` ? Im unable to compile the operator with latest `K8s` sources as package unversioned appears to be deprecated.

Also is the minimum requirement `go 1.7`? could we use below package for backward compatibility?

[code]

Thanks in Advance,
Dhilip

[2016-12-14 16:11] dhilipkumars commented on #456
If i `git checkout` to 1.4 branch for both `k8s.io/kubernetes` and `k8s.io/client-go` dependencies then `go build` works.

[2016-12-14 16:34] hongchaodeng commented on #456
See https://github.com/coreos/etcd-operator/tree/master/hack/release.

We will have more formal dev docs soon. @dhilipkumars  Would you like to write one?

[2016-12-14 16:39] dhilipkumars commented on #456
@hongchaodeng thanks, ooops have never used glide. :-) did not thing it was the dependency file.

Sure I will give it a try, do you have any reference `dev doc` in mind from coreos that i should follow for this project?

[2016-12-14 16:48] hongchaodeng commented on #456
In most cases we have a section in README talk about how to build the
project.
However, our README has been long enough. We should have a separate docs --
I would say, "docs/devel/development.md".

On Wed, Dec 14, 2016 at 8:39 AM Dhilip <notifications@github.com> wrote:

[2016-12-14 17:44] xiang90 commented on #456
@dhilipkumars We do not have an official dev doc template as far as I know.

I would image we can start something similar to  https://github.com/coreos/etcd/blob/master/Documentation/dl_build.md#build-the-latest-version, but developer facing to start with.

To test the build on devs local machine, they have to package the binary to a container, setup kuberntetes, run e2e etc.. But we can sort this

[2016-12-15 11:28] goruha commented on #387
+1

This is really confusing that helm reinstall makes errors. Because documentation told us that
deployment should be created first and only after that you can create etcdCluster resource.

The only reason why it works first time is different behaviour when etcd-operator register TDR and when it deal with already registred TDR

[2016-12-15 16:02] xiang90 commented on #387
@goruha I feel what you described is a different issue? Can you please tell us what you did? What error did you see? And what is your expectation?

[2016-12-15 18:51] hongchaodeng opened #464 "Garbage collecting of dangling etcd pods"
We could have dangling etcd pods if we encountered failure in calling pod deletion.
We currently just log the error. It would be ideal to garbage-collect etcd pods that has no cluster to associate with.

[2016-12-20 00:26] xiang90 commented on #67
we already support s3. adding other object storage should be simple. we will wait for user request to choose which to add next. closing this issue for now.

[2016-12-20 00:26] #67 closed

[2016-12-20 00:34] xiang90 commented on #335
I am closing this. We should move the talk to bootkube. Most of the self-hosted required features from etcd-operator side are done.

[2016-12-20 00:34] #335 closed

[2016-12-20 18:15] xiang90 commented on #427
implemented by both s3 and pv backend. so closing.

[2016-12-20 18:15] #427 closed

[2016-12-20 23:02] hongchaodeng commented on #391
We have changed wait PVC to 20s and never see this again.

[2016-12-20 23:02] #391 closed

[2016-12-20 23:07] hongchaodeng commented on #387
I'm closing this issue.

Deleting etcd operator doesn't mean deleting TPR resources.

[2016-12-20 23:09] hongchaodeng commented on #374
@xiang90
Can we close this issue?
We don't print it at INFO level anymore.

[2016-12-20 23:11] hongchaodeng commented on #215
Closing this.
This belongs to broad topic of "status reporting".
We should create another issue or have a doc about it.

[2016-12-20 23:11] #215 closed

[2016-12-20 23:13] xiang90 commented on #387
@hongchaodeng

I agree we should not delete user created TPRs, existing Pods etc. when shutdown etcd operator. The existing etcd clusters should remain running no matter what happens to etcd operator.

But this still needs to be resolved.

[code]

[2016-12-20 23:13] hongchaodeng commented on #70
Closing this.
Other than UI, we don't need to copy any more features from exhibitor.

[2016-12-20 23:13] #70 closed

[2016-12-20 23:14] xiang90 commented on #215
Can you create an issue for it?

[2016-12-20 23:15] #374 closed

[2016-12-20 23:21] hongchaodeng opened #483 "Cluster status reporting"
We need to inform users of the status of etcd clusters managed by operator. For example, cluster is dead due to network issue failing to create any etcd pod.

For more design consideration, see *doc/design/cluster_status.md* .

There is an upstream issue: https://github.com/kubernetes/kubernetes/issues/38113 . We could keep track of it and take advantage of any upstream features that facilitates i

[2016-12-20 23:25] #387 closed

[2016-12-20 23:37] xiang90 opened #485 "doc that removing operator deployment wont affect any running clusters"
Users might have the impression that removing etcd operator == removing all managed etcd clusters by the operator.

We intentionally do not remove any existing etcd clusters no matter what happen to the operator. Or an accidental deletion of the operator will remove ALL clusters, it is VERY DANGEROUS.

A managed etcd will only be deleted if user deleted the TPR, and operator receives the deletion

[2016-12-21 17:53] xiang90 opened #495 "try minio-go client for s3 API"
Minio-go client makes it easier for etcd operator to talk with almost ANY s3 compatible APIs.

https://github.com/minio/minio-go

/cc @brianredbeard

[2016-12-21 17:55] xiang90 opened #496 "switch to kubernetes/client-go"
do not depend on full k8s repo

[2016-12-22 08:00] hongchaodeng opened #500 "A new cluster could be affected by previous garbage pod"
There could be leftover garbage pods created by the cluster of same name previously.
For example:
- cluster "A" is deleted, but we have "oldpod-A" belongs to "A" failed to be deleted.
- then create cluster "A" again. It will create seed member "seedpod-A".
- In reconcile logic, it will put both "oldpod-A" and "seedpod-A" as endpoints of etcd client to do member list. However, They are two differen

[2016-12-22 18:41] hongchaodeng commented on #500
@xiang90

We should use OwnerReference field to create and check etcd pods.

[2016-12-22 21:09] hongchaodeng opened #501 "regression on k8s v1.5.1"
Today I upgraded cluster to v1.5.1 and master e2e test failed:

https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator-master/173/console

[2016-12-22 22:07] hongchaodeng commented on #501
logs:
[code]

[2016-12-22 22:50] hongchaodeng commented on #501
Seems like defaulting has regression:
[code]

[2016-12-22 23:01] hongchaodeng commented on #501
Another problem, namespace getting stuck:
![screen shot 2016-12-22 at 3 00 17 pm](https://cloud.githubusercontent.com/assets/920884/21443123/8888177a-c857-11e6-93ca-3803286a2a37.png)

[2016-12-22 23:10] hongchaodeng commented on #501
jenkins cluster downgraded to 1.4.7

[2016-12-23 01:59] philips opened #504 "tls: static configuration"
https://github.com/coreos/etcd-operator/pull/218 describes a dynamic etcd TLS setup.

I think we should support a static configuration. Essentially a user would provide the TLS certificates in the etcd-cluster object and the secrets would be provided via a secret.

This would mean that all cluster members would use the same secret but I think it is an acceptable stop-gap to enable people to launch

[2016-12-23 02:14] hongchaodeng commented on #504
Is this duplicate to #409?

[2016-12-23 03:04] hongchaodeng opened #505 "createStorage() could return nil storage"
Test failed:
[code]

[2016-12-23 03:06] hongchaodeng commented on #505
The root cause is that we deploy the wrong aws key.
NewS3Storage() returned error but the error slipped away:
https://github.com/coreos/etcd-operator/blob/dac0be35be238af5f51e79055ea2f76be882edd3/pkg/cluster/backup_manager.go#L69

[2016-12-23 04:57] hongchaodeng commented on #505
Fixed in #506

[2016-12-23 04:57] #505 closed

[2016-12-23 05:57] hongchaodeng commented on #501
Defaulting issue tracked on upstream: https://github.com/kubernetes/kubernetes/issues/39189

[2016-12-23 19:07] hongchaodeng opened #510 "e2e disastery recovery failure: last etcd member not up"
Scenario: We have 3 members: A1, A2, A3.
Once we have all 3 of them "PodRunning", we then delete A1, A2 in our test.
The problem could be that A3 was not up and running, then failed to contact A1, A2, and finally exited itself.

logs:
[code]

[2016-12-23 20:38] #510 closed

[2016-12-24 18:51] hongchaodeng opened #517 "etcd cluster TPR's relation with the resources (pods, svcs) it manages"
Currently a cluster has the following relations with the pods/svcs it manages:
- an etcd pod will have label{"etcd_cluster": $cluster_name, "app":"etcd"}
- an etcd service will have label{"etcd_cluster": $cluster_name}
- they have some naming conventions making them unique to one cluster

Recently we are working on GC and this would make it more necessary for us to have clear definition how to cor

[2016-12-24 18:55] hongchaodeng commented on #517
@xiang90

ListOptions doesn't have a way to List by OwnerRef currently.

[2016-12-24 18:55] xiang90 commented on #517
Can we easily select `cluster=X && owner.ref.ID!=currentTPR.ID`? If yes, probably owner ref is a better approach.

[2016-12-24 18:56] xiang90 commented on #517
@hongchaodeng

So we need to select all pods with `cluster=X`, and then scan over them to find all pods with refID!=currentID?

[2016-12-24 18:59] hongchaodeng opened #518 "Designing garbage collector"
GC issues:
- https://github.com/coreos/etcd-operator/issues/290
- https://github.com/coreos/etcd-operator/issues/464
- https://github.com/coreos/etcd-operator/issues/500

Object ownership: https://github.com/coreos/etcd-operator/issues/517

We need a garbage collector to remove pods/services that etcd cluster failed to delete.

Two strategies:
- lazy GC: When creating a cluster , remove all potent

[2016-12-24 19:01] xiang90 commented on #518
let's just do full scanning initially. we can optimize it later on.

[2016-12-24 19:03] hongchaodeng commented on #517
@xiang90
I feel like this is a field selector thing.
My understanding is that this isn't supported in field selector yet. In fact, a lot of fields couldn't..

[2016-12-24 19:04] xiang90 commented on #518
I am less concerned on the full GC case. A normal operator would manage ~O(10) etcd clusters. The totally selected items with (app=etcd) is at most ~O(100). Finding the orphan items is trivial.

there are already other places we do full select. we should optimize all by using reflector for example.

[2016-12-24 19:06] xiang90 commented on #517
@hongchaodeng

OK. Probably we should just go with refID and hope we can select in the future? It is a little bit more work than just use resource version, but it followers k8s api design. And we have a hope to directly select the bad items in the future. So I now go towards ref id approach.

[2016-12-24 19:09] xiang90 commented on #518
Can you create a design doc talking about how:

1. we do ownership tracking
2. what is our GC initial strategy and why

[2016-12-24 19:18] hongchaodeng commented on #518
@xiang90
Sure

[2016-12-26 01:40] #517 closed

[2016-12-26 01:41] hongchaodeng commented on #518
closed by #519

[2016-12-26 01:41] #518 closed

[2016-12-27 04:05] hongchaodeng opened #529 "e2e flake: TestS3DisasterRecovery"
[code]

[2016-12-27 04:07] hongchaodeng commented on #529
First thought is something wrong with DNS:
[code]

Need to spend some time and dig further.

[2016-12-27 04:38] hongchaodeng commented on #529
Found something suspicious!
Param "etcdVersion" doesn't have a value.

[2016-12-27 09:10] hongchaodeng commented on #529
I see the problem. It's not even about DNS. Basically the backup pod hadn't been created.
The failure happened on first creation of 3 members cluster. Something just failed and the log isn't long enough to show that.

[2016-12-27 09:19] hongchaodeng commented on #529
From the log it shows like the seed member hadn't been created at all. Could going to Restore case due to some race of watch stream disconnection.

[2016-12-27 16:18] philips commented on #404
From the Operators blog post: https://coreos.com/blog/introducing-operators.html

From my HN comment: https://news.ycombinator.com/item?id=13225359

Essentially I see the world broken down into four potential application types:

[2016-12-27 18:26] hongchaodeng opened #532 "e2e flake: TestPauseControl"
[code]

[2016-12-27 18:27] hongchaodeng commented on #532
From the logs, it successfully paused.
But when it transitioned to non-paused, it keeps failing to add new member:
[code]

[2016-12-27 18:29] hongchaodeng commented on #529
The messages here are too messy.
I'm digging details with cloud logging now. Gonna create a new issue with detailed analysis

[2016-12-27 18:29] #529 closed

[2016-12-27 19:06] hongchaodeng opened #534 "e2e flake: TestS3DisasterRecovery"
[code]

[2016-12-27 19:06] hongchaodeng commented on #534
In fact, the failure has nothing to do with disaster recovery. It couldn't even start the initial cluster.

[2016-12-27 19:11] hongchaodeng commented on #534
From the logs, right after controller has started, it just thinks "no etcd members exist":
[code]

A possible path is that it goes into cluster.Restore(), which doesn't create seed member.

There could be a race that:
- etcd cluster TPR created
- controller starts watching

[2016-12-27 22:20] hongchaodeng opened #537 "e2e flake: TestClusterRestoreS3"
[code]

[2016-12-27 22:24] xiang90 commented on #483
This is fixed by a series of prs.

[2016-12-27 22:35] hongchaodeng commented on #537
It seems like the container has crashed:
[code]

[2016-12-27 22:36] xiang90 commented on #537
@hongchaodeng What was the full flag set we provided to the container?

[2016-12-27 22:42] hongchaodeng commented on #537
@xiang90
We should be passing "test-etcd-szd6n-0000=http://test-etcd-szd6n-0000:2380"

[2016-12-27 23:48] hongchaodeng commented on #537
It happened again.

etcd cmd shown:
[code]

etcd container level log:
[code]

[2016-12-28 00:14] hongchaodeng commented on #537
@xiang90
I have managed to reproduce it.
It seems like if service name is not a valid one, the error will appear.
For example, if we start etcd:
[code]
Suppose "test-etcd-0000" is not a valid service name.
We will see
[code]

[2016-12-28 00:46] hongchaodeng commented on #537
I have a theory why it failed:
- the first cluster was deleted
- while the second was created, the first cluster was still being deleted. Unfortunately, the second failed to create svc because the first still existed around. The first later deleted them.
- the etcd pod of the second cluster failed with above message.

[2016-12-28 00:55] hongchaodeng commented on #537
@xiang90
If so, I think this problem will be solved by our lazy deletion.

[2016-12-28 00:55] xiang90 commented on #537
@hongchaodeng Can you somehow confirm your assumption?

[2016-12-28 01:34] hongchaodeng commented on #537
Sure. We can add more logging and correlate them.

[2016-12-28 05:58] hongchaodeng opened #545 "UpdateClusterTPRObject should return NonExist error if obj was deleted"
When deleting a cluster, the TPR object could have been gone from API server.
However, in operator, it will try to Update the object's status.
We should stop updating loop if object doesn't exist (e.g. deleted). Otherwise, it will infinitely loop.

[2016-12-28 08:09] hongchaodeng commented on #532
etcd pod logs when failing to add member (0003). One leader (0002) one follower (0001):

leader:
[code]

follower:
[code]

[2016-12-28 16:24] #545 closed

[2016-12-28 23:43] hongchaodeng commented on #532
Figured out the root cause:

The operator has actually added the member before, but the request failed:
[code]

On etcd pod:
[code]

When operator tried again, it gets error -- because when adding one more member, etcd thinks it will have 4 members.

[2016-12-29 05:59] hongchaodeng opened #551 "e2e flake: TestClusterRestore//restore_from_a_different_name_cluster"
[code]

Looking into operator logs:
[code]

[2016-12-29 06:05] hongchaodeng commented on #551
@xiang90
I see why it took so long.
The GKE cluster is stuck again.
Every time the GKE cluster is stuck, tests will fail due to some reqs failing.
GKE problem. Closing.

[2016-12-29 06:05] #551 closed

[2016-12-29 19:00] aaronlevy opened #552 "Allow customizing etcd podSpec by sourcing from podTemplate"
In some cases, a user may want to customize the etcd pods which are created by the etcd-operator, but this is not currently possible, as the podSpec is hard-coded in the operator itself.

An example use case:

Adding a custom annotation, such as `checkpointer.alpha.coreos.com/checkpoint=true` so that the CoreOS pod-checkpointer will save local copies of the launched etcd pods.

This could be hard-

[2016-12-29 19:36] hongchaodeng commented on #552
My thoughts:
Advantage point that some use cases might want to customize etcd pod spec, e.g. annotations, resources.
Disadvantage point that user now can do random things.

Due to the disadvantage point, we need to define what can be allowed to do.

[2016-12-29 19:38] xiang90 commented on #552
@aaronlevy @hongchaodeng

We should hard code self-hosted related annotation for now. we already have a special case for selfhosted. If more users start to want customized spec, we can do it. But I would like to wait to see the demand first.

[2016-12-30 02:59] hongchaodeng commented on #534
Closed via #541

[2016-12-30 02:59] #534 closed

[2016-12-30 03:18] hongchaodeng opened #557 "Testing cluster phases on bootstrap"
ref: https://github.com/coreos/etcd-operator/pull/555#issuecomment-269726876

Now we have cluster phases: None (""), Creating, Running, Failed. We should have state machine workflow of them and write tests to check the state machine.

[2016-12-30 22:46] hongchaodeng commented on #532
closed via #559

[2016-12-30 22:46] #532 closed

[2017-01-01 23:36] xiang90 commented on #375
Is this already resolved?

[2017-01-01 23:41] hongchaodeng commented on #375
Yes. Closing.

[2017-01-01 23:41] #375 closed

[2017-01-03 06:27] xiang90 commented on #500
@hongchaodeng is this fixed by https://github.com/coreos/etcd-operator/pull/571?

[2017-01-03 06:34] hongchaodeng commented on #500
Yes. closing.

[2017-01-03 06:34] #500 closed

[2017-01-03 06:34] hongchaodeng commented on #290
fixed by #571

[2017-01-03 06:34] hongchaodeng commented on #464
fixed by #571

[2017-01-03 06:37] xiang90 commented on #537
is this fixed?

[2017-01-03 06:48] hongchaodeng commented on #537
@xiang90
Should be fixed. This is actually rarely seen.

[2017-01-03 06:48] #537 closed

[2017-01-03 21:11] hongchaodeng commented on #464
Reopen. We need full GC to fix this.

[2017-01-03 21:11] hongchaodeng commented on #290
Reopen. We need full GC to fix this.

[2017-01-03 23:44] hongchaodeng opened #581 "e2e flake: failed to create 3 members etcd cluster: still failing after 5 retries"
From the logs, it looked like flaky:
[code]

[2017-01-04 03:19] hongchaodeng commented on #501
Just tried on latest master. Another issue:
[code]

[2017-01-04 06:58] hongchaodeng opened #588 "e2e flake: TestClusterRestore (data copy job pending timeout)"
https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/1093/console:
[code]

[2017-01-04 16:46] hongchaodeng commented on #588
The first failure was introduced by the new change in #585. Which we didn't merge, so we don't take as flake.

[2017-01-04 16:55] hongchaodeng commented on #588
The second failure was due to data copy job wait timeout:
[code]

It waits for such condition:
[code]

Actually our code logic isn't right that it could be "Failed" for PodCompleted to return true. But that isn't about this flake.

Back to the flake, it just means that the pod keeps pending.

[2017-01-04 17:10] xiang90 commented on #588
Why the copy job times out? The data should be under 1MB.

[2017-01-04 17:14] hongchaodeng commented on #588
It didn't even start. It keeps pending.

[2017-01-04 17:15] xiang90 commented on #588
But why it keeps pending?

[2017-01-04 17:16] hongchaodeng commented on #588
@xiang90

I actually think our current way to "copying volumes" isn't a clean and simple way to achieve this.
We probably shouldn't copy, but directly mount the volume. The volume management should be up to admin/users.

[2017-01-04 17:17] hongchaodeng commented on #588
My guess is volume detaching. You can try it out and have a feeling how long this whole thing interacts..

[2017-01-04 18:18] hongchaodeng commented on #588
ref: PodFailed check in #590

[2017-01-04 19:46] aaronlevy opened #594 "self-hosted etcd-cluster reporting phase: Failed"
After launching a self-hosted cluster using: https://github.com/aaronlevy/bootkube/tree/sh-etcd the etcd-operator TPR is reporting that `phase: Failed`.

Repro steps:

[code]

After the cluster has finished bootstrapping you can see that the replacement etcd node has launched:

[code]

however, the TPR reports status failed:

[code]

Logs from the operator (restarted once, so two separate containe

[2017-01-04 19:54] hongchaodeng commented on #594
From the logs, it looked like apiserver isn't responding. As a result, the cluster was failed to be created.

The failed reason is a little confusing but basically recreating an already-failed cluster isn't allowed. We would change that.

[code]

[2017-01-04 20:19] hongchaodeng commented on #594
@aaronlevy

Further analysis of this problem:
- after boot member is created, bootkube will exit right away.
- nonetheless, the cluster is still at "Creating" phase on operator side.
- We need to wait until cluster TPR is "Running" on bootkube

[2017-01-04 20:39] hongchaodeng commented on #594
fix PR on bootkube: https://github.com/kubernetes-incubator/bootkube/pull/259

[2017-01-05 00:08] hongchaodeng opened #597 "Failed status phase didn't show reason"

[2017-01-05 04:11] hongchaodeng opened #602 "e2e flake: TestFailureRecovery (backup EOF)"
Backup pod wasn't serving:

[code]

https://jenkins-etcd.prod.coreos.systems/job/etcd-operator/1111/console

[2017-01-05 04:17] #597 closed

[2017-01-05 19:07] hongchaodeng opened #606 "e2e flake: container "etcd" ... is waiting to start: PodInitializing"
[code]

[2017-01-05 19:14] hongchaodeng opened #607 "e2e flake: fail to wait pods deleted: still failing after 5 retries"

[2017-01-05 19:35] hongchaodeng commented on #606
Initial analysis:

seed "0000" was created first.
[code]
cluster then create another seed "0001"
[code]

[2017-01-05 19:36] hongchaodeng commented on #606
Sequence:
- we created pod "0000"
- when we list later, we didn't see "0000". OOPS!

I wouldn't say it's test failure. Because the failure is caused when we try to retrieve the pod's log.

[2017-01-05 19:36] hongchaodeng commented on #606
Closing

[2017-01-05 19:36] #606 closed

[2017-01-05 19:40] hongchaodeng commented on #606
Maybe we should print out the init container status. I will add that shortly.

[2017-01-05 21:49] hongchaodeng commented on #594
Closing this. This should be tracked on bootkube.

[2017-01-05 21:49] #594 closed

[2017-01-05 23:13] hongchaodeng commented on #464
fixed via #578

[2017-01-05 23:13] #464 closed

[2017-01-05 23:13] hongchaodeng commented on #290
fixed via #578

[2017-01-05 23:15] hongchaodeng commented on #265
Closing this.
Flakes outdated for too long doesn't have any value.

[2017-01-05 23:15] #265 closed

[2017-01-05 23:16] hongchaodeng commented on #298
I think that we should have a soak testing plan/docs for publishing a new release.

ref: our soak test phase 1 https://github.com/coreos/etcd-operator/issues/206

[2017-01-06 02:12] hongchaodeng commented on #588
We encountered this again.

Logs:
[code]

It's definitely not "Failed". I'm 99% sure it's "Pending", sent out #611 for further info.
If so, the pod just ends up waiting for k8s controller to detach volumes and time out after 120s.

[2017-01-06 02:15] hongchaodeng opened #612 "e2e flake: recovery_test.go:110: fail to wait backup deleted: still failing after 5 retries"
e2e flake:
[code]

Suspicious operator logs:
[code]

[2017-01-06 02:25] hongchaodeng commented on #612
My thoughts:
Due to the race that GC deleted RS first, backup manager failed, and returns, without deleting storage.

[2017-01-06 02:32] hongchaodeng opened #615 "GC and backup manager overlap-manages Backup RS"
See https://github.com/coreos/etcd-operator/issues/612

[2017-01-06 02:32] hongchaodeng commented on #615
@xiang90
I think we should remove that responsibility from backup manager

[2017-01-06 02:39] xiang90 commented on #615
Hmm... I guess it is fine after we added the notFound error checking.

[2017-01-06 02:41] hongchaodeng commented on #615
@xiang90 Just to clarify. This is not full GC, but lazy GC.
Basically, we call gc.CollectCluster() first, then bm.cleanup(). So they are overlapping each time we are deleting cluster

[2017-01-06 02:41] #612 closed

[2017-01-06 02:45] hongchaodeng commented on #615
Yep.
There are two motivations: 1. efficiency as you mentioned; 2. we aren't GC-ing backup service. I'm inclined to combining these two and also put backup service into GC.

[2017-01-06 02:46] xiang90 commented on #615
We can do this after we fix our e2e?

[2017-01-06 02:47] hongchaodeng commented on #615
Sure. Just to create this issue to track

[2017-01-06 05:08] hongchaodeng commented on #607
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/229/console

At the end:

e2e logs:
[code]

operator logs:
[code]

[2017-01-06 05:09] hongchaodeng commented on #607
From logs, operator have created and then deleted cluster and its resources.

[2017-01-06 05:21] hongchaodeng commented on #607
One cause is that the DELETE operation reflects too slow (25s) on APIServer even though on operator side delete() returns.

[2017-01-06 05:29] hongchaodeng commented on #607
This happened again: https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/1130/console

Seems like an annoying issue.

Again
[code]

Operator deletes it:
[code]

[2017-01-06 05:30] xiang90 commented on #607
If this is easy to reproduce, let's try to make the waiting longer to see if this can go away.

[2017-01-06 05:30] xiang90 commented on #607
We do not really control the API server, so if the slowness is caused by api server there is nothing we can do.

[2017-01-06 06:56] hongchaodeng commented on #607
tracked at https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/

[2017-01-06 16:35] hongchaodeng commented on #607
This still happen:
[code]

[2017-01-06 17:43] philips opened #619 "RBAC: document a policy for the operator"
etcd-operator deployment example doesn't work on Tectonic installs by default because RBAC is in place. We need to have a step to set this up properly.

cc @ericchiang @rithujohn191

[2017-01-06 17:44] philips commented on #619
Error:

[code]

[2017-01-06 18:26] hongchaodeng commented on #602
Happened again:
[code]

[2017-01-06 18:30] hongchaodeng commented on #602
From the backup pod's log:
[code]

Seems like a normal flake.

[2017-01-06 18:33] philips commented on #619
Here is my "run it as admin" solution just for now.

[code]

We should have a real policy like identity does, something like this (totally untested):

[code]

[2017-01-06 18:33] hongchaodeng commented on #581
Happened again:

This time it's a little different:
- it successfully created the first cluster, deleted the cluster, and restored the seed.
- it failed to create the third member of the second cluster (restored)
[code]

[2017-01-06 18:34] hongchaodeng commented on #619
@philips
We encountered the same issue when migrating to k8s v1.5 on GCE.
See https://github.com/coreos/etcd-operator/issues/501#issuecomment-270286401

[2017-01-06 18:47] hongchaodeng commented on #581
I looked at the logs. The whole thing seems to take very long.

This is where the first cluster was deleted
[code]

This is where the second cluster was failed and deleted
[code]
It roughly matches 3 mins = 3*60s = 18 (retry) * 10s.

The cluster was starting to restore at
[code]

That's already 90s passed! Then nothing seems to be wrong but no enough time left!

[2017-01-06 19:05] hongchaodeng commented on #619
@philips
I'm not familiar with RBAC.
Do you know why do we have that error? What role is the operator when issuing the request? And what's the ACL for that?

[2017-01-06 19:53] hongchaodeng commented on #607
Conclusion on this issue:
- apiserver should immediately delete with grace period 0
- but we can still get the pod after delete
- kubelet stuck in reporting to apiserver.

[2017-01-06 19:55] hongchaodeng commented on #607
Next action:
- We will try to reproduce this by constantly creating and deleting pods.

[2017-01-06 21:09] hongchaodeng commented on #581
Conclusion:
- We need to add timestamp to e2e test log
- We need to measure how long each operation takes, have better expectation, and understanding distribution

[2017-01-06 21:26] hongchaodeng commented on #581
Cause:
- The reason why it took so long between deleting previous cluster and receiving a new cluster to restore is that our test is concurrent but operator is blocking. In our test, we have two restore cases to do, each creation of seed member will take 90s. This will likely cause another to fail.

[2017-01-06 21:27] hongchaodeng commented on #581
I actually think this should be the issue of #588. Moving there.

[2017-01-06 21:28] hongchaodeng commented on #588
Cause:
- The reason why it took so long between deleting previous cluster and receiving a new cluster to restore is that our test is concurrent but operator is blocking. In our test, we have two restore cases to do, each creation of seed member will take 90s. This will likely cause another to fail.

[2017-01-06 21:29] hongchaodeng commented on #588
Happened again:

This time it's a little different:
- it successfully created the first cluster, deleted the cluster, and restored the seed.
- it failed to create the third member of the second cluster (restored)
[code]

[2017-01-06 22:28] hongchaodeng commented on #602
Cause:
- Once waited backup pod running, e2e client issued "backupnow" request to backup pod
- backup pod tried to get max rev of each etcd member
  - there is a member (last member 0002) that hadn't come up yet. So creating etcd client failed.
  - some wrong logic in backup caused it to crash. Thus EOF.

[2017-01-06 23:18] hongchaodeng opened #622 "Use "tolerate-unready-endpoints" to check etcd pod readiness"
ref:
- https://github.com/kubernetes/kubernetes/issues/39207
- https://github.com/kubernetes/kubernetes/issues/39363

When etcd starts, it has a bootstrap phase that talks to other peers:

Start -> bootstrapping -> running/serving

If "bootstrap" phase failed, it is the same as dead because no data is available, no quorum information is known.

However, if we start etcd in a Kubernetes Pod, even i

[2017-01-06 23:24] #602 closed

[2017-01-07 04:34] hongchaodeng opened #624 "Do not panic if too many unhandled events"
We rarely receive that many events for a cluster.
But this is definitely something we should fix:
[code]

[2017-01-07 06:29] hongchaodeng opened #627 "e2e flake: recovery_test.go:138: pods "test-etcd-1nids-0000" not found"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator/1138/console
[code]

[2017-01-07 16:11] philips commented on #619
@hongchaodeng RBAC means that service accounts are locked down to certain actions. Essentially we need to define a role and then bind that role to the service account.

[2017-01-07 18:54] hongchaodeng opened #628 "e2e flake: [S3] unable to access bucket jenkins-etcd-operator"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/165/console

Operator logs:
[code]

[2017-01-07 18:58] hongchaodeng commented on #628
Sorry.
This is with the async New() commit. I better keep it somewhere else.

[2017-01-07 18:58] #628 closed

[2017-01-09 23:06] hongchaodeng commented on #627
I looked into the logs again.
It seems that operator might have removed it due to disaster recovery.

[2017-01-10 00:23] hongchaodeng commented on #627
fixed via #636

[2017-01-10 00:24] #627 closed

[2017-01-10 06:59] hongchaodeng commented on #607
This is caused by cluster blocking each other due to controller sequentially handling cluster one by one.

Evidence:

On e2e:
[code]
'test-etcd-8oqrs' was deleted before that.

Operator handles another cluster in between and blocks:
[code]

On operator, it deletes 'test-etcd-8oqrs' 40s afterwards:
[code]

[2017-01-10 21:14] xiang90 commented on #622
We cannot use alpha feature (as a general rule). We can start to try it out when it becomes beta. Let's keep our workaround for now.

[2017-01-10 22:43] #607 closed

[2017-01-10 22:43] hongchaodeng commented on #588
fixed via #639

[2017-01-10 22:43] #588 closed

[2017-01-10 23:28] hongchaodeng commented on #581
This is similar to #588
fixed via #639
Never seen this after we fix the bug.

[2017-01-10 23:28] #581 closed

[2017-01-10 23:41] hongchaodeng opened #640 "e2e flake: TestSelfHosted, migrate boot member, failed to create 3 members etcd cluster"
[code]

[2017-01-10 23:41] hongchaodeng commented on #640
From operator logs, this cluster failed to migrate:
[code]

[2017-01-10 23:42] hongchaodeng commented on #640
From operator logs, there is another self hosted cluster that should fail:
[code]

It doesn't show up in the test output though.

[2017-01-11 07:11] xiang90 opened #641 "enable race detector in e2e test"
we should enable race detector in our test soon as the operator becomes more concurrent.

[2017-01-12 18:35] hongchaodeng commented on #501
another regression on GC unable to recognize kind in REST mapping: https://github.com/kubernetes/kubernetes/issues/39816

[2017-01-13 17:27] heyitsanthony opened #645 "rack / failure domain awareness for total disaster recovery"
etcd docs suggest running with an odd number of nodes because even membership does not improve tolerance of node failure. However, an even number of nodes can guarantee complete recovery across failure domains. If one domain is destroyed, quorum is permanently lost, but provided the members are evenly split between domains, the other domain is guaranteed to have at least one member with complete k

[2017-01-13 20:13] hongchaodeng commented on #496
I have finished the change. Since it's a huge change, I'm going through two testing plans:
- Run with jenkins for 20 times
- soak-testing with one cluster for a while

[2017-01-13 20:14] xiang90 commented on #496
thanks for keeping us posted.

[2017-01-13 21:05] xiang90 commented on #645
Interesting idea. etcd operator is not rack or dc awareness right now. we should explore this idea when we get there.

[2017-01-14 01:16] hongchaodeng opened #647 "master is failing..."

[2017-01-14 01:50] hongchaodeng commented on #647
Update Members constantly failing:

[code]

[2017-01-14 02:00] hongchaodeng commented on #647
It happened during member listing from seed member.

seed member was created, operator logs:
[code]

Seed member logs:
[code]

Operator keeps failing:
[code]

[2017-01-14 02:02] hongchaodeng commented on #647
namespace also get stuck:
[code]

[2017-01-14 02:52] hongchaodeng commented on #647
Restarted gke cluster again. Now have only one failure:
[code]

Due to long PVC mount:
[code]

[2017-01-14 03:22] icyxieex opened #648 "remove dead members firstly"
* use case: we have 5 members at first, 2 die , and then the user sets sepc.size = 3
reconcileMembers() will remove one dead member, we have 4 members> sept.size,
next one random member will be removed with the dead member may not be treated.
* as @xiang90 proposed, we should remove the dead member at each reconcile

[2017-01-14 03:27] xiang90 commented on #648
@icyxieex Assigned.

[2017-01-14 05:16] hongchaodeng opened #649 "glide is broken"
The glide in jenkins is actually now using some weird cache.

After deleting the cache:
[code]

Even if I manually added back client-go v1.4.0, it would still fail:
[code]

Even previous command will fail:
[code]

[2017-01-14 05:17] hongchaodeng commented on #649
My thought is that we should just save vendor/ in our codebase

[2017-01-14 05:50] hongchaodeng commented on #649
Neither `glide vc --only-code --no-tests` nor `glide install/update --strip-vendor --skip-test` would work.

Without stripping, the entire vendor size is also uncomfortable:
[code]

[2017-01-14 07:05] hongchaodeng commented on #649
So I think the "--strip--vendor --skip--test" flags should work.

However, it doesn't vendor test dependency, where we need embed etcd. We can work around it, and finally have around 31MB vendor.

[2017-01-14 07:09] hongchaodeng commented on #647
Test 10 times and all passed reverting https://github.com/coreos/etcd-operator/pull/646

[2017-01-14 07:09] #647 closed

[2017-01-14 07:16] xiang90 commented on #649
I do not understand this.

[2017-01-14 07:21] hongchaodeng commented on #649
For this repo case, If I run the stripping flags, it doesn't vendor "github.com/boltdb/...". Because in "normal" code, it only uses etcd client. We use "github.com/etcd/embed" in self_hosted_test.go. But if I put the startEmbedEtcd() code in another non test file, e.g. "embed_etcd.go", then it will be left after stripping.

[2017-01-14 18:26] hongchaodeng commented on #649
The "strip-vendor" problem should be fixed by https://github.com/coreos/etcd-operator/pull/650.

The normal "glide install" seems be my own problem. Closing.

[2017-01-14 18:26] #649 closed

[2017-01-15 06:59] hongchaodeng opened #652 "controller restore (due to rev compaction) doesn't need to "kill" clusters"
Currently, if APIServer returns error like StatusGone (i.e. rev compacted), controller will need to restart:
- signals all cluster "manager" to delete (or "exit").
- waits them
- relists all clusters and restarts those cluster "managers"
- watches again.

During this restart, some knowledge will be lost (e.g. membership) and need to reinstated. We can probably optimize this without "killing" all c

[2017-01-17 19:16] hongchaodeng opened #655 "Reviewing TPR naming/versioning before next release"
Our previous TPR naming isn't well thought enough. For example, we just "v1" for apiVersion.

Another problem is our TPR naming ("etcd-cluster.coreos.com") also needs further review.

We need to review these two before beta release.

[2017-01-18 10:04] andrewwebber opened #657 "Operator sends k8 controller garbagecollector into an infinite loop"
I have a 'coreos-baremetal' cluster that when a etcd-cluster is launched by the etcd-operator to k8-controller goes crazy.

This eventually causes the k8-controller node to run out of disk space.
Workaround currently is to hourly kill and restart the controller container :(

[code]

[2017-01-18 16:29] hongchaodeng commented on #657
This is known issue in k8s 1.5 regression: https://github.com/coreos/etcd-operator/issues/501#issuecomment-272244060

We don't support k8s 1.5 until upstream fixes it.

[2017-01-18 16:29] #657 closed

[2017-01-18 16:31] hongchaodeng opened #658 "e2e flake: restore_from_a_different_name_cluster"
[code]

[2017-01-18 16:33] #648 closed

[2017-01-18 18:03] hongchaodeng opened #659 "Dumping e2e tests' logging into public cloud storage"
Currently our logging of e2e tests are dumped into google cloud logging and only authorized CoreOS people can see it. If contributors' PRs didn't pass the CI, they might also want to view the logs and try to debug. We could improve the test infra to dump the logs into public cloud storage so that contributors can see it.

[2017-01-18 18:20] hongchaodeng commented on #658
Operator logs:
[code]

[2017-01-18 18:23] hongchaodeng commented on #658
For a normal case, it could be really fast
[code]

[2017-01-18 21:13] hongchaodeng commented on #640
Not seeing this anymore.
We can revisit this if there is real use case that needs more robustness in removing boot member.

[2017-01-18 21:13] #640 closed

[2017-01-21 02:48] xiang90 commented on #496
@hongchaodeng Shall we close this out?

[2017-01-21 03:13] hongchaodeng commented on #496
Leader election code isn't imported yet.

[2017-01-21 03:15] hongchaodeng commented on #496
I will submit a PR to upstream to import leader election code for client-go 1.5 branch.

[2017-01-21 06:24] hongchaodeng opened #664 "MemberRemove() panic: Unexpected error from context packet: context deadline exceeded"
Encountered a panic in operator in jenkins causing test failure with change (https://github.com/coreos/etcd-operator/pull/663)

[logs](https://console.cloud.google.com/logs/viewer?project=coreos-k8s-scale-testing&authuser=1&minLogLevel=0&expandAll=false&resource=container%2Fcluster_name%2Fjenkins2%2Fnamespace_id%2Fe2e-etcd-operator-1008&advancedFilter=resource.type%3D%22container%22%0Aresource.lab

[2017-01-21 06:26] hongchaodeng commented on #664
Seems to be panicking all the time.
[code]

[2017-01-21 06:36] hongchaodeng commented on #664
Seems to have recovered on the same commit: https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/978/

[2017-01-21 06:40] hongchaodeng commented on #664
I see. This seems to be using the wrong "context" package.

[2017-01-21 07:18] #664 closed

[2017-01-21 07:20] xiang90 commented on #496
Fixed.

[2017-01-21 07:20] #496 closed

[2017-01-21 07:28] xiang90 opened #667 "doc: s3 backup"
we need to cover:

- how snapshot files are named
- how backup sidecar will access the s3 buckets
  - create a backup every interval
  - purge backup when number reaches X
- how user should pull backup from s3

[2017-01-21 08:29] dhilipkumars commented on #404
Thanks, if someone writes a new operator.  Where do we contribute it right now? coreos or kubernetes?

[2017-01-21 16:53] xiang90 opened #669 "doc: get backup from backup sidecar"
If a user deploy a etcd cluster A with backup enabled. They should also be able to get the backup from the sidecar directly with a simple HTTP call (cURL for example). We need to document how they can do that.

[2017-01-22 22:47] hongchaodeng opened #670 "etcdserver: failed to purge wal file: no such file or directory"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/282/
[code]

[2017-01-23 19:53] hongchaodeng commented on #658
Not seeing for a week.
Not critical flake.
Closing.

[2017-01-23 20:26] xiang90 commented on #658
we should not close a flake just because we have not seen it for a while. We need to know the root cause.

[2017-01-23 21:03] hongchaodeng commented on #658
It's not critical and not etcd operator problem according to the logs.
The copy job's pod is created and keeps "Pending" for a long time.

[2017-01-25 21:16] xiang90 opened #673 "versioning backup sidecar API"
Clearly, it becomes a user facing API once we want to enable user driven disaster recovery when K8S itself is down.

[2017-01-25 21:25] xiang90 opened #674 "stabilize release image"
the default release image should be versioned.

we should create a etcd-operator-dev image to track github master.

[2017-01-25 21:41] hongchaodeng commented on #674
I agree.
After beta, we should set "quay.../etcd-operator:latest" to latest version.

[2017-01-25 22:04] #669 closed

[2017-01-25 22:05] hongchaodeng commented on #667
This belongs to more general backup doc.

[2017-01-25 22:08] xiang90 commented on #667
Sure.

[code]

[2017-01-25 22:57] xiang90 opened #675 "CI: add upstream master test"
1.5 regressions hit us pretty seriously. to become a better k8s citizens and avoid issues, we'd better help test k8s head to catch any potential regression early.

idea: add k8s master test. that cluster will be rebuilt every night automatically.
it wont block our pr, but we can see if it fails.

/cc @hongchaodeng @philips

[2017-01-25 23:42] philips commented on #675
cc @ethernetdan

[2017-01-26 03:40] hongchaodeng opened #677 "grace period should be non-zero for etcd pods"
ref: https://kubernetes.io/docs/user-guide/pods/#termination-of-pods

Currently, etcd operator deletes pods with zero grace period. This gives etcd server very little time to do graceful shutdown (e.g. completing current requests, releasing any remote resources like locks, connections).

We should change the grace period to non-zero like 5s as a better practice.

One problem I see is that on extre

[2017-01-26 03:47] xiang90 commented on #658
OK. This seems like a storage attachment slowness issue from K8S. I agree. Closing.

[2017-01-26 03:47] #658 closed

[2017-01-26 03:49] hongchaodeng commented on #290
These two cases aren't fixed:

[2017-01-26 04:05] xiang90 commented on #674
What does this mean? I think quay.../etcd-operator should never track our master branch anymore. it should track the release branch.

[2017-01-26 04:10] hongchaodeng commented on #674
Yes. It's release branch. The latest release version, e.g. I have release "v1.0", "v1.1", "latest" = "v1.1"

[2017-01-26 04:11] xiang90 commented on #674
sure.

[2017-01-26 16:59] hongchaodeng commented on #456
fixed via #678

[2017-01-26 16:59] #456 closed

[2017-01-26 17:46] #670 closed

[2017-01-26 19:39] hongchaodeng commented on #673
Action plan:
- make backup service API versioned: `/v1/backup?etcdVersion=v3.1.0`
- make S3 dir versioned: `${BUCKET_NAME}/${CLUSTER_NAME}/v1`
- We are still in progress deciding how to deal with PV stuff. It's not final yet. Let's deal with it once it's more clear.

[2017-01-26 20:13] xiang90 commented on #673
ok

[2017-01-27 00:36] xiang90 opened #682 "backup: add backup client"
now we make raw http request to backup sidecar in other pkgs. we'd better create a backup client inside backup pkg for better API + versioning.

[2017-01-27 03:15] xiang90 opened #685 "backup service: add metadata into backup response"
we need to add meta info into the backup HTTP response

[code]

[2017-01-27 18:55] xiang90 commented on #356
@hongchaodeng Based on our offline discussion, we will still keep today's simple cloud based solution for creating one storage pool for all clusters.

We will add a storage class field for cluster.spec.bacup.spec in the future if there is a request.

Can you update this issue (or create a new one) to reflect that?

Thank you.

[2017-01-27 19:28] hongchaodeng commented on #356
Updated.

I'm closing this issue and creating another one to better keep track of it.

[2017-01-27 19:28] #356 closed

[2017-01-28 03:03] hongchaodeng opened #691 "Provide storage class options in cluster backup spec"
Currently, we only allow GCE, AWS as input and set up storage class for users. This is simple and cloud based for most users, especially new ones.

For the future, if there are user requests, we will add storage class field in backup spec. This issue to track it.

[2017-01-28 03:03] hongchaodeng commented on #356
track: https://github.com/coreos/etcd-operator/issues/691

[2017-01-28 23:10] #673 closed

[2017-01-28 23:27] hongchaodeng opened #692 "versioning PV backup API"
Continue https://github.com/coreos/etcd-operator/issues/673

## Problem:
- how to get data from PV directly?
- version above API

## Proposed solution

First of all, We need a way to tell user what PV is for a specific cluster. In my experience, a PV created on GCE will have "pdName" indicating the actual disk's name.
For example, the following PV:

[code]

its disk name is `gke-jenkins-349dcc6c-d

[2017-01-28 23:32] xiang90 commented on #692
It is the relevant part to this issue I assume. This looks good to me.

[2017-01-29 00:04] hongchaodeng opened #693 "e2e test timeout, blocking on ReadyNotify()"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/300/consoleText

It blocks on test/e2e/self_hosted_test.go:92:
[code]

[2017-01-29 00:05] hongchaodeng commented on #693
I have seen this a few times since upgrading to 3.1.0 . Might be a potential regression.

[2017-01-29 04:01] xiang90 opened #696 "add backup status"
we should add backup status into TPR including:

- [x] created time of most recent backup
- [X] size of the most recent backup
- [X] time spent on saving the most recent backup
- [X] number of backups
- [x] total size of backups

[2017-01-29 06:15] hongchaodeng commented on #685
fixed via #695

[2017-01-29 06:15] #685 closed

[2017-01-29 06:49] immesys opened #699 "Warn users about DOS"
While trying out the etcd operator I brought down the entire cluster due to https://github.com/kubernetes/kubernetes/issues/39816

Perhaps a note in the readme until the issue is solved?

[2017-01-29 07:14] hongchaodeng commented on #699
Right. That's an k8s issue.

What kind of note are you expecting to see in readme?

[2017-01-29 07:19] immesys commented on #699
Well it doesn't seem that they are pushing a fix for that issue soon (it's closed at the moment), so perhaps something like "as of Kubernetes 1.5.1 following this guide will bring down all your masters, please check k8s issue <>"

I'm not at all trying to say this is your problem, just that when I read "this is alpha" I assumed that this service itself (etcd operator) may not work as expected, not

[2017-01-29 07:22] hongchaodeng commented on #699
@immesys
Even though it's alpha, we have always maintained the stability of master and have extensive e2e testing. We are moving towards beta soon.

Sure. I will put a note.

[2017-01-29 19:29] mikedanese commented on #699
This also happens in 1.4.

[2017-01-29 20:16] #699 closed

[2017-01-29 20:22] hongchaodeng commented on #699
@mikedanese
We are running test against 1.4 all the time and haven't seen it as severe as 1.5 . We are using GKE so we don't have the logs of controller manager. Will try to verify it.

[2017-01-29 21:28] hongchaodeng opened #703 "Backup spec should have type specific spec"
Current backup spec has two limitations:
- field `VolumeSizeInMB` is very PV specific. We should probably group this into PV specific spec:
[code]
- we provide `StorageType` to let user select the storage they want, but doesn't have type specific configuration. For example, PVC's class, selector.

In order to make our backup spec more extensible, we should have type specific spec. We could change

[2017-01-30 01:35] hongchaodeng commented on #693
@xiang90
Just to clarify further this issue.
The timeout is caused by following code:
[code]
It doesn't even create any etcd cluster yet.

It's not newly introduced in https://github.com/coreos/etcd-operator/pull/698. This has happened on master branch. That's why I created this issue.

This is probably etcd v3.1.0 regression. I didn't have time to report or reproduce it yet.

[2017-01-30 02:26] hongchaodeng opened #704 "use "go install" in build script"
Currently, `hack/build/operator/build` is "go build"-ing each time. If we use "go install", it's much faster:

[code]

"go install" won't rebuild everything.
This would be very useful for local development if frequently changing the code and rebuilding it.

[2017-01-30 02:40] xiang90 commented on #693
@hongchaodeng

OK. I asked you to paste the logging since I am 90% sure it is not introduced by etcd server.

I guess you would probably come with the same conclusion if you ever read the logging from https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/300/consoleText or other similar failures. At least, you wont be so certain that is has nothing to do with the operator or the test c

[2017-01-30 03:34] hongchaodeng commented on #693
No assumption here. It's all reasoning. Pasting log if needed. But we can't paste all logs here. We should paste only relevant logs.

If you look at https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/1268/consoleText,
the obvious relevant log is:
[code]

Why do we need to paste operator log? What log is interested and needed?

[2017-01-30 04:00] xiang90 commented on #693
@hongchaodeng

This logging line has zero context. It is impossible to use it to debug. I do not think I can get any useful information for this single logging line. I can infer nothing here.

When I read the relevant log with context showed below, at least I know something went wrong before we started the self hosted etcd. (We still need operator logging to know what the root cause, what happened

[2017-01-30 04:11] hongchaodeng commented on #693
operator logs around that time:
[code]

However, they are all belonging to cluster `test-etcd-8aof2`. I'm sure this is the cluster in another parallel test because it doesn't migrate a boot member.

[2017-01-30 04:29] xiang90 commented on #693
@hongchaodeng

But look here

we use the same member dir name for all embed tests. So even if they belongs to different cluster test, they can conflict with each other. Can you fix it with using different member dirs (probably use a random one)?

[2017-01-30 04:32] hongchaodeng commented on #693
@xiang90
That made sense.
We probably need to figure out all shared stuff for:
[code]

[2017-01-30 04:40] xiang90 commented on #693
@hongchaodeng You have already fixed the port conflict early. That is probably why dir conflict showed up.

Now we need to fix this line: https://github.com/coreos/etcd-operator/blob/master/test/e2e/self_hosted_test.go#L74.

There are no other possible conflicts as far as I can tell now.

[2017-01-30 05:55] #693 closed

[2017-01-30 20:35] hongchaodeng opened #706 "e2e: etcd pod keeps "pending""
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator/1271/consoleText

test failed:
[code]

Looking into operator logs:
[code]
There is a pod keeps pending.

Although at last the pod resumes:
[code]

Time's up. Test failed

[2017-01-30 21:22] #290 closed

[2017-01-30 22:12] #704 closed

[2017-01-31 00:26] hongchaodeng opened #709 "versioning operator base image"
Currently we use "alpine:lates". Need to version that too.

[2017-01-31 05:47] hongchaodeng opened #710 "backup pod left even after both cluster and backup RS are deleted"
To reproduce it:
k8s version: v1.4.8
[code]

[2017-01-31 19:37] hongchaodeng commented on #703
fixed via #708

[2017-01-31 19:37] #703 closed

[2017-01-31 23:00] hongchaodeng commented on #710
Work again on GKE 1.5.2

[2017-01-31 23:00] #710 closed

[2017-01-31 23:00] hongchaodeng commented on #710
closing because this is not reproducible

[2017-02-01 01:07] #709 closed

[2017-02-01 05:57] xiang90 commented on #655
It seems that the only thing we need to do is to bump the apiVersion to v1, indicting that the spec is stable now?

[2017-02-01 06:37] xiang90 commented on #655
Actually it is already v1 :(... We made a mistake before. Closing this one.

[2017-02-01 06:37] #655 closed

[2017-02-01 07:18] #692 closed

[2017-02-01 18:15] hongchaodeng opened #715 "e2e flake: TestClusterRestore/.../restore_from_the_same_name_cluster"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/312/consoleText
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1409/consoleText

It fails to create 3 member cluster after restored:
[code]

From operator logs:
[code]
It took about 09:50 -- 11:52, almost 3 minutes, for the backup service to become available.

[2017-02-01 18:37] hongchaodeng commented on #715
On passing case, it takes only 10s, no error:
[code]

[2017-02-01 21:31] #355 closed

[2017-02-01 21:34] #677 closed

[2017-02-01 21:35] xiang90 opened #719 "report test code coverage"

[2017-02-01 22:16] xiang90 opened #722 "operator: add watchdog"
Operator can gracefully recover from a restart.

To program defensively, we should add a watchdog feature to simply kill the operator itself
if it detects a potential deadlock or unbounded blocking.

[2017-02-01 22:54] #641 closed

[2017-02-02 04:02] #624 closed

[2017-02-02 06:18] xiang90 commented on #652
#727 solves this in another way. We do not really need to restart controller in every out of date event. We only restart when necessary. So we do not need to worry about the inefficiency of the state build that much. Of course, we can still try to optimize it (not killing clusters even if restart happens) in the future.

/cc @hongchaodeng

[2017-02-02 17:45] hongchaodeng commented on #715
After updating wait time from 180s to 240s, I haven't seen this anymore for ~100 builds.

[2017-02-02 18:12] xiang90 commented on #715
Let's close this.

[2017-02-02 18:13] hongchaodeng commented on #715
@xiang90
We haven't updated the timeout in master :) It's only in test branch.

[2017-02-02 18:17] xiang90 commented on #715
@hongchaodeng Actually can you create another issue to track the unexpected wait? I am curious about it can take up to 240s while it only takes 10s in normal case.

[2017-02-02 18:44] hongchaodeng opened #728 "investigate why sometimes wait to restore takes so long"
continuing https://github.com/coreos/etcd-operator/issues/715

On normal case, it took only 10s from  a backup RS is created to backup service is ready. But sometimes this could take > 180s.

GKE version: 1.5.2

[2017-02-02 19:00] #715 closed

[2017-02-02 19:04] hongchaodeng opened #730 "e2e flake: TestFailureRecovery (PVC keeps pending)"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1497/consoleText

From operator logs:
[code]

[2017-02-02 19:05] hongchaodeng commented on #730
This is somehow expected.. We can't do anything if PVC isn't setup.

[2017-02-02 19:06] xiang90 commented on #730
Can we know why PVC is pending so long?

[2017-02-02 19:26] hongchaodeng opened #731 "backup pod: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1445/consoleText

[code]

[2017-02-02 19:27] hongchaodeng opened #732 "e2e flake: fail to wait services deleted"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1442/consoleText

[code]

[2017-02-02 20:04] hongchaodeng commented on #706
Happened again:

https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1444/consoleText
[code]

[2017-02-02 20:05] xiang90 commented on #706
/cc @pbx0 has also seen this once.

[2017-02-02 20:52] #615 closed

[2017-02-02 21:03] pbx0 commented on #706
Yes, I've had trouble reproducing this. Here are some incomplete logs I saved when looking at it the first time:

`kube-system   kube-etcd-0002     0/1       Init:CrashLoopBackOff   5        4m`

The last etcd pod out of 3 eventually ended up crashlooping and I had similar logs from the etcd-operator which was also restarting occasionally.

[code]

[2017-02-02 23:27] hongchaodeng opened #735 ""etcd-operator" endpoint is left after operator is deleted"
Operator will create "etcd-operator" endpoint due to leader election logic. We need to either document this to guide user to delete it, or catch SIGTERM to delete automatically.

[2017-02-03 00:26] hongchaodeng commented on #730
I just realized another problem.

There are some garbage disks left on GCE:
![screen shot 2017-02-02 at 4 24 07 pm](https://cloud.githubusercontent.com/assets/920884/22574503/1153461a-e964-11e6-9164-b6cd5b5f6895.png)

Although not confirmed, I suspect it was caused by this kind of failures.

[2017-02-03 04:35] hongchaodeng commented on #730
We need to resolve this failure.
It happens quite frequently

[2017-02-03 04:37] hongchaodeng commented on #730
I have tried to increase the wait PVC time from 20s to 60s to test if it's a timing issue, or if it's never bound.

[2017-02-03 05:28] #652 closed

[2017-02-03 06:56] hongchaodeng opened #737 "operator metrics"
There are some metrics that we should expose so that users can better understand what happened if pressures goes up -- mem rises, cpu tight, requests burst.

This issue serves to track it and eventually we should expose prom metrics via http.

Some thoughts:
- status code from apiserver
- when operator rebuilds cache for all clusters.

[2017-02-03 18:52] hongchaodeng commented on #730
OK. So after bumping up wait time to 60s, this failure doesn't show again for over a night's tests.

[2017-02-03 18:53] hongchaodeng opened #738 "e2e flake: early operator "shutting down, got signal: Terminated""
When e2e finishes, we will delete the pod. But in flaky tests, we saw that operator was terminated earlier than e2e finished.

[2017-02-04 18:40] hongchaodeng commented on #730
Run for another day. No failure after bumping up to 60s.

Now we are sure that it's just taking >20s from PVC is created to PVC is bound:

https://github.com/coreos/etcd-operator/blob/91c21ac04caafaa99e434fc7fbf96732cbb32c11/pkg/util/k8sutil/backup.go#L90-L105

[2017-02-04 18:51] xiang90 commented on #730
What is the normal creation time? We shall create an issue on k8s upstream.

[2017-02-04 19:38] hongchaodeng commented on #730
One example:
[code]

4s for everything to be created.

[2017-02-04 19:40] xiang90 commented on #730
@hongchaodeng Can you create an issue on upstream k8s? Explain that we observed some abnormal latency on creating PVC?

[2017-02-04 22:30] hongchaodeng commented on #730
This is GKE cluster. Should we report to GKE?

[2017-02-04 22:35] xiang90 commented on #730
upstream please. the gce pd plugin is part of upstream k8s support

On Feb 4, 2017 2:31 PM, "Hongchao Deng" <notifications@github.com> wrote:

[2017-02-05 01:38] xiang90 commented on #730
Tracking at https://github.com/kubernetes/kubernetes/issues/40972 now.

Let's bump the timeout and close it?

[2017-02-05 02:32] #730 closed

[2017-02-05 03:38] xiang90 commented on #732
@hongchaodeng I cannot open the url in the issue. Can you check if it is correct?

[2017-02-05 03:40] xiang90 commented on #731
I cannot open the log. Can you check if the url is correct?

[2017-02-05 05:41] hongchaodeng commented on #731
@xiang90
The jenkins only store most recent 100 tests. Unfortunately we build 100 tests a day. So it's gone.

[2017-02-05 05:43] hongchaodeng commented on #732
The jenkins only store most recent 100 tests. We build 100 tests a day. So it's gone.

[2017-02-05 05:52] xiang90 commented on #731
@hongchaodeng Can we fix it fixed? Or we probably do this as etcd issues (always pre process log, copy related log to github issue when possible).

[2017-02-05 06:09] hongchaodeng commented on #731
Didn't catch that.

I agree we need some workflow for saving logs. Currently the logs isn't easy to copy and save around. We need to have some solutions for this.

[2017-02-05 06:14] hongchaodeng opened #740 "e2e flake: etcd pod "die" unexpectedly"
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1755/consoleText
e2e log:
[code]

operator logs:
[code]

etcd pod (test-etcd-rp49c-0000)'s log:
[code]

[2017-02-05 06:14] xiang90 commented on #731
I mean can we get this fixed? Like can we increase 100 to 1000 temporarily?

[2017-02-05 06:15] xiang90 commented on #740
I did not see anything from the pod log to indicate it was killed. etcd should always log when it exists.

[2017-02-05 06:16] hongchaodeng commented on #740
The etcd pod "test-etcd-rp49c-0000" has died from k8s api and couldn't respond to client .

[2017-02-05 06:16] hongchaodeng commented on #740
@xiang90
So from k8s api, it doesn't existed.
Second evidence is that it doesn't respond to client req:
[code]

[2017-02-05 06:17] xiang90 commented on #740
Do we have the log on kubelet (like events or anything from kubelet log)? Does the node say anything about the pod?

[2017-02-05 06:21] hongchaodeng commented on #731
@xiang90
We didn't have any retry on this. This is rare case so we don't bother to make it robust.
When we try to make a backup in that test, the backup pod is ensured to be up. And we talk directly to pod ip.

I checked again the backup pod's log:
[code]
This is totally wrong.. It's a pod, but it couldn't find in-cluster configs.

[2017-02-05 06:25] hongchaodeng commented on #740
How to get kubelet logs?

[2017-02-05 06:43] xiang90 commented on #731
Is this our problem? Or kubernetes? Shall we report to upstream if this is a k8s issue?

[2017-02-05 07:07] hongchaodeng commented on #731
@xiang90
k8s problem.

We create in-cluster client using go. It failed to. But I don't think this is client problem because the logs showed that `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` isn't defined. They should be set in env by default.

[2017-02-05 17:21] xiang90 commented on #731
@hongchaodeng Can you create an issue on upstream? Thanks!

[2017-02-05 17:24] xiang90 commented on #731
https://github.com/kubernetes/kubernetes/issues/40973

[2017-02-06 07:03] hongchaodeng opened #741 "Enhancement: Storage consistency over PV"
Currently, we use replica set to manage backup pods. However, due to the guarantee of RS, there could be two pods even if scale=1. But the two pods will reference to the same PVC, PV.

"This is fine if we relies on a strongly consistent storage backend like AWS EBS, GCE PD, OpenStack Cinder, or Ceph RBD. But on some other storage backends, concurrent access may result in corruption, even if the PV

[2017-02-06 11:26] iaguis opened #743 "The etcd-operator doesn't recover if the deleted pod is >0"
I was following the [etcd operator recovery section in the README](https://github.com/coreos/etcd-operator/blob/master/README.md#etcd-operator-recovery) and when I tried deleting a pod that's not number `0000` after the operator is gone and restarting again, I got this:

[code]

It seems the seed pod needs to not exist for the recovery to work.

[2017-02-06 16:12] hongchaodeng commented on #743
Can you paste steps how to reproduce it, including env?
On Mon, Feb 6, 2017 at 3:26 AM Iago López Galeiras <notifications@github.com>
wrote:

[2017-02-06 16:42] iaguis commented on #743
Here they are:

[code]

[2017-02-06 17:55] hongchaodeng opened #744 "print version in log when operator starts"
We should print version when operator starts.
For example:
[code]
Should include this in beta release

[2017-02-06 17:58] xiang90 commented on #744
I will take this one.

[2017-02-06 19:17] hongchaodeng commented on #743
regression due to https://github.com/coreos/etcd-operator/pull/720

[2017-02-06 19:33] xiang90 commented on #744
Fixed by https://github.com/coreos/etcd-operator/pull/745

[2017-02-06 19:33] #744 closed

[2017-02-07 00:26] #743 closed

[2017-02-07 00:37] hongchaodeng commented on #743
verified that it's fixed

[2017-02-07 01:10] hongchaodeng commented on #738
to track:
logs:
https://console.cloud.google.com/logs/viewer?project=coreos-k8s-scale-testing&authuser=1&minLogLevel=0&expandAll=false&resource=container%2Fcluster_name%2Fjenkins2%2Fnamespace_id%2Fe2e-etcd-operator-1008&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name%3D%22jenkins%22%0Aresource.labels.namespace_id%3D%22e2e-etcd-operator-flaketest-1592%22%0Aresource.lab

[2017-02-07 05:27] #732 closed

[2017-02-07 10:11] iaguis commented on #743
It works now. Thanks!

[2017-02-07 21:49] hongchaodeng opened #751 "soak test plan"
Why?
We are going to do another release. Need soak testing.

What?
Test plan: (one cluster has 3 pods)
- [x] one operator, one cluster, kill one etcd pod every 30s, for a day
- [x] one operator, five cluster, kill five etcd pods every 30s, for a day
- [x] one operator managed by deployment, one cluster, kill one etcd pod every 30s, kill operator pod every 1m, for a day

[2017-02-07 21:49] hongchaodeng commented on #298
closed to favor https://github.com/coreos/etcd-operator/issues/751

[2017-02-07 21:49] #298 closed

[2017-02-08 02:15] sunnybi opened #752 "More docs about how to use cluster spec"
I am very glad to see the etcd operator product and it is really very nice to me.
Now I am using the etcd operator to create the etcd cluster. But I don’t know how to use the nodeSelector in the etcd cluster yaml file.
I tried below, but failed. Could you help provide one example? Thanks very much.
And another question, how can I use my private ETCD image instead of the coreos standard etcd image?

[2017-02-08 02:41] hongchaodeng commented on #752
Hi @sunnybi . Thanks for nice words.

What failed?

I would like to. But could you clarify what's your use case?

We probably won't support private ETCD image on open source side. That's because we need to validate upgrade path and backup versions. Those are important for not breaking user etcd clusters.

If you really want to use private ETCD image, one option is to build and use your own etcd op

[2017-02-08 02:47] hongchaodeng commented on #752
Also this selector doesn't make any sense:
[code]
Do you want to put all etcd pods onto one node?

We provide node selector so that user can choose nodes with better disk:
[code]

[2017-02-08 04:38] sunnybi commented on #752
Thank you hongchaodeng.
yes, I want to setup etcd cluster on one node. Currently, kubernets supports many nodeselector, disktype is one of them.
Here I copied them from kubernets website.
kubernetes.io/hostname
failure-domain.beta.kubernetes.io/zone
failure-domain.beta.kubernetes.io/region
beta.kubernetes.io/instance-type
beta.kubernetes.io/os
beta.kubernetes.io/arch

https://kubernetes.io/docs/us

[2017-02-08 05:59] xiang90 commented on #752
@sunnybi

So you specify the node name in the etcd cluster spec and hoping etcd operator will schedule all members onto that specific node? And etcd operator fails to assign etcd members pods to that node?

What failed exactly?

[2017-02-08 20:13] hongchaodeng opened #755 "e2e flake: pod was gone unexpectedly"
e2e logs:
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-flaketest/1960/consoleText
[code]

operator logs:
[code]
From the logs, "test-etcd-xjf8h-0000" is gone.

kubelet about pod "test-etcd-xjf8h-0000":
[code]

[2017-02-08 20:51] hongchaodeng commented on #755
Sorry. My fault.
The test is expected to delete the pod.

[2017-02-08 20:51] #755 closed

[2017-02-08 23:05] hongchaodeng opened #756 "e2e flake: pod was deleted before it comes up"
In recovery test of 1 member down, we delete the pod immediately after waitSize returns. However, the last pod could have not come up yet.

After we deleted first member, the last member show logs like:
[code]

Then it exited. From operator logs:
[code]

This is racy.

Also in disaster recovery tests we know this but make assumptions on ordering by names. We'd better fix this race.

[2017-02-09 00:14] hongchaodeng opened #758 "pod terminated due to liveness probe failed could be dangling"
When liveness probe failed, a pod could be dangling with:
- "Error" Status.
-  phase: Failed

We need to clean them up.

[2017-02-09 01:26] #758 closed

[2017-02-09 02:29] sunnybi commented on #752
@xiang90
Thank you!
Yes, that's what I exactly want to do. When I use etcd operator to create ETCD instance, and use nodeSelector to assign it to one node. But the ETCD node is not what I assigned for it.

[2017-02-09 02:31] xiang90 commented on #752
@sunnybi Can you get the yaml description of the etcd cluster spec, the etcd pods and the nodes? I want to check if:

1. the spec is valid
2. the node selector is set on the pods
3. the node is labeled correctly

[2017-02-09 06:45] sunnybi commented on #752
@xiang90
This is my etcd cluster yaml file. Do I need write one ETCD pod file? I thought only one deployment and cluster yaml is enough.
The node info is correct because we can set up one ETCD on this node by pod file which includes the same nodeSelector.

apiVersion: "coreos.com/v1"
kind: "EtcdCluster"
metadata:
  name: "etcd-cluster-test"
spec:
  size: 3
  version: "3.0.1"
  nodeSelector:
    ku

[2017-02-09 06:47] xiang90 commented on #752
@sunnybi

The node selector needs to be put inside Pod struct: see https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L78

you need something like

[code]

[2017-02-09 06:48] xiang90 commented on #752
But it does not really make sense to put ALL etcd nodes onto the same node though as @hongchaodeng mentioned above.

[2017-02-09 06:56] sunnybi commented on #752
@xiang90
Thanks. I thought it is in cluster yaml by reading the etcd operator best practices doc. It says to add nodeSelector in cluster spec. so I does. But how does the etcd-operator to read the etcd pod yaml? If I can write my own etcd pod file, then private image can be used.

Assign to nodes with desired resources

Kuberentes nodes can be attached with labels. Users can assign pods to nodes w

[2017-02-09 07:02] xiang90 commented on #752
@sunnybi Sure. We will have a doc covering how to use the spec and provide more examples.

[2017-02-09 07:06] sunnybi commented on #752
@xiang90
The deployment works fine using the same nodeSelector.

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: etcd-operator
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: etcd-operator
    spec:
      nodeSelector:
        kubernetes.io/hostname: foss-ssc-8
      containers:
        - name: etcd-operator
          image: quay.io/coreos/etcd-operator

[2017-02-09 07:13] hongchaodeng commented on #752
Hi @sunnybi

First of all, please write correct yaml file like this for easier reading:
[code]

Second, let me catch the question

Do you mean it works by assigning etcd operator pod to the node? Why not?

Re. etcd pod's node selector, please following our spec:
https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L59

We will have docs soon. Currently you can do:
[code]

[2017-02-09 07:27] sunnybi commented on #752
@hongchaodeng
Thank you!
Yes, I am writing the readable yaml. But when I copy it here, it is unordered.
The etcd operator pod really works well by assigning the nodeSelector.
![image](https://cloud.githubusercontent.com/assets/25626516/22773281/2df41c04-eedc-11e6-992a-9f4b5c39cade.png)

[2017-02-09 20:47] hongchaodeng commented on #752
great. nice to hear that.

[2017-02-10 06:12] hongchaodeng commented on #751
@xiang90 All passed

[2017-02-10 06:12] #751 closed

[2017-02-10 16:52] hongchaodeng commented on #737
Some related upstream issue:
https://github.com/kubernetes/community/pull/355
https://github.com/kubernetes/community/pull/288

We are having issues with long tail on PV provisioning.

[2017-02-11 01:22] hongchaodeng commented on #674
Closing this after v0.2.0 release.
We will keep it stabilized.

[2017-02-11 01:22] #674 closed

[2017-02-11 01:24] hongchaodeng commented on #619
@philips
Can you give me the access to the cluster of problem? I didn't reproduce this problem on GKE.

[2017-02-11 06:06] hongchaodeng commented on #667
IIUC, we only have following items not documented:

I don't think it should be documented in backup docs. It should belong to backup spec docs which we will also resolve in
https://github.com/coreos/etcd-operator/issues/752

I'm gonna close this as duplicate.

[2017-02-11 06:08] hongchaodeng commented on #752
Updated the title to be more descriptive. Let me know if there is any more questions.

[2017-02-11 06:30] #756 closed

[2017-02-12 21:49] #667 closed

[2017-02-12 21:51] hongchaodeng opened #767 "e2e flake: timeout creating a cluster"
e2e logs:
[code]

operator logs:
[code]

Weird thing:
- it took 36s to finish setup() . We need more metrics to better understand what happened.

[2017-02-13 16:10] eddieesquivel commented on #619
Hi Hongchao - i had a similar issue with our latest Tectonic 1.5.2 release. RBAC changed a tiny bit form 1.4.x to 1.5.x this is the cluster role binding I used to get around it:

`apiVersion: rbac.authorization.k8s.io/v1alpha1
kind: ClusterRoleBinding
metadata:
  name: etcd-operator
roleRef:
  apiVersion: rbac.authorization.k8s.io/v1alpha1
  kind: ClusterRole
  name: admin
subjects:
- kind: Servic

[2017-02-13 17:48] hongchaodeng opened #768 "Upgrade k8s jenkins infra to v1.5.3"
k8s 1.5.3 is released. We have reported the GC issue and it's been alleviated in 1.5.3+ . We should try to make k8s 1.5.3+ the required version.

We should try out k8s 1.5.3, run some tests to verify it first. Then we would make 1.5.3 the minimum version.

[2017-02-13 20:51] hongchaodeng commented on #619
Quick sum-up:
- GKE doesn't have RBAC enabled, while Tectonic have RBAC enabled by default.
- If no service account is associated with a pod, it is by default "${namespace}/default".
- Default service account has zero permission.

As Brandon mentioned above, we need to figure out what resources and permissions we need for etcd operator.

[2017-02-13 20:54] xiang90 commented on #619
@hongchaodeng Yes. It is a documentatio issue. Also the operator should fail fast with reasonable logging if it does not have enough permission it needs.

[2017-02-14 19:56] cimarron-pistoncloud opened #773 "Try it out docs/config need updating and only one pod gets created instead of 3 expected"
## How to repoduce

### read "Try it out" https://coreos.com/blog/introducing-the-etcd-operator.html

### Run the commands at the bottom of the article and observe error
(I have my own admin.conf but otherwise the commands are the same)

[code]

### read https://github.com/coreos/etcd-operator/blob/master/README.md

### check other things are ok

[code]

### try again with latest https://raw.githu

[2017-02-14 20:05] hongchaodeng commented on #773
These hosted files are outdated. I will coordinate with CoreOS marketing teams to update that. Please follow latest ones on Github.

We have e2e tests guarding these user scenarios.

Let's check your env first. Can you provide details about your env?

Can you also provide operator logs:
[code]

[2017-02-14 20:16] cimarron-pistoncloud commented on #773
This is an 8 node test cluster I setup a few days ago following
these instructions: https://kubernetes.io/docs/getting-started-guides/kubeadm

I'm using the weave-kube pod network.

Here are my nodes
[code]

Here is a gist with the requested logs
https://gist.github.com/cimarron-pistoncloud/59f1588aca053e133814900267468ede

[2017-02-14 20:24] hongchaodeng commented on #773
This is a sign that operator couldn't talk the etcd member, in this case, "example-etcd-cluster-0000".

First, can you make sure pod "example-etcd-cluster-0000" is healthy? Or just paste its logs here.

Second, can you make sure etcd operator can talk to pod "example-etcd-cluster-0000"?
You can do
[code]
After logged in, do
[code]

[2017-02-14 20:28] cimarron-pistoncloud commented on #773
Doesn't look like curl is in that container :-(
[code]

[2017-02-14 20:30] hongchaodeng commented on #773
try
[code]

[2017-02-14 20:32] cimarron-pistoncloud commented on #773
[code]

Here are the logs for example-etcd-cluster-0000
https://gist.github.com/cimarron-pistoncloud/baf59f4407e205a89a5cc8795c09b441

[2017-02-14 20:38] hongchaodeng commented on #773
[code]

[2017-02-14 20:41] cimarron-pistoncloud commented on #773
[code]

[2017-02-14 20:42] hongchaodeng commented on #773
[code]

Your cluster setup doesn't have DNS.

[2017-02-14 20:42] #773 closed

[2017-02-14 20:47] cimarron-pistoncloud commented on #773
That's odd, because
[code]
appears in
[code]

but thank you for your help.  I'll look into kube-dns.

[2017-02-14 21:59] cimarron-pistoncloud commented on #773
Looks like this may be a known issue in kubeadm init
https://github.com/kubernetes/kubernetes/issues/33881

[2017-02-14 23:26] ethernetdan commented on #675
@xiang90 do you have specific suites you want to have run?

[2017-02-14 23:28] xiang90 commented on #675
@ethernetdan https://github.com/coreos/etcd-operator/blob/master/test/e2e/main_test.go

this is the test entrance. @hasbro17 is working on this. the plan is to use pluton + bootkube to setup a k8s master built cluster nightly. then run this test against it.

[2017-02-14 23:31] xiang90 commented on #773
@cimarron-pistoncloud Thanks for tracking down. There is not much we can do though. The upstream issue is the right place to track it further. Sorry.

[2017-02-14 23:33] xiang90 commented on #682
already fixed.

[2017-02-14 23:33] #682 closed

[2017-02-14 23:40] cimarron-pistoncloud commented on #773
I will reinstall my cluster, verify DNS works properly and then try etcd-operator again.  Thanks!

[2017-02-15 01:08] hongchaodeng commented on #619
As an update, this is the full list of resources we will access, verbs being coarse-grained now:
[code]

[2017-02-15 01:14] xiang90 commented on #619
who is "we"? etcd operator? backup pod? etcd pod?

[2017-02-15 01:19] hongchaodeng commented on #619
etcd operator.

If the above role binds to namespace default account, then it is already a superset of what backup pod and etcd pod need. Otherwise, it needs to set additional perms for backup pod and etcd pod too.

[2017-02-15 15:22] djMax opened #777 "Complete failure?"
We had a cluster with 3 nodes and backup configured. We had some sort of catastrophic event (still unclear what). First, all 3 etcd pods went away and it made no attempt to restart them. Then the backup pod went away after some hours, and no attempt to recreate. The volumes are still there, is there any way to recover?

[2017-02-15 15:26] xiang90 commented on #777
@djMax Yes. As long as the volume is still there, etcd-operator can recover it automatically. You can create a new cluster with restore policy set: https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L93.

You need to fill in the original storage type and the cluster name.

Please try this first. There is a backup recovery plan too. But let's see if this works for you.

[2017-02-15 15:31] xiang90 commented on #777
Also can you get the log of the etcd operator for us? We would like to investigate into the root cause.

[2017-02-15 15:32] djMax commented on #777
Me too. I think the operator pod was restarted at some point and I can't find logs from the time period. Now it just says:

[code]

[2017-02-15 15:34] xiang90 commented on #777
@djMax Can you get the information of that cluster in yaml format via kubectl? (<Yourcluster> -o yaml)

[2017-02-15 15:35] djMax commented on #777
Sorry, I can't do the translation of that code to yaml yet. Is that just

[code]

[2017-02-15 15:36] djMax commented on #777
[code]

[2017-02-15 15:42] xiang90 commented on #777
@djMax OK. So here is what happened.

The etcd cluster is created in a alpha version of etcd operator. It uses EtcdCluster as its TPR kind.
You updated etcd-operator to 0.2.0. We updated the TPR kind, see https://github.com/coreos/etcd-operator/releases/tag/v0.2.0.

So the etcd operator does not pick up your old cluster.

[2017-02-15 15:44] djMax commented on #777
And to bring it over? Just change the type? How do I invoke the restore bit?

[2017-02-15 15:44] djMax commented on #777
Should I delete one of these, or is one missing?

[code]

[2017-02-15 15:46] xiang90 commented on #777
@djMax Do you still want to recover the cluster? Or it is OK for you to lose all the data?

If you can lose all your data, remove

[code]

create a new cluster under `cluster.etcd.coreos.com`.

we will not break anything this significant again. (etcd operator is beta now)

[2017-02-15 15:47] djMax commented on #777
I want to recover not so much because of the data but just so I know what to do in the future... But if that's a long painful mess, then so be it. It does seem like I should remove that alwaysPull policy lest this happen again.

[2017-02-15 15:48] xiang90 commented on #777
@djMax Yea... The operator deployment should probably pin to a specific release version. Maybe you can help to update the example deployment to pin to :0.0.2? Thank you!

[2017-02-15 15:53] djMax commented on #777
Like this? https://github.com/coreos/etcd-operator/pull/778

[2017-02-15 16:06] djMax commented on #777
[code]

[2017-02-15 16:16] djMax commented on #777
Now the pv and pvc are gone. So I guess I give up on recovery.

[2017-02-15 16:35] hongchaodeng commented on #777
@djMax

The only release version that understands previous TPR is `0.0.1` . You can try to pin your deployment image to that. But please do it local, not as https://github.com/coreos/etcd-operator/pull/778 .

We recently release beta version:
https://github.com/coreos/etcd-operator/releases/tag/v0.2.0
After this, the TPR api will be more stable and we will provide migration plan if needed.

[2017-02-15 16:54] djMax commented on #777
The point of that PR is that if you don't pin the image, or at least tag it, you will blow up someone's etcd cluster like mine. Right?

[2017-02-15 17:00] hongchaodeng commented on #777
@djMax

The deployment is just an example. If you run serious production cluster, you need to a release version of the image. Doing `imagePullPolicy: Never` has unexpected side effect after all.

[2017-02-15 17:01] djMax commented on #777
I'd suggest you need a pretty clear callout that that's a setting that should be changed "for realsies."

[2017-02-15 17:06] hongchaodeng commented on #777
That made sense. Feel free to put a comment on both deployment.yaml and
deployment-aws.yaml
On Wed, Feb 15, 2017 at 9:02 AM Max Metral <notifications@github.com> wrote:

[2017-02-15 17:25] xiang90 commented on #777
@hongchaodeng let's use released tag on the example deployment. it would take us little effort to maintain it, but would help "careless" users :P.

[2017-02-15 17:26] hongchaodeng commented on #777
@djMax
Regarding your cluster, as long as your PVC still exists, there is still methods to recover it. But requires some effort. Let me know if you are interested.

[2017-02-15 18:11] xiang90 commented on #777
fixed by https://github.com/coreos/etcd-operator/pull/779

[2017-02-15 18:11] #777 closed

[2017-02-15 18:29] xiang90 commented on #722
fixed by #775

[2017-02-15 18:29] #722 closed

[2017-02-15 18:59] #485 closed

[2017-02-15 19:03] xiang90 commented on #501
@hongchaodeng Are these all "resolved" on upstream?

[2017-02-15 19:03] xiang90 commented on #501
If all of them are tracked on upstream, and we have work around in our code, we suggest to close this umbrella issue.

[2017-02-15 21:41] hongchaodeng commented on #501
Right.
- defaulting has been worked around
- GC is worked around on upstream
- RBAC is tracked on another issue

[2017-02-15 21:41] #501 closed

[2017-02-16 06:15] #307 closed

[2017-02-16 18:46] hongchaodeng opened #788 "(AWS) e2e: get rid of relying on pod IP"
Currently our e2e tests rely on reachability to pod IP:
- [ ] request backup pod to make a backup
- [ ] restore test putting/getting data into/from etcd cluster
- [ ] self hosted migrating boot member. This is not pod IP, but it relies on reachability between jenkins slave node IP and cluster pod network.

As we are moving our test infra to AWS, we need to get rid of this assumption.

[2017-02-16 20:44] hongchaodeng opened #789 "Change backup status "TimeTook time.Duration" to "SecondsTook uint64""
Output looked a little weird:
[code]

[2017-02-16 20:48] xiang90 commented on #789
right. i will get this fixed.

[2017-02-16 20:51] hongchaodeng opened #790 "e2e: frequent DNS lookup failure"
On GKE 1.5.2, we experienced high volumes of DNS lookup failures.

Symptoms:
- etcd pods failed to bootstrap due to couldn't talk to peers and exit
- couldn't talk to backup service

logs showed:
[code]

This might happen for a long period of time but it has no patterns. After a while, it just recovered.

[2017-02-16 20:57] hongchaodeng commented on #767
So I have more clue what caused this.
See https://github.com/coreos/etcd-operator/pull/786#issuecomment-280457489 .

Somehow we have updateStatus() blocking reconciling. Status update has 30s timeout.

[2017-02-16 20:58] hongchaodeng commented on #790
Just to clarify on this issue.
It doesn't mean DNS lookup failure is unexpected. We should just make our program more robust to such temporary failures.

[2017-02-16 22:59] hongchaodeng opened #792 "Upgrade to client-go v2.0.0"
According to client-go's README, only 2.0+ works well with k8s 1.5 and will have active code publish.

Migrating to client-go v2.0 will also help us solve the dependency conflict with bootkube for short term.

Aiming this for next release v0.2.1

[2017-02-17 00:13] #619 closed

[2017-02-17 18:00] xiang90 commented on #789
Already fixed.

[2017-02-17 18:00] #789 closed

[2017-02-18 00:45] hongchaodeng commented on #792
fixed via https://github.com/coreos/etcd-operator/pull/799

[2017-02-18 00:45] #792 closed

[2017-02-21 22:56] philips opened #806 "user: don't run as root"
The etcd operator container is running as the root user by default. There is no reason to do this, please change to a UID other than 0.

[2017-02-22 00:05] hongchaodeng opened #808 "TPR status: report healthy members"
We have reported current size of cluster in TPR status. We should also report healthy members as well. Healthy member defined: serializable Get() should succeed.

[2017-02-22 19:54] #719 closed

[2017-02-22 19:57] hasbro17 commented on #719
The unit test runs in hack/test unittest_pass will now generate go coverage reports and then send those reports to the [coreos/etcd-operator](https://codecov.io/gh/coreos/etcd-operator) codecov repo.

Still need to configure a few settings for codecov commenting on PRs.

[2017-02-23 18:15] xiang90 commented on #808
initially, we can simply check if the pod status is running.

[2017-02-23 21:13] djMax opened #818 "Better information about decision to ignore a cluster"
etcd-operator logs this:

[code]

And then does nothing. It's very hard to know WHY it's ignoring that cluster and how to make it bring it back up. I have a backup pv, shouldn't it pick it up?

[2017-02-23 21:16] hongchaodeng commented on #818
@djMax

Unlike normal pod (e.g. nginx), our TPR has states:
[code]
in non-reversible order.

This is to guarantee cluster's safety.

Would you do:
[code]

[2017-02-23 21:31] djMax commented on #818
The pvc and the pv were still there. I deleted the deployment and created it again, and then it attempted to come up but bumped against the existing pvc. So I deleted that pvc, which then cascaded to the pv. So now I'm just bringing up the cluster fresh. But I still think it should give some clear indication of what to do in this case. Reset some value in the TPR? etc. Or if the desired action is

[2017-02-23 21:33] hongchaodeng commented on #818
Let's keep this open.
If user made mistakes and delete the cluster, as long as the PVC is still there, we should be able to recover it.
I think the point here is that users don't know how to do it. There is some docs around backup thing in: https://github.com/coreos/etcd-operator/tree/master/doc/user . But this isn't covered yet. Let's add the user docs before closing this issue.

[2017-02-24 19:53] hongchaodeng opened #821 "Setting up Jenkins infra on AWS"
Currently our Jenkins infra is running on GKE. We also need to test on AWS.

Action items:
- [x] Set up nightly job to run e2e tests of etcd operator "master". We can use static cluster here, e.g. reusing long running k8s v1.5.3 .
- [ ] Set up (another?) nightly job to build k8s master, and create new k8s cluster, then run e2e tests of etcd operator "master" on it.
- [ ] The e2e TestSelfHosted cur

[2017-02-24 21:53] hongchaodeng opened #823 "Backup status not showing up"
What happened?

Tried out `example-etcd-cluster-with-backup.yaml` and didn't see backup status even after minutes.

[2017-02-25 00:15] xiang90 commented on #823
fixed by https://github.com/coreos/etcd-operator/pull/824

[2017-02-25 00:15] #823 closed

[2017-02-25 00:27] xiang90 commented on #495
/cc @klizhentas

[2017-02-25 04:06] hongchaodeng commented on #821
xref: https://github.com/coreos/etcd-operator/issues/675

[2017-02-25 05:32] #696 closed

[2017-02-25 16:02] hongchaodeng commented on #823
For record, it looks like:
[code]

[2017-02-25 23:02] klizhentas commented on #495
I've spent some time digging the code and here are some things to consider:

* The benefit of your current S3 client is that it can use IAM and STS credentials and rotate them as needed:

https://github.com/aws/aws-sdk-go/blob/master/aws/credentials/ec2rolecreds/ec2_role_provider.go#L52

I could guess that many users would prefer this choice compared to static credentials here.

So I would recomme

[2017-02-25 23:15] hongchaodeng commented on #495
How to use the credential chain? Can you explain more about credential chain? References?

It's mounted to backup pod, the backup pod will use it.
See https://github.com/coreos/etcd-operator/blob/master/pkg/backup/backup.go#L78

I agree with more dynamic, rotating support of credentials. That's a good direction we will head towards

[2017-02-25 23:26] klizhentas commented on #495
https://github.com/aws/aws-sdk-go/blob/master/aws/credentials/chain_provider.go#L42

Right, you are using shared provider and you mount both `.credentials` and `.config` My question is about config, as I don't see it being used anywhere in static provider, only credentials:

https://github.com/aws/aws-sdk-go/blob/master/aws/credentials/shared_credentials_provider.go#L26

So I'm wondering what's th

[2017-02-26 00:22] hongchaodeng commented on #495
Let me figure out how it rotates credentials first.

We need config for aws, e.g. zone.

[2017-02-26 00:29] klizhentas commented on #495
That's the thing - I could not find a place where this config is being used anywhere in the go-aws code, do you know what it's being used for?

[2017-02-26 00:54] hongchaodeng commented on #495
If it's about where in aws-go codebase, I have looked into it before. But I don't recall the details. Why do you want look into the code details?

In the docs: http://docs.aws.amazon.com/sdk-for-go/api/aws/session/

And we have used `SharedConfigEnable` which will override env var `AWS_SDK_LOAD_CONFIG`

[2017-02-26 04:09] klizhentas commented on #495
found it, thanks. So it looks like it is one more thing to consider when using Minio - it needs explicit region as a parameter while AWS client loads it from .config file.

This means we'll have to parse ini file or specify it explicitly otherwise

[2017-02-26 19:57] hongchaodeng commented on #768
Upgraded cluster.
Soak test for a day.

[2017-02-26 20:30] xiang90 commented on #737
@hongchaodeng Do you want me to take this over?

[2017-02-26 20:30] hongchaodeng commented on #737
Sure

[2017-02-27 01:34] hongchaodeng opened #828 "e2e flake: TestBackupStatus"
Failure:
[code]

[2017-02-27 01:34] hongchaodeng commented on #828
It should wait if backups = 0

[2017-02-27 04:58] #828 closed

[2017-02-27 06:31] hasbro17 commented on #821
Nightly jenkins jobs are in place to build the upstream etcd operator master branch, and run e2e tests. One uses a static cluster while another uses kube-aws to launch a fresh cluster for every build.
So far both jobs have identical outputs, in the number of tests that they seem to be failing.

[2017-02-27 06:33] xiang90 commented on #821
@hasbro17 Great progress!

[2017-02-27 16:34] hongchaodeng commented on #768
Done.

[2017-02-27 16:34] #768 closed

[2017-02-27 22:20] #752 closed

[2017-02-28 03:45] hongchaodeng commented on #818
Some examples about how to restore from previous backup:

https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md#three-members-cluster-that-restores-from-previous-pv-backup

[2017-02-28 18:32] hongchaodeng opened #838 "e2e: "tutum/curl" pull image failed"
Recent PR failed non related to code:

https://jenkins-etcd.prod.coreos.systems/job/etcd-operator/1501/console

I happened to be watching on it and found that "fetch-backup" init container failed due to "tutum/curl" pull image failed.

[2017-02-28 21:35] hongchaodeng commented on #821
I'm moving this out from milestone.

We have ended up with e2e testing against k8s "master" version cluster on GCE due to easier maintenance.

[2017-02-28 21:38] hongchaodeng opened #840 "e2e: have rbac roles for etcd operator"
Our e2e test against k8s master version cluster failed due to RBAC limits. We need to create roles for operator in e2e test if RBAC is enabled.

[2017-02-28 21:42] hongchaodeng commented on #788
I'm moving this out from milestone `0.2.2` .

We have ended up with e2e testing against k8s "master" version cluster on GCE due to easier maintenance.

[2017-02-28 23:11] hongchaodeng commented on #838
This is due to S3 being down today. Closing.

[2017-02-28 23:11] #838 closed

[2017-03-01 03:24] hongchaodeng opened #843 "unit test is taking way too long time"
Recent failure https://jenkins-etcd.prod.coreos.systems/job/etcd-operator/1505/console:

[code]

We see that e2e finish at "00:29:38", but unit test finish at "01:23:05".

[2017-03-01 03:25] hongchaodeng commented on #843
Another failure:
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator/1506/console

It doesn't even finish after ~1h.

[2017-03-01 03:35] hongchaodeng commented on #843
jenkins slave has 8 cores, 3 concurrent jobs running I believe, and jump to 100% cpu usage.

[2017-03-01 03:42] hongchaodeng commented on #843
Some benchmarks:

With coverage result:
[code]

Without coverage result:
[code]

[2017-03-01 03:46] hongchaodeng commented on #843
This is significant difference.

I think we should disable coverage first since we aren't using it yet. We could enable coverage later once we have better solution for such long haul.

[2017-03-01 03:49] xiang90 commented on #843
@hongchaodeng Can you figure out why coverage makes tests take long time? Does the test itself take long time? Or build the test code with coverage takes longer? If it is the latter, we should not disable coverage. I have never seen this problem before. etcd enables coverage from day 1.

[2017-03-01 03:50] hongchaodeng commented on #843
This is making master failed now.

[2017-03-01 03:50] xiang90 commented on #843
@hongchaodeng How do you know it is the test coverage makes the master fail? It really should not. I suspect there is something else going wrong.

[2017-03-01 03:51] xiang90 commented on #843
Also I do not believe it is the coverage causing the test took 1 hour to finish.

[2017-03-01 03:52] hongchaodeng commented on #843
See my above comments. We know from from the timestamp that unit test took ~1h

[2017-03-01 03:53] xiang90 commented on #843
that does not mean it was caused by the coverage part.

[2017-03-01 03:56] hongchaodeng commented on #843
I have PR https://github.com/coreos/etcd-operator/pull/844 to see if that alleviates the problem. Let's see the result then.

I'm fine as long as we can get PR/master jobs pass.

[2017-03-01 04:00] xiang90 commented on #843
We shall find the root cause and fix it. We should not just guess around.

If you look back to history, there are quite a few tests passed after enabling coverage. I am not convinced it is the root cause. Even if #884 passes, we shall not disable coverage right now.

[2017-03-01 04:01] hongchaodeng commented on #843
OK.. Let me debug further.

[2017-03-01 04:01] xiang90 commented on #843
@hongchaodeng Thanks!

[2017-03-01 06:33] hongchaodeng commented on #843
This issue is caused by small machine (1 cpu). We re-deployed jenkins this afternoon.

master is fixed now:
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/381/console
[code]

[2017-03-01 06:33] #843 closed

[2017-03-01 21:17] hongchaodeng opened #845 "put test infra scripts into different repo"
Currently we put our test infra scripts here for simpler management. Once our codebase grows larger, we can separate them out.

[2017-03-02 00:42] hongchaodeng opened #849 "doc: setup operator with s3 related flags"

[2017-03-02 15:24] janwillies opened #851 "etcd-operator panics on self-hosted bootkube"
I'm running a self-hosted bootkube cluster (see https://github.com/kubernetes-incubator/bootkube/issues/346) and when trying to scale etcd I ran into the following problems:
Scaling etcd:
[code]
Output:
[code]
etcd-operator log:
[code]

I'm guessing it's because etcd-operator panics&restarts and can’t find the already-running etcd cluster (`"size": 0`)

@xiang90 @hongchaodeng

[2017-03-02 15:31] xiang90 commented on #851
How did you scale etcd? What requests you sent to etcd operator?

Can you reproduce this issue? Any reproduce steps?

[2017-03-02 15:37] janwillies commented on #851
I've updated my comment to make it more clear.

In the current cluster state I can reproduce this everytime. Let me setup a new cluster, and see if I can reproduce as well

[2017-03-02 16:09] janwillies commented on #851
On a new cluster, I killed the operator a few times, scaled up and down more than once but can't reproduce anymore. I'll leave it up to you to close this issue

[2017-03-02 16:44] xiang90 commented on #851
@janwillies OK. I think we might hit a race. Just want to make sure it does not happen all the time and kind of confirm my guess. we will get fixed for you soon.

[2017-03-02 21:13] #851 closed

[2017-03-02 21:13] hongchaodeng commented on #818
Provide more info in https://github.com/coreos/etcd-operator/pull/852

Closing this

[2017-03-02 21:13] #818 closed

[2017-03-02 21:55] xiang90 commented on #840
this is already resolved by #850

[2017-03-02 21:55] #840 closed

[2017-03-02 21:56] xiang90 commented on #731
@hongchaodeng I do not think anyone is going to fix this for us... Let's work this around by trying on the error.

[2017-03-02 22:34] hongchaodeng commented on #731
There are two ways to work around from following comments:
https://github.com/kubernetes/kubernetes/blob/fa0387c9fea7cf4b3e3032bb384d8b5f99580154/pkg/kubelet/kubelet_pods.go#L395-L398
[code]

I don't really get (1) so I'm picking (2) and (3).
(2) is what we are currently doing right now. In real world, this is fine. But it still caused test flaky.
(3) is done inside client-go, so we need client-go

[2017-03-02 22:37] hongchaodeng commented on #731
A new option: we can resolve DNS name and set the env ourselves.

[2017-03-02 23:51] hongchaodeng commented on #731
@xiang90
Let me explain further here.

Retrying `rest.InClusterConfig` isn't gonna help. The env is not set when pod is started up. We could either restart the pod or set the env by resolving DNS ourselves.

[2017-03-02 23:57] xiang90 commented on #731
@hongchaodeng I will check kubelet code to see what is really going on there. My impression was that the ENV might not set before the pod comes up, but eventually it will be set.

[2017-03-03 03:04] #731 closed

[2017-03-03 06:21] #849 closed

[2017-03-03 20:51] #735 closed

[2017-03-04 00:38] colhom opened #859 "Support cross-namespace cluster operation"
I'm thinking that it's quite critical for `etcd-operator` to support creating clusters in any namespace, rather than just the namespace that the operator is deployed to.

This is because the entire Kubernetes access-control mechanism (service accounts, RBAC roles) are scoped by the namespace. The operator is one class of infrastructure, and the clusters it manages are a separate class of infrastru

[2017-03-04 01:47] davidquarles commented on #552
I'd love the ability to add custom labels so that we can more effectively target these pods in our prometheus aggregates.

[2017-03-04 01:51] hongchaodeng commented on #859
Operator should have different roles from etcd pods, even if they are
within the same namespace.
On Fri, Mar 3, 2017 at 4:38 PM colhom <notifications@github.com> wrote:

[2017-03-04 01:53] hongchaodeng commented on #552
Hi David, can you describe more details about what you want to do? What
labels do you need in order for prom to target it?
On Fri, Mar 3, 2017 at 5:47 PM David Quarles <notifications@github.com>
wrote:

[2017-03-04 05:58] snarlysodboxer opened #860 "TPR named "Cluster" is too generic"
In prometheus operator, the main TPR, defining a _cluster_ of prometheus instances, is a `prometheus`, and you can `kubectl get prometheuses`.

In etcd operator, a cluster of etcd instances is a `cluster`, and `kubectl get clusters` is very confusing because k8s itself is a "cluster" and some of us work with multiple k8s clusters and run commands like `kubectl config get-clusters`.

I submit that

[2017-03-04 06:28] hongchaodeng commented on #860
You can do `kubectl get cluster.etcd`

[2017-03-04 06:31] hongchaodeng commented on #860
We were previously (in alpha) using kind `EtcdCluster`, api group `coreos.com`. Due to some TPR bugs, we can't share api group with others. Thus, we have to make api group more specific, finally `etcd.coreos.com` . Now It doesn't make sense to make the whole endpoint `etcd.etcd.coreos.com` or `etcdcluster.etcd.coreos.com`, we finally come to the point `cluster.etcd.coreos.com` .

[2017-03-04 07:04] xiang90 commented on #860
@snarlysodboxer You are right. I was under the impression that only `cluster.etcd` will work... We will probably have to change the main TPR name back to `etcdCluster`.

[2017-03-04 07:25] hongchaodeng commented on #860
ref: https://github.com/kubernetes/kubernetes/issues/42521

[2017-03-05 18:33] hongchaodeng commented on #409
Hi @philips

Any reference/docs for doing cert rotation?

[2017-03-06 02:26] hongchaodeng commented on #504
closed as dup to https://github.com/coreos/etcd-operator/issues/409

[2017-03-06 02:26] #504 closed

[2017-03-06 02:47] hongchaodeng opened #861 "Change TPR resource `cluster` to `etcdcluster`"
The reason has been discussed in https://github.com/coreos/etcd-operator/issues/860

Action items:
- [ ] have migration plan
- [ ] make the change in the spec definition
- [ ] implement, test, docs migration tool

[2017-03-06 02:50] xiang90 commented on #861
I am still trying to see what is the best option here. Can we put this for thought for a while?

/cc @chancez I would like to know your opinion on this too.

[2017-03-06 18:31] chancez commented on #861
I think `cluster` is fine, but I really dislike that kubectl doesn't require the API group by default. I think if by default `kubectl get cluster` is going to remain valid, I then I think the best option is to rename to `etcdcluster`. I'm not a fan of it, but perhaps it's the best option we have. I think we should ask, what are other operators/TPRs using for naming conventions?

[2017-03-06 19:22] philips commented on #409
Essentially if you need to move from cert-old to cert-new how does that work? Do I take downtime? Where do I put cert-new? How do I tell the cluster to move from cert-old to cert-new?

[2017-03-06 19:45] snarlysodboxer opened #864 "Any plan to implement etcd2 backup/restore?"
We're loving etcd operator, thank you!

We have several applications that are still using the etcd v2 API, we hope to update them to v3 at some point, but in the meantime, I need to implement HA etcd clusters with backup and restore for etcd v2 storage.

Do you have any plans to implement backup and restore for etcd v2 storage?

[2017-03-06 19:47] xiang90 commented on #864
No. There is no current plan for implement v2 storage backup. But there is a potential effort to use v3 storage for v2 API. It depends on how much bandwidth we have at etcd side.

[2017-03-06 20:53] snarlysodboxer commented on #864
@xiang90 Thank you for your feedback.

If I understand correctly, this means we cannot use etcd operator at all, even if we implement our own backup and restore.

On an etcd cluster without defined backup/restore, in the event of disaster, etcd operator will mark the cluster "dead" and delete the pods and service. My applications are now pointed at a service which doesn't exist and which I cannot

[2017-03-06 20:54] xiang90 commented on #864
you cannot use it for v2 if you want auto backup.

[2017-03-06 20:58] snarlysodboxer commented on #864
i'm saying we can't use it for v2 even if we do manual backup. - because there's no ability to stand the dead cluster back up for manual recovery.

[2017-03-06 21:21] xiang90 commented on #864
@snarlysodboxer You could in theory (maybe with some little modification of the current code). There is a restore option in the cluster spec. You have to manually prepare the data directory for the restore to be successful.

[2017-03-06 21:22] xiang90 commented on #864
What I said is we do not have plan to do auto backup. If you want the restore part to work, PRs are welcomed.

[2017-03-07 23:33] davidquarles commented on #552
sure thing -- we put a generic `role` label on everything.  the primary purpose is to be able to track how much of our allocated cpu/memory is being used across each bucket (and at higher levels).  in practice this means a couple recording rules:
[code]

we then have grafana utilization dashboards that allow parameterization by namespace and/or role, and we target this label in generic alertmanage

[2017-03-08 16:08] hongchaodeng opened #868 "Docs on no effect of spec update"
Although user can change size, version of spec by updating it, we intentionally ignore other fields of spec. Specifically, we expect policies like pod, backup, restore to be set at creation of spec.

We should either docs on it. If there are real user cases for it, we might consider add support for it.

[2017-03-08 17:16] hongchaodeng commented on #552
@davidquarles
Your use case is valid. But I don't want to expose entire pod template only for labels. We might just expose labels. Can you create another issue?

[2017-03-08 18:53] davidquarles commented on #552
Cool, totally -- access to the raw pod template is definitely way more than I need.

Given direct access to the pod template, the only other thing I might have modified / am curious about in terms of the spec is member storage.  Does exposing stable / persistent storage (as opposed to `emptyDir` volumes) not make sense?  Consuming the root partition seems a bit scary (and somewhat cumbersome to ma

[2017-03-08 18:56] xiang90 commented on #552
@davidquarles There are a few stuff on pod spec that the etcd operator wants to take full control of. We do not want to expose these at the moment.

Stable storage is actually one of them. We suggest you to use backup instead of local "stable" storage. etcd has built in replication mechanism. Over-replication is mostly unnecessary. We can revisit that in the future. We do not use stateful set for

[2017-03-08 18:58] aaronlevy commented on #552
One other random "this future feature might be useful" are pod presets: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-preset.md

This might allow a user to set presets on a pod, but they won't override anything etcd sets on the pod if there is a conflict.

[2017-03-08 19:04] davidquarles commented on #552
@xiang90 Thanks, that's all good to know.  Would it make sense for these nodes to mount a separate disk for `/var/lib/kubelet/pods`, then, to allow online resizing?

[2017-03-08 19:06] davidquarles opened #872 "Support custom labels in pod template"
This is piggybacking on #552, but [our use case](https://github.com/coreos/etcd-operator/issues/552#issuecomment-284895991) doesn't require direct access to the raw pod spec/template.

[2017-03-08 19:37] xiang90 commented on #552
@davidquarles

That is also a valid requirement. do you mind opening a separate issue to track it?

[2017-03-08 20:41] davidquarles opened #873 "Member storage scalability"
As it stands, each member uses an `emptyDir` volume for storage, which consumes the root partition for most users.  My primary concern here is that we (on GCE, unsure if this is doable in other cloud providers) can't do an online resize of the root partition, thereby necessitating a change to our instance template and manually cycling through / upgrading nodes when we experience etcd-induced disk

[2017-03-09 17:48] hongchaodeng opened #876 "Add `unused` and `gosimple` check in CI"
ref:
- https://github.com/dominikh/go-tools/tree/master/cmd/unused
- https://github.com/dominikh/go-tools/tree/master/cmd/gosimple

We can add the above tools to `unit` CI

[2017-03-09 19:01] #808 closed

[2017-03-09 22:36] hongchaodeng opened #878 "improvement on ready/unready member status"
Currently the ready members status looks like:
[code]

This doesn't look good. We should improve it by grouping them:
[code]

[2017-03-09 22:36] xiang90 commented on #878
right. seems much better.

[2017-03-10 00:12] #878 closed

[2017-03-10 18:39] hongchaodeng opened #883 "Use cloud builder to build dev image"
Currently we build image manually on remote linux box.
We could make use of cloud builder like GCE or quay or jenkins job to build and push the image.

[2017-03-10 19:29] hongchaodeng commented on #883
An example: https://jenkins.coreos.systems/job/hyperkube-development/

[2017-03-10 19:37] colhom commented on #859
@hongchaodeng this is very true. What I meant to say is that imagine you were running a Kubernetes clusters shared between teams. Traditionally you, as the sysadmin, would be responsible for all the Kubernetes operators.

When a team asks for access to the cluster, you would most likely hand out a namespace. Using the namespace you can provide a nice sandbox to your users:

* common resource limit

[2017-03-12 20:39] xiang90 opened #888 "always fill in current version"
If user does not give a version, the operator will choose a default version for it. But it does not fill in current version filed in the status. Let's fix this.

/cc @hongchaodeng

[2017-03-12 21:47] hongchaodeng commented on #888
@xiang90
I tested it and it eventually sets version.
It needs all members to be set up before setting current version.

[2017-03-12 21:51] xiang90 commented on #888
Oh. That is right. I tried again. It works if I wait for a while.

We probably should improve that a little bit though. We should be able to set the current version directly if we set the default for the users?

[2017-03-12 21:53] #888 closed

[2017-03-12 21:55] hongchaodeng commented on #888
TBH, it has nothing to do with "default version". This is a problem of a cluster's lifecycle's beginning.

For example, if it's not beginning, let's say, we see current version "3.1", target version "3.2". Then it take a while and finally current version will be "3.2". But at the beginning, there is no current version, only target version "3.1".

[2017-03-13 05:11] hongchaodeng opened #890 "majority down case could cause cluster unable to recover"
If majority of members are down, etcd operator should recover cluster from backup of one survivor.

However, currently it failed to due buggy logic:
[code]

The problem is that we have defined "ready" member to be responsive via `get()` request, which goes through quorum. This isn't right after second thought, we should redefine "ready" member to be responsive via serializable `get()`.

[2017-03-13 16:01] #890 closed

[2017-03-13 18:34] hongchaodeng commented on #622
Another use case of this: On self hosted etcd, etcd pods restart could lead to pod endpoints removed from service. This is dangerous and unnecessary. Because etcd pod should restart and recover. It shouldn't remove such endpoints unless pod is deleted.

For example, say we have 3 members of etcd cluster, three of them died. In such case, the etcd service will have no endpoints and self hosted kube

[2017-03-13 19:07] odacremolbap commented on #861
Federation API contains a cluster object.
`kubectl get cluster` is the `kubectl get pod` of kubernetes federations.

I'd avoid using that name, there can be a chance in the future that someone wants to use a federated etcd operator cluster.

[2017-03-13 23:01] narayanan commented on #657
Is there a known work around to manage the situation? Currently this is eventually bringing down the k8s cluster.

[2017-03-13 23:02] hongchaodeng commented on #657
@narayanan

See the discussion at https://github.com/kubernetes/kubernetes/issues/39816 .
This reduces to one line log in k8s 1.6 . It's planned to fix dynamic mapping in 1.7 .

[2017-03-13 23:17] narayanan commented on #657
@hongchaodeng Thanks will try out operator with 1.6 beta

[2017-03-14 01:39] pbx0 opened #900 "trouble scaling down to 1 node"
I have a scaling test I run on bootkube PRs. It reliably scales from 1 to 3, but often fails scaling from 3 to 1 and stops scaling down at 2 nodes. The cluster stays available and two etcd pods continue to run. Sometimes it works.

some logs from the etcd-operator when the cluster is stuck at 2

[code]
Also at this point the TPR looks like:
[code]

[2017-03-14 03:43] hongchaodeng commented on #900
@pbx0
I believe this is fixed in https://github.com/coreos/etcd-operator/issues/890 , which should be included in https://github.com/kubernetes-incubator/bootkube/pull/380 . That's another reason we do a release so quick.

[2017-03-14 03:59] xiang90 commented on #900
@hongchaodeng Can we write a specific test case for this failure?

[2017-03-14 04:12] hongchaodeng commented on #900
Definitely, that's something overdue.

@pbx0 We will add the test cases of 1->3, 3->1 .

[2017-03-14 19:07] pbx0 commented on #900
Sounds good. I believe I've seen this same failure with the new version of the operator vendored into bootkube. I'll keep an eye out for more failures to confirm.

[2017-03-14 19:09] hongchaodeng commented on #900
@pbx0
If it happened again, please upload operator logs. It's able to verify operator version in the logs too.

[2017-03-14 21:31] pbx0 commented on #900
Here are more complete logs from a fresh cluster. This time it got stuck at 3 trying to get to 1. The operator seemed to think 1 pod wasn't ready, but `kubectl get pods` showed all 3 pods as '`Running`

tpr:
[code]

kubectl output:
[code]
[operator.log.txt](https://github.com/coreos/etcd-operator/files/842758/operator.log.txt)

[2017-03-15 00:07] colhom opened #901 "use FQDN for addressing etcd member pods"
Right now we're using pod IP, which means the only way to do any sort of x509 validation is via IP SANS. This makes assigning x509 identities to cluster pods a real pain, and needs to get fixed in advance of further static cluster TLS work.

  * Neither pod or service IP addresses are really reservable in Kubernetes. Which means you can't create the certificate until after the pod/service is creat

[2017-03-15 00:20] hongchaodeng commented on #409
ref spec PR: https://github.com/coreos/etcd-operator/pull/899

[2017-03-15 00:21] hongchaodeng commented on #12
ref static TLS issue: https://github.com/coreos/etcd-operator/issues/409

[2017-03-15 05:20] hongchaodeng opened #902 "Self-hosted etcd pod restartPolicy should be `OnFailure`"
Currently it is `Always`. After a member was removed, if operator failed to remove its pod, then the member could restart again. If it exited 0, we should let it go. We need to cleanup `completed` pod though.

[2017-03-15 05:33] xiang90 commented on #902
How will k8s treat a restarted node's pods that are set to `OnFailure`?

[2017-03-15 05:40] hongchaodeng commented on #902
Stopping a node in a short time won't change its pods statuses.

[2017-03-15 18:45] hongchaodeng commented on #902
After some research, I don't think kubelet provides good guarantees on node restart. Docker daemon could return exit code=0 for all containers on restart.

[2017-03-15 18:45] #902 closed

[2017-03-16 15:08] #900 closed

[2017-03-16 16:31] hongchaodeng opened #904 "Failure injection tests for pod removal failure"
We should have failure injection tests to test scenarios if we failed to remove pod after remove member. Self hosted pod could restart and we rely reconcile() to remove it later.

To be more general, this could mean more failures talking to APIServer.

[2017-03-16 20:31] narayanan opened #907 "Build on Mac fails"
Building `etcd-operator` on my mac use to work. But builds stopped working recently. I see a recent change in `build` script  to add os & arch. Not sure if that is causing the issue.

[code]

Is building source code on mac supported? or Should I try building with in a linux container?

[2017-03-16 20:32] hongchaodeng commented on #907
Please read https://github.com/coreos/etcd-operator/blob/master/doc/dev/developer_guide.md .

If you want to support it on Mac, PR is welcome.

[2017-03-16 20:32] #907 closed

[2017-03-16 20:33] narayanan commented on #907
Thanks for quick response.

[2017-03-16 23:00] hongchaodeng opened #910 "operator keeps updating status even if there is no change"
Currently we use `DeepEqual` to check if local status and status in TPR is equal:
[code]

However, this seems not worked. The comparison always returns false. It will cause resource version of TPR keep bumping.

[2017-03-16 23:05] hongchaodeng commented on #910
For evidence, here's the printed json of TPR status and local status:
[code]

[2017-03-16 23:25] hongchaodeng commented on #910
More comparison:
[code]
[code]

[2017-03-16 23:31] hasbro17 commented on #910
What are these fields supposed to represent?
`loc:(*time.Location)(0x2158c00)` and `loc:(*time.Location)(0x2164ae0)`
Are they considered by `reflect.DeepEqual`? Since they are unequal.

[2017-03-16 23:33] hongchaodeng commented on #910
That's the problem. Location is a func.

[2017-03-16 23:35] hongchaodeng commented on #910
See https://github.com/golang/go/issues/10089#issuecomment-77463157

[2017-03-17 07:49] snarlysodboxer opened #914 "Option to set auto compaction retention policy"
We would like to be able to set [this setting](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#--auto-compaction-retention), otherwise we have to run jobs to periodically do compaction.

There are a couple others that would be nice to be able to set as well, like [v2](https://github.com/coreos/etcd/blob/master/Documentation/op-guide/configuration.md#--enable-v2),

[2017-03-17 16:50] xiang90 commented on #914
Yes. This is something we will address soon.

[2017-03-17 21:34] #910 closed

[2017-03-21 15:30] so0k commented on #860
for me `kubectl get cluster.etcd` didn't work, but `kubectl get cluster.etcd.coreos.com` did! - thanks

[2017-03-21 19:00] EugeneKha commented on #691
We use glasterfs as persistence provider in Kubernetes. To make operator save backups to PV created by glusterfs we manually created storageClass named 'etcd-backup-gce-pd' that use glusterfs provider. Now we can use '--pv-provisioner=kubernetes.io/gce-pd' and PV is created in glusterfs cluster and operator works all right.

[2017-03-21 22:49] uruddarraju opened #921 "Need for a "none" pv provisioner type"
Today, etcd operator supports only 2 pv provisioning types, `aws` and `gce-pd`. It should be possible for users without this functionality also to start up etcd operator to just bootstrap and etcd cluster real quick (great work btw, with the operator) without the need for a pv provisioning mode.

This will let users be able to spin up etcd clusters without etcd needing to register a new storage cl

[2017-03-21 22:49] uruddarraju commented on #921
cc @hongchaodeng

[2017-03-22 09:41] so0k commented on #699
seems this is resolved since 1.5.3? https://github.com/coreos/etcd-operator/commit/f465324f014a036158c5511bb79645dd8070fc8b#diff-04c6e90faac2675aa89e2176d2eec7d8

I just killed the controller manager in one of our clusters (1.5.1) due to this, but we run a HA masters and luckily only 1 of 5 masters crashed and we easily recovered.

[2017-03-22 20:28] xiang90 commented on #859
@colhom I agree this is a nice to have for the reasons you mentioned and some other reasons I heard from other people.

[2017-03-27 18:51] xiang90 commented on #864
I am closing this one since we do not have plan to support the requested feature.

[2017-03-27 18:51] #864 closed

[2017-03-27 23:08] hongchaodeng commented on #901
How can we create a service like "etcd-cluster-0002.my-cluster"?

[2017-03-27 23:37] hongchaodeng commented on #806
@philips
I'm just curious: most, if not all, Dockerfiles that I have seen are using default user account. What was the reason to change it? Any security concern?

[2017-03-28 00:29] colhom commented on #901
@hongchaodeng https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#a-records-and-hostname-based-on-pods-hostname-and-subdomain-fields

[2017-03-28 04:35] philips opened #923 "consider moving s3 backup configuration to etcd.cluster"
It is a bit confusing that the s3 configuration is at the Operator level but the backup is at the cluster level. It might make more sense to configure the creds, bucket, etc for each cluster instead.

[2017-03-28 04:42] philips opened #924 "s3 backup kubernetes example"
These docs don't really walk through how to enable this for a kubernetes deployment which is the way we want people deploying the operator:

https://github.com/coreos/etcd-operator/blob/master/doc/design/s3_backup.md

It might be nice to use a configmap instead of command line args too.

[2017-03-28 10:50] kfirufk opened #925 "how to let kubernetes to use etcd3 for it's own configuration"
Hi! :)

I have Container Linux by CoreOS 1353.1.0 installed on my cluster, it comes with etcd2 by default but I want to remove etcd2 and to have etcd3 support. now I know I can use your wonderful project to have etcd3 pods up and running. can I tell kubernetes to store it's own configuration in the etcd3 pods?
do I need to install kubernetes etcd-less and then to run these pods? then how do I tell

[2017-03-28 15:15] hongchaodeng commented on #925
Yes.
Please checkout bootkube: https://github.com/kubernetes-incubator/bootkube/
And this self hosted etcd demo: https://www.youtube.com/watch?v=RNM3CrbfLn8

[2017-03-28 15:16] #925 closed

[2017-03-28 23:00] ericchiang commented on #901
@hongchaodeng This would require the etcd operator to generate a unique service for each member (don't know if you could use endpoints instead). Per conversation in #899 I think creating predictable names for the members is a requirement for static TLS. How else would the admin know what common name or SANs to supply?

[2017-03-29 14:37] hongchaodeng commented on #901
@colhom

I don't think there is any way to create a service `etcd-cluster-0002.my-cluster` . Please provide a service yaml to correct me.

@ericchiang
I think you are suggesting reserved names/IPs. But from what I read on top comment this issue is about wildcard domain names like `*.my-cluster.my-namespace.svc.cluster.local` . That's something I'm confused and want to be clear about.

[2017-03-29 16:45] xh3b4sd opened #926 "majority of etcd cluster nodes can end up on same machine"
Imagine you have three machines, the Kubernetes workers, lets call them A, B and C. Running the etcd operator schedules all three etcd nodes of the new etcd cluster across all three Kubernetes workers, lets call them 1, 2 and 3. When machine A is rebooted, etcd node 1 lands on machine B, which hosts now etcd node 1 and 2. Machine A comes back after reboot and stays empty. When now machine B is reb

[2017-03-29 16:49] xiang90 commented on #926
You can set anti-affnity to avoid this from happening. See cluster spec for details.

[2017-03-29 16:49] #926 closed

[2017-03-29 17:39] kfirufk commented on #925
thanks

[2017-03-29 18:21] bison commented on #901
I think what @colhom is saying is that with a service object for each cluster, and the correct annotations on the pods for that cluster, kube-dns will create DNS records in a way that makes it easy to either issue certs for each member up-front or just issue a wildcard.

Given a cluster called `my-etcd-cluster` and this YAML:
[code]

I can address that pod by name:
[code]

[2017-03-29 21:02] hongchaodeng commented on #901
Thanks @bison ! My fault not reading the docs good enough. Now it makes sense.

Back to reserved names/IPs, I don't have any opinion on this. But if we stick to static naming, for example, for 3 member cluster we could only have "00", "01", "02", then it might be dramatically more work because it is changing operator's current design. Just my personal suggestion: I think what @colhom suggested is

[2017-03-29 22:30] xh3b4sd commented on #926
Just for the record. The link to the information I was looking for is probably this one: https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md#three-members-cluster-with-node-selector-and-anti-affinity. Thanks for the hint.

[2017-03-29 22:48] #924 closed

[2017-03-30 00:59] xiang90 commented on #926
@xh3b4sd You are right. Thanks for the hint.

[2017-03-31 02:48] ericchiang commented on #901
It actually looks the etcd operator already provides a unique service for each of the members

[code]

So it looks like they already get FQDN.

[2017-03-31 02:50] hongchaodeng commented on #901
@ericchiang
What if "02" dies and "03" comes up?

[2017-03-31 02:55] ericchiang commented on #901
@hongchaodeng oh, they aren't consistent? Ah, sorry got mixed up with the statefulsets behavior.

[2017-03-31 05:05] hongchaodeng opened #929 "In spec, VolumeSizeInMB could be 0 and we should reject it"

[2017-03-31 07:06] #921 closed

[2017-03-31 07:07] hongchaodeng commented on #921
@uruddarraju
We will do a release later.
Currently I pushed latest image to` quay.io/coreos/etcd-operator:dev`.
Can you try it out?

[2017-03-31 07:20] #929 closed

[2017-04-01 03:43] hongchaodeng commented on #901
I have tried and and made TLS worked with trivial work.

Note that I only made client connection work. Incremental work on peer tls is possible.

My solution:

### Generate certs
Generate certs according to https://coreos.com/os/docs/latest/generate-self-signed-certificates.html :
- only generated server and client certs
- substitute server certificate's **CN and hosts**:
[code]
This will allow se

[2017-04-02 03:02] hongchaodeng commented on #409
Here's an update on the plan for this issue.

First of all, we have defined spec in https://github.com/coreos/etcd-operator/pull/899 for how to give operator certs/keys and deploy TLS cluster.

But the question continues on how to generate certs for etcd pods. A few points:
- etcd client will check its endpoints against server certficate's Subject Alternative Name (SAN).
- etcd pods' names are dyn

[2017-04-04 01:14] yifan-gu opened #934 "Failed to scale down the self hosted etcd clusters"
The pluton test for bootkube is trying to scale down from 3 to 1, and it often gets stuck.
Here is some artifacts I got:

**etcd cluster TPR object**:
[code]

**etcd operator logs**: [here](https://gist.github.com/yifan-gu/836b47963c2665bf57cf9d17e3841ce9)

**kube-etcd logs**: [here](https://gist.github.com/yifan-gu/f6bda8a120082b9e5c014be3f280f856)

@xiang90 @hongchaodeng

I also keep the cluster

[2017-04-04 01:18] hongchaodeng commented on #934
@yifan-gu
[code]

[2017-04-04 01:21] yifan-gu commented on #934
@hongchaodeng Oh it's in the `coreos-gce-testing` project.
[code]

[2017-04-04 01:31] hongchaodeng commented on #934
pod `kube-etcd-0002` exited before it's removed by operator.

[2017-04-04 01:32] hongchaodeng commented on #934
pod `kube-etcd-0002` logs:
[code]

It seemed like there is previous data dir left.
etcd pod use hostPath. The data dir should be cleaned up after each test.

[2017-04-04 01:34] yifan-gu commented on #934
Any idea why that happens?
The pluton test code is [here](https://github.com/coreos/mantle/blob/master/pluton/tests/bootkube/scale.go)
Seems it does a scale up and then a scale down.

[2017-04-04 01:41] hongchaodeng commented on #934
@yifan-gu

When etcd pod starts up, it uses hostpath `/var/etcd/${namespace}-${cluster-name}`.

I don't know the details on what happened. You can check if the data dir exists before the test. It could be left by other tests.

[2017-04-04 01:49] yifan-gu commented on #934
@hongchaodeng Hmm, I only ran 1 single test, so it doesn't seems like this is "left be other tests". Besides, even running tests in parallel, the pluton tests are running in a separate cluster. I could take a look tomorrow.

[2017-04-04 16:50] xiang90 commented on #901
@hongchaodeng

we should limit the wildcard range of the cert when possible.

1.  `*` is basically anything.
2.  `*.clustrName` is better since it limits to an etcd cluster name.
3.  `*.clusterName.Namespace.srv.cluster.local` is even better since it also limits the cert to a k8s cluster + a namespace.

I think we should try 3 if it is easy enough.

[2017-04-04 16:53] ericchiang commented on #901
@xiang90 I don't think `*.clusterName.Namespace.srv.cluster.local` or `*.clustrName` will work for the peer certificates based on the services etcd-operator generates.

[2017-04-04 17:00] xiang90 commented on #901
@ericchiang OK. You are probably right. We cannot really create a service name with `.` in it. So we need to put *.namespace.srv.cluster.local as wildcard in san.

[2017-04-04 17:16] bison commented on #901
I'm kind of confused about this. Maybe I'm misunderstanding. I don't know much about the operator, but I don't think we should create a wildcard for an entire namespace.

So, with the ability to control the FQDN of each pod and have kube-dns create DNS records for each FQDN, can't we create a certificate for each member fairly easily?

That requires creating a single service object for a cluster,

[2017-04-04 17:25] ericchiang commented on #901
@bison since etcd-operator starts at 0 then always increases the $NUMBER when adding a new member, you'd have to generate an arbitrary amount of certificates to keep up with new members being created. (https://github.com/coreos/etcd-operator/issues/901#issuecomment-290601531) The etcd operator is the only thing that actually knows what certificates needs to be created when for the peer communicati

[2017-04-04 18:07] xiang90 opened #936 "selfhosted: ionice/ to set high i/o priority for etcd process"
https://linux.die.net/man/1/ionice

https://github.com/coreos/etcd/blob/master/Documentation/tuning.md#disk

we probably also want to set high cpu/network priority

/cc @aaronlevy

@hongchaodeng can you help on this?

[2017-04-04 22:47] #901 closed

[2017-04-05 19:24] ipfaffy opened #941 "S3 backup only runs once"
Hi, I have etcd-operator running in Kubernetes- when I create the deployment, I give it the S3 credentials, and that works fine.  My issue is, after it starts, no matter what the `backupIntervalInSecond` is, it will only run the first time, and never again.

I haven't seen anything in the logs about the backup running when I run `kubectl logs -f $podname`, but looking at the mod time of the backup

[2017-04-05 20:24] hasbro17 commented on #941
Do you change the data in the etcd-cluster at all after the first backup?

You can inspect the logs of the `backup-sidecar` pod which should be named `etcd-testing-backup-sidecar-*****`.
In that you should see something along the lines of:
[code]
After the first backup is created, the next one will be [skipped](https://github.com/coreos/etcd-operator/blob/master/pkg/backup/backup.go#L168-L171) unl

[2017-04-05 20:42] hasbro17 commented on #941
Also I'm not sure why your cluster is not restoring from the previous backup. I just double checked on my setup and the restore works fine.
After you delete the `etcd-testing` cluster, can you check your S3 bucket to see if it still has the backup file(`3.1.2_0000000000000001_etcd.backup`) from the last backup?

Also can you show your etcd-operator pod logs around the time when you delete the prev

[2017-04-05 20:56] hasbro17 opened #942 "Cluster restore from backup should read the latest snapshot revision"
Currently the backup service initializes the [latest snapshot revision to 0](https://github.com/coreos/etcd-operator/blob/master/pkg/backup/backup.go#L107).
If restoring from a previous backup this cause it to recreate the latest snapshot on startup.

Since the latest snapshot is just rewritten this does not have any negative consequences but ideally the backup service should read the latest revis

[2017-04-05 21:45] ipfaffy commented on #941
Hm- I am fairly certain that the data is changing:

`{mikep:~} $ date; curl -L -X PUT http://REDACTED/v2/keys/foo -d value="bar"
Wed Apr  5 14:41:49 PDT 2017
{"action":"set","node":{"key":"/foo","value":"bar","modifiedIndex":10,"createdIndex":10}}`

After putting new data into etcd using the above, I tail the logs in the backup sidecar pod and see this:

(time differences are due to PST/UTC but th

[2017-04-05 21:51] ipfaffy commented on #941
To answer your other questions, there is definitely an initial backup happening, I see it in S3.  I do see the new cluster use it to restore as well, it's just an old backup.

[2017-04-05 21:52] xiang90 commented on #941
@ipfaffy you put keys into v2 namespace. etcd operator do not backup v2 at all. see: https://github.com/coreos/etcd-operator#limitations

[2017-04-05 21:52] #941 closed

[2017-04-06 22:34] hongchaodeng opened #946 "S3 backup storage path should respect namespace"
See https://github.com/coreos/etcd-operator/blob/master/doc/user/download_backup.md#get-backup-from-s3 .

Currently we stored s3 backup in following path:
[code]
It doesn't respect namespace. That means, two cluster having the same name, using the same s3 bucket, but staying in different namespaces could end up in conflict.

[2017-04-07 01:08] hongchaodeng commented on #934
@yifan-gu
Any update?

[2017-04-07 01:10] hongchaodeng commented on #942
@hasbro17
Can you give an example?

[2017-04-07 01:13] hongchaodeng commented on #790
Closing old issue. Seems it is more stable now.

[2017-04-07 01:13] #790 closed

[2017-04-07 01:23] hasbro17 commented on #942
1. Create a cluster with some backup configuration
2. Modify the cluster data to ensure a backup is created. Note the latest revision number from the backup-sidecar pod logs.
3. Delete the cluster
4. Create a new cluster that restores from the previous cluster's backup.
5. The logs of the new backup-sidecar pod will show it creating a new backup for the latest revision even though nothing has chan

[2017-04-07 17:07] scheeles opened #953 "Enable StorageClass as option"
We want to have more control over the storage. On AWS e.g. we want to use `encrypted` and control the `type`. Additional we use the etcdOperator on Glusterfs and have backup in place.

I think we need can have both option "pv-provisioner" and "storageclass" options.

"pv-provisioner"  is used for new user who wants to start fast, without thinking about the storage in detail.

"storageclass" is for

[2017-04-07 17:55] scheeles commented on #953
It is related with PR https://github.com/coreos/etcd-operator/pull/949

[2017-04-07 17:58] xiang90 commented on #953
the storageclass at the operator level was designed for convenience, not for flexibility. so we only want to include a fixed number of storage classes.

the plan was to add a storage class option into the cluster spec, so user can overwrite the global default storage call set at the operator level. this provides the best flexibility.

@scheeles what do you think?

[2017-04-07 18:55] yifan-gu commented on #934
@hongchaodeng nope

[2017-04-07 19:12] scheeles commented on #953
Partly agree. I think we need the storage class also on the operator level (S3 is also available on the operator level).
You could have a team which is responsible for the etcd operator and the backup (location) of etcd. The developer then should only deploy the etcd cluster.
I think all backup related thing should be possible to control on the operator level and it should be possible to overwrite

[2017-04-07 19:23] xiang90 commented on #953
if we want to support customized storage class (not derived from provisioner), we need to:

1. write a documentation to explain why we have two different pv related flags (storage class vs provisioner) and when to use which. and how are we going to verify the operator level storage class to fail fast.

2. write code to reflect the documented feature

3. write tests to cover the use case

i am not

[2017-04-07 22:19] #942 closed

[2017-04-07 22:30] hongchaodeng commented on #953
@scheeles
Thanks for writing out the issue.

This was designed early for convenience. There is also request to make it per cluster: https://github.com/coreos/etcd-operator/issues/923 .

User feedback like this are very helpful to us, especially when it's difficult to choose the storage design.

[2017-04-09 01:21] hongchaodeng commented on #953
An alternative is to add another layer to wrap developer's configuration. For example, developer specifies size, version; ops specifies TLS, backup, pod policies.

[2017-04-11 17:48] philips opened #955 "Design: How are we going to build etcd Operator for multi-cluster"
I was thinking about this recently but how will we run an etcd Operator across multiple Kuberenetes clusters? A few ideas:

1) Teach the Operator to be aware of multiple clusters. The etcd.cluster object would essentially have a list of clusters and service accounts

2) Work with upstream to add a way for the Federation API to give services service account to clusters

3) Try and use the Federatio

[2017-04-11 19:12] philips opened #956 "examples: add RBAC"
With Kubernetes v1.6 RBAC is on by default. We need to ensure that the service account for the Operator has the right roles.

[2017-04-11 19:42] junghoahnsc opened #957 "How can I specify volumes spec?"
Hello,

I'm trying to deploy etcd cluster in GKE. I created a node pool with SSD and I think
I need to specify volumes spec to use it like

[code]

But I couldn't find any way to specify this from examples. How can I do that?

Thanks,

[2017-04-11 23:43] hongchaodeng commented on #956
We already have docs: https://github.com/coreos/etcd-operator/blob/master/doc/user/rbac.md

Is this what you are looking for?

[2017-04-11 23:45] hongchaodeng commented on #957
Duplicate to https://github.com/coreos/etcd-operator/issues/873 .

We can provide such options in PodPolicy.

[2017-04-12 00:07] hongchaodeng commented on #957
One problem we have for enabling hostPath is that it could reuse data that exists before.
For example, if you ran etcd-0 on node-0 using hostPath before, then the pod is deleted later, then a new etcd-0 is run on node-0, the previous etcd-0's data still exists there.

[2017-04-12 00:11] hongchaodeng commented on #956
I'm closing this since it's already there.
Feel free to reopen it if you want something else

[2017-04-12 00:11] #956 closed

[2017-04-12 00:12] hongchaodeng commented on #934
I'm closing this since this isn't an issue anymore.
Feel free to reopen it if you still encounter problems

[2017-04-12 00:12] #934 closed

[2017-04-12 00:57] junghoahnsc commented on #957
I see. Is there any workaround for now?

[2017-04-12 01:21] hongchaodeng commented on #957
There isn't any current workaround.

But in the future I envision the solution would be that: like a human operator, etcd operator will mount the datadir to hostPath to endure restarts, and clean up/prepare datadir before starting etcd process.

[2017-04-12 01:37] junghoahnsc commented on #957
@hongchaodeng That would be great. Thanks!

For now, I'm trying to hack PodPolicy for this, but I failed to build it in `glide`: Failed to install: hg is not installed. Would it be better to open a new issue for that?

[2017-04-12 01:38] hongchaodeng commented on #957
That's not etcd operator issue. It's glide issue.

[2017-04-12 01:47] philips commented on #956
Oops, sorry, missed it here: https://github.com/coreos/etcd-operator/blob/master/doc/user/op_guide.md

Thanks!

[2017-04-12 09:04] hongchaodeng commented on #957
A long term solution for this would be to use persistent local storage: https://github.com/kubernetes/community/pull/306

[2017-04-12 17:36] JosephSalisbury opened #959 "support specifying requests and limits"
Hey!

I'd like to have CPU and memory requests and limits specified on pods created by the operator.

No strong feelings on whether this is a value specified on the TPR, or computed by the operator itself, or some other option.

Any thoughts?

[2017-04-12 18:22] xiang90 commented on #959
You can specify it here in podpolicy: https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L118

it is probably a little bit difficult to discovery. a doc improvement PR is welcomed!

[2017-04-13 00:53] yifan-gu commented on #934
I don't feel the issue is solved yet, cc @pbx0 if you can provide more info for the selfhosted etcd scale test flakiness.

[2017-04-13 01:23] hongchaodeng commented on #934
@yifan-gu
If it happened again, let's create a new issue in bootkube or pluton with more logs and detailed repro steps.

[2017-04-13 06:47] xiang90 commented on #957
hostpath can be a quick hack. however you have to per config the hostpath as far as i can tell (set permission for example).

we can use emptydir now since we never restart a failed etcd server for non-self hosted etcd anyway. in theory, tmpfs should work just fine...

i do not really know how to work around this unless kubernetes/community#306 lands.  we also want to be able to specify a stable s

[2017-04-13 06:47] xiang90 commented on #957
/cc @junghoahnsc

[2017-04-13 06:48] xiang90 commented on #957
you need to install Mercurial, which is similar to git. some deps are hg deps. that is not really an etcd operator issue. so do not create an issue for it.

[2017-04-13 07:59] GrapeBaBa commented on #957
Forgive my naive question, why can't use previous data?Wouldn't it catch up with other peer after restarting?

[2017-04-13 08:17] junghoahnsc commented on #957
I could run a cluster with a hostpath hack for now, but I hope k8s supports this soon :)

[2017-04-13 14:42] hongchaodeng commented on #957
@GrapeBaBa Yes and no.

Let's say I have etcd-0, etcd-1, etcd-2, and etcd-0 went down, then restarting etcd-0 and reusing previous data should be fine. However, this is making assumptions on specific nodes, specific failure scenarios. First, how did we know the node for etcd-0 was still there. Second, how did we know etcd-0 was removed? Third, how did we know it is not created by another member li

[2017-04-13 14:43] hongchaodeng commented on #957
@junghoahnsc
Please help provide your feedback to https://github.com/kubernetes/community/pull/306 .
Thanks!

[2017-04-13 15:19] GrapeBaBa commented on #957
@hongchaodeng Besides hostpath, why operator use restart never strategy when using emptydir?

[2017-04-13 15:49] xiang90 commented on #957
@GrapeBaBa

when an etcd member crashes and unresponsive, we will simply delete the pod now instead of relying on its own to restart on the same node.

this is because the limited restart policy k8s provides. there is no way to tell a pod that it should not restart on failure type X, but restart on failure type Y. You have to restart in all cases or none. In quite a few cases, like if there is a d

[2017-04-13 20:33] xiang90 commented on #959
closing. the requested feature is already supported as mentioned above.

[2017-04-13 20:33] #959 closed

[2017-04-14 01:03] hongchaodeng opened #962 "Bump Go version (release, testing) to 1.8"

[2017-04-14 01:40] GrapeBaBa commented on #957
@xiang90 Thanks.

[2017-04-14 06:22] hongchaodeng opened #963 "Upgrade to k8s 1.6"
Currently, we test etcd operator with k8s 1.5 . k8s 1.6 brings benefits: GC problematic logs reduced, kubectl working with TPR. We should upgrade our jenkins infra to 1.6 and fix problems for it.

[2017-04-14 06:29] hongchaodeng commented on #12
I'm closing this in favor of https://github.com/coreos/etcd-operator/issues/409
All TLS issue update would be tracked there. We are prioritizing the work and trying to get it out in next release, soon.

For dynamic TLS (operator generates CSR), please open another issue later.

[2017-04-14 06:29] #12 closed

[2017-04-14 17:53] mcameron opened #964 "Option to update clientURL on etcd pods?"
Probably more user education than a bug: I would like to update the clientURL format used to start etcd on each pod with a fqdn so that etcdctl doesn't require hostfile modification to get to the service.

Please advise.  MY_POD_NAME value does not accept periods in the name.

<details>
<code>
    client: etcd cluster is unavailable or misconfigured; error #0: dial tcp: lookup etcd-green-shared-no

[2017-04-18 05:18] hongchaodeng commented on #964
I don't catch the question. Can you clarify? Probably give examples?

[2017-04-18 12:27] mcameron commented on #964
When you spin up an example etcd cluster, it gets created with a member list as follows:
[code]
I would like to change the clientURLs for each node to use a FQDN so that the cluster can be reached from outside the kubernetes infrastructure it resides in.

[2017-04-18 12:55] xiang90 commented on #964
@mcameron we will change the member name to their FQDN instead of using the service name in the next release.

[2017-04-18 13:08] hongchaodeng commented on #964
This is already solved in https://github.com/coreos/etcd-operator/issues/901 .

It will be in next release.

[2017-04-18 13:08] #964 closed

[2017-04-19 08:55] hongchaodeng opened #966 "Use Patch() when upgrading etcd pod"
Currently we use Update() when upgrading etcd pod:
[code]

We should change it to Patch().

[2017-04-19 17:27] aaronlevy opened #968 "etcd-operator should allow setting of tolerations on etcd pods"
In k8s v1.6 we can now set taints/tolerations - which will allow for "dedicated" nodes (e.g. "dedicated etcd nodes" or "dedicated master nodes".)

etcd-operator should allow setting tolerations on the etcd pods that get launched to support these deployment methods.

It seems like we could bump to client-go v3 (which is still in beta, but based on comment in a similar version bump for flannel I tru

[2017-04-19 17:28] aaronlevy commented on #968
xref: https://github.com/kubernetes-incubator/bootkube/issues/452