[2017-04-19 17:38] aaronlevy commented on #968
Actually - based on this issue (using patch() rather than update()): https://github.com/coreos/etcd-operator/issues/966 -- really would need to bump to client-go v3.0.0 -- otherwise tolerations will be stripped when etcd pod is updated.

[2017-04-19 19:06] xiang90 commented on #968
@aaronlevy We discussed this issue a while ago. We should taint master nodes for small clusters and taint etcd nodes for large clusters.

from etcd operator point of view, we care about the latter more, but it is a generic setting user can set anyway. The feature is tracked here: https://github.com/coreos/etcd-operator/blob/master/doc/best_practices.md#assign-to-dedicated-node-work-in-progress.

N

[2017-04-19 22:59] aaronlevy commented on #968
@xiang90 This would be a priority change as it blocks the ability for implemented "dedicated" master nodes.

[2017-04-20 20:14] mfacenet commented on #859
I'll give this a +1, I'm using the etcd-operator to run kubernetes masters/etcd on top of an existing k8s cluster, in this use case we separate the hyperkube/etcd components into its own namespace.  Specifically, it would be beneficial for us to have one operator to update/maintain/etc while utilizing it across multiple namespaces.

\cc @brianredbeard @xiang90 @colhom

[2017-04-20 21:16] xiang90 commented on #966
@hongchaodeng i am going to take care of this.

[2017-04-20 21:22] xiang90 commented on #968
fixed by #969

[2017-04-20 21:22] #968 closed

[2017-04-20 23:20] #966 closed

[2017-04-21 04:03] junghoahnsc commented on #957
My naive hack with using `HostPath` doesn't seem to work when I try to upgrade.
I tried to `rm -rf < etcdVolumeMountDir >` before starting etcd for clean up.
But somehow, when I upgraded by using `curl`, all etcd pods died.

[2017-04-21 06:07] hongchaodeng commented on #706
Not seen anymore. Closing old flaky issue.

[2017-04-21 06:07] #706 closed

[2017-04-21 06:07] hongchaodeng commented on #738
Not seen anymore. Closing old flaky issue

[2017-04-21 06:07] #738 closed

[2017-04-21 06:07] hongchaodeng commented on #740
Not seen anymore. Closing old flaky issue

[2017-04-21 06:07] #740 closed

[2017-04-21 06:08] hongchaodeng commented on #767
We need more metrics. Ref: #737

[2017-04-21 06:08] hongchaodeng opened #975 "fail to remove etcd member (xxx): etcdserver: re-configuration failed due to not enough started members"
Seeing this error from jenkins job with 1.6 cluster:
https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master-k8s-1-6-regression/39/consoleText

It's in recovery test, remove 1 member. operator logs showed that after one pod was deleted, operator kept failing removing the member.

[2017-04-21 07:29] hongchaodeng commented on #975
An update on my findings:
- It seems etcd pod "0002" showed "running" but etcd server wasn't up. There is no log for it.
- after "0000" was deleted, "0001" kept doing leader-election.

[2017-04-21 14:34] hongchaodeng opened #978 "e2e flake: wrong members"
failure:
[code]

In operator logs, it's getting the wrong membership pods:
[code]

cluster "test-etcd-zckv5" gets "test-etcd-m7dmd" prefix members.

[2017-04-21 14:38] hongchaodeng commented on #975
This is happening very frequently (actually the only failing test) in 1.6 testing.

[2017-04-21 14:57] hongchaodeng commented on #975
Now I get more logs on pod "0002". It kept failing:
[code]

"0000" should have died. But "02" doesn't seem to form a quorum with "01".

[2017-04-21 16:27] hongchaodeng commented on #975
Filed etcd issue: https://github.com/coreos/etcd/issues/7798

[2017-04-21 17:59] #975 closed

[2017-04-21 18:31] hasbro17 opened #981 "Pod not deleted from API server after grace period"
### Overview
The kubernetes [pod docs](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) state:
[code]
However deleting a pod with the `--grace-period` flag does not ensure it's removal from the API server within the specified time.

### Steps to reproduce
Run a sample pod like:
[code]
[code]

Watch the pod
[code]

Delete the pod with a grace period of 1 second:
[code]

[2017-04-21 18:38] hongchaodeng commented on #963
We also need to change README: minimum version, replace curl hack with kubectl apply.

[2017-04-21 19:29] hongchaodeng commented on #981
upstream ref: https://github.com/kubernetes/kubernetes/issues/44777

@hasbro17 Maybe we should close this one?

[2017-04-21 19:30] #981 closed

[2017-04-22 06:32] xiang90 commented on #963
we need to move this to 0.2.5

[2017-04-23 07:16] xiang90 commented on #957
@junghoahnsc If you can afford the memory usage, probably a better approach for you is to use in memory empty dir for now to max your performance.

[2017-04-24 15:37] hongchaodeng commented on #963
done

[2017-04-24 15:37] #963 closed

[2017-04-24 17:58] hasbro17 commented on #845
Closing this for now until we find a cleaner solution to separate/hide our jenkins specific files from the repo.
This will become a higher priority if the number of jenkins jobs increases to warrant better management.

We could still potentially move jenkins specific scripts to a private repo, and then fetch those within our jenkins jobs before.

[2017-04-24 17:58] #845 closed

[2017-04-24 18:22] hongchaodeng commented on #962
I'm testing out this.
We will upgrade once next release.

[2017-04-24 20:38] xiang90 opened #989 "e2e: operator upgrade tests"
- ensure etcd operator can manage the etcd clusters created by the old version of etcd operator
- ensure etcd backup sidecar can pick up backups created by old version of backup sidecar

[2017-04-24 22:59] hasbro17 opened #992 "e2e flake: migrate_boot_member_to_self_hosted_cluster"
failure: https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/1719/consoleText

After the etcd-server is ready and is added as a  the cluster size goes up by one and then goes back to zero until the test times out:
`self_hosted_test.go:130: failed to create 3 members etcd cluster: still failing after 12 retries`

The first member is probably not being migrated correctly.

[2017-04-24 23:03] hongchaodeng commented on #992
After digging into the operator logs, this is dup to #https://github.com/coreos/etcd-operator/issues/978.

Let's converge there.

[2017-04-24 23:03] #992 closed

[2017-04-24 23:06] hongchaodeng commented on #978
Another failure happened:
[code]

The reason it failed is due to wrong membership:
[code]

After the cluster was migrated and seed member was created, it seemed to list wrong members from the seed member.

[2017-04-24 23:57] hongchaodeng commented on #978
One more finding:
The running test is in namespace "e2e-etcd-operator-1719", while the unexpected member are from another namespace "e2e-etcd-operator-master-go18-16".

[2017-04-25 05:56] #876 closed

[2017-04-25 07:00] xiang90 commented on #914
@snarlysodboxer do you want to add this feature?

we need to:

1. introduce etcdPolicy into the cluster spec
2. add auto compaction as the first parameter

[2017-04-25 07:12] junghoahnsc commented on #957
@xiang90 thanks for suggestion, but I don't think we can provide enough memory to hold all data.
By changing my hack a bit more (create a unique directory per pod and delete all others), I managed to work with upgrade and backup/restore.

BTW, I have two questions on backup.
1. After a restore happens (by deleting nodes for testing), whenever I try to upgrade, all pods are died and then restored.

[2017-04-25 08:59] futureskywei opened #995 "etcdctl call etcd-cluster nodeport error."
etcd-v3.1.6-linux-amd64/etcdctl --endpoints=http://47.93.46.82:31988 ls
Error:  client: etcd cluster is unavailable or misconfigured; error #0: dial tcp: lookup etcd-cluster-0001.etcd-cluster.mytest1.svc.cluster.local on 100.100.2.138:53: no such host
; error #1: dial tcp: lookup etcd-cluster-0002.etcd-cluster.mytest1.svc.cluster.local on 100.100.2.138:53: no such host
; error #2: dial tcp: lookup

[2017-04-25 09:15] futureskywei commented on #995
here is my k8s service Object:
"spec": {
"ports": [
{
"name": "client",
"protocol": "TCP",
"port": 2379,
"targetPort": 2379,
"nodePort": 31988
}
],

[2017-04-25 16:16] xiang90 commented on #995
@futureskywei which version of etcd operator are you using? can you also provide the full service manifest? thanks.

[2017-04-25 16:20] mcameron opened #996 "Etcd connectivity from outside kubernetes"
I would like to be able to allow etcd clients running outside of kubernetes to access the service.

Version: v0.2.5

I don't believe this is currently possible since clients will be asked to resolve a dns entry provided by the servers which is not available outside of Kubernetes.

I first mentioned this issue here: https://github.com/coreos/etcd-operator/issues/964.

<details>
etcdctl --endpoints

[2017-04-25 16:27] xiang90 commented on #996
do you think creating an kubernetes service with external lb will solve your problem? you can configure it yourself. we could write up a doc about how to fill in the label selector in the service.

[2017-04-25 16:31] mcameron commented on #996
I've edited the ${clusterName}-client to be a load balancer instead of ClusterIP, and that allows curl to work with the service perfectly.  However with etcdctl or confd, the servers provide a clientUrl, which the clients use to talk to the servers individually.  Since this clientUrl is not resolvable, the client process dies, see details above.  Ideally I would like to be able to provide a real d

[2017-04-25 16:36] xiang90 commented on #996
You can configure etcdctl to not sync with the clusters to update its clientURLs. It should solve the problem. When you use any sort of LB, you should not sync with etcd's clientURLs.

Can you give me an example? maybe a step by step configuration you would like to see?

[2017-04-25 17:24] xiang90 commented on #978
@hongchaodeng

For self hosted cluster, we will contact an actual IP:Port to update the membership information. However, there is no guarantee that the IP:Port combination is still the etcd member that the logical cluster owns. If the IP:Port maps to a different cluster, then the logical cluster in etcd operator will see bad membership.

I do not quite understand how a member from different cluste

[2017-04-25 18:10] mcameron commented on #996
Cool, so the main reason I needed this was for confd, which looks like they have fixed this no-sync issue in 0.12.0: https://github.com/kelseyhightower/confd/pull/329#issuecomment-186081714.

I'm sure a doc on creating an external service would be useful.

Many thanks.

[2017-04-25 18:10] #996 closed

[2017-04-25 18:12] hongchaodeng commented on #995
Hi @futureskywei

Can you provide:
- environment information: k8s version, etcd-operator version, etcdctl version, etc.
- steps to reproduce your issue.

[2017-04-25 18:57] hongchaodeng commented on #978
This is caused by self hosted anti-affinity not preventing pods of different clusters onto same node.

[2017-04-25 19:44] xiang90 opened #1000 "doc: document how to upgrade from 0.2.5 to 0.2.6"
To upgrade from 0.2.5 to 0.2.6, users need to migrate their existing clusters. we should provide a doc as a reference guide.

[2017-04-25 19:45] hasbro17 commented on #995
@futureskywei it seems you are using etcdctl API version 2. For that you need to need to tell etcdctl to not sync with the cluster to update its clientURLs. So you need to pass in the `no-sync` flag.

`etcdctl --no-sync --endpoints http://<public-ip>:<node-port> get foo`

If you use API v3 then this is enabled by default and you should directly be able to access the client url.
`ETCDCTL_API=3 etcd

[2017-04-25 19:57] hongchaodeng commented on #1000
breaking change https://github.com/coreos/etcd-operator/pull/999:
- the PR changes self-hosted pods's anti-affinity field.

[2017-04-25 20:03] hongchaodeng commented on #995
@hasbro17
I think no-sync issue is https://github.com/coreos/etcd-operator/issues/996

[2017-04-25 20:06] xiang90 commented on #995
@hongchaodeng this is the same issue with #996.

[2017-04-25 20:28] #978 closed

[2017-04-25 21:52] hongchaodeng commented on #962
Closing this. We will revisit again in 1.8.2 .

[2017-04-25 21:52] #962 closed

[2017-04-25 21:53] xiang90 commented on #873
this is basically identical to https://github.com/coreos/etcd-operator/issues/957.

let's continue the discussion there. in short, we need k8s support of local-pv to move this forward.

[2017-04-25 21:53] #873 closed

[2017-04-25 21:56] hongchaodeng commented on #622
The field is still alpha in k8s 1.6 .

[2017-04-25 22:56] #914 closed

[2017-04-26 02:30] futureskywei commented on #995
@xiang90   K8S version :v1.6.2.
                   etcd-operator version:v0.2.5
                   etcd version:{"etcdserver": "3.1.4","etcdcluster": "3.1.0"}
                   etcdctl version:v3.1.6

ETCDCTL_API=3 etcdctl --endpoints http://<public-ip>:<node-port> get foo   is ok.

But  ETCDCTL_API=2 etcdctl  --endpoints=http://47.93.46.82:31988 get foo  will cause error.
Error:  client: etcd cl

[2017-04-26 02:35] xiang90 commented on #995
ok. i can confirm the problem is what @hasbro17 suggested. you need to specify no-sync to make etcdctl work for v2 api. but please do note that etcd operator does not really support backing up etcd2 cluster. so technically speaking, you should not use etcd2 api at all for the moment.

[2017-04-26 02:35] #995 closed

[2017-04-26 17:47] #872 closed

[2017-04-26 18:02] xiang90 commented on #552
I am closing this. We solved this issue by providing pod policy, which contains the pod options that we want users to customize. In such way, we can do better validation and restrict what can be changed. It works well for now. If we see a real requirement for exposing all pod fields, we might expose pod template in pod policy itself. but we did not see that requirement for now.

[2017-04-26 18:02] #552 closed

[2017-04-26 18:06] hongchaodeng commented on #675
done

[2017-04-26 18:06] #675 closed

[2017-04-26 20:24] xiang90 commented on #957
I tested the v0.2.5 (without hack), but it showed the same behavior. Is this expected?

no, it is not expected. can you create a new issue for this with steps to reproduce?

sidecar might need to save intermediate backup to disk before it can upload to S3. sidecar has no anti-affinity with etcd pods, so it can end up on the same machine with etcd pod. does this cause you any issue?

[2017-04-26 20:30] junghoahnsc opened #1008 "Upgrade restarts all pods after a restore happens"
After a restore happens (by deleting nodes for testing), whenever I try to upgrade, all pods are died and then restored. But when there was no restore before, upgrade just restarts pods.
I tested the v0.2.5.

Steps:
1. create a cluster with backup (with etcd 3.1.5)
2. delete more than half pods to make restore happen
3. upgrade the cluster with etcd 3.1.6

[2017-04-26 20:31] xiang90 commented on #1008
this cluster is also created with etcd operator 0.2.5?

[2017-04-26 20:32] junghoahnsc commented on #957
I create a new issue.

For sidecar, I set anti-affinity with etcd pods. When I enabled backup, one pod was not scheduled.
I was using 6 node and set the number etcd pods to 6.

[2017-04-26 20:33] junghoahnsc commented on #1008
Oh, yes. I  created with operator 0.2.5.

[2017-04-26 20:34] xiang90 commented on #957
@junghoahnsc ok. i understand the issue now. can you also create a new issue to track the sidecar pod problem? we will resolve it.

[2017-04-26 20:39] junghoahnsc opened #1009 "Support backup sidecar's own NodeSelector"
A backup sidecar pod seems to use the NodeSelector of cluster's pod. So, When I set anti-affinity with etcd pods, one etcd pod couldn't be scheduled due to a backup sidecar pod.

It would be good to give a flexibility to set the backup sidecar's own NodeSelector.

[2017-04-26 20:39] junghoahnsc commented on #957
Sure, created.

[2017-04-26 20:41] xiang90 commented on #1009
reasonable. we will add a podpolicy into backup policy. so backup pod will only respect the pod policy there.

[2017-04-26 20:49] hongchaodeng opened #1010 "tls doesn't support self-hosted etcd now"
Currently we hard-code self-hosted etcd to use url scheme as "http".

Checklist:
- [x] https://github.com/coreos/etcd-operator/issues/1102

[2017-04-26 21:31] hasbro17 commented on #1008
Confirmed. I am able to recreate the issue on a kubernetes 1.6 cluster with etcd-operator v0.2.5.

Here are the steps:
- Create the etcd-operator deployment with the following configuration:
[code]
[code]

- Create the 3 member etcd cluster with the backup config:
[code]
[code]

- Delete 2 of the 3 pods:
[code]
Wait for the cluster to heal back to 3 members:
[code]

- Upgrade the cluster spec.vers

[2017-04-26 21:32] diegs opened #1012 "pod anti-affinity label means that self-hosted etcd can't bootstrap on a single master"
#999 adds a restriction so only one etcd pod can run on any node. If I understand correctly, this could cause a problem if we are running on a single master: since the temporary etcd will already be running there, the self-hosted pod will not be schedulable.

cc @aaronlevy

[2017-04-26 21:33] xiang90 commented on #1012
the seed etcd should not have label attached, right?

[2017-04-26 21:37] hongchaodeng commented on #1012
It only uses label "k8s-app: boot-etcd".

[2017-04-26 21:51] xiang90 commented on #1012
yea. i mean it does not have the label we attach for anti-affinity

[2017-04-26 21:53] diegs commented on #1012
Ah, yes, looks like I misunderstood the PR. Should be ok then.

[2017-04-26 21:53] #1012 closed

[2017-04-27 00:35] hasbro17 commented on #1008
So after the upgrade to 3.1.6 there is a period of time when all pods are stable. Then the first pod to start terminating is `example-etcd-cluster-with-backup-0004`. That is detected and removed from the cluster membership by the operator.
[code]

When `example-etcd-cluster-with-backup-0005` goes away the operator goes into disaster recovery.

The logs for all 3 pods `0003`, `0004` and `0005` are

[2017-04-27 00:39] hasbro17 commented on #1008
The interesting part in all the above is when `0005` which is the leader loses the connection it had with `0004` from before the update to 3.1.6 and then removes it from the cluster:
[code]

[2017-04-27 06:41] hongchaodeng commented on #1008
After etcd pod failed, I collected the logs and it has one more line at the end:
[code]

[2017-04-27 06:43] hongchaodeng commented on #1008
This is caused by init container behavior change due to k8s 1.6 .
To be clarified, it's not a regression in etcd-operator.

[2017-04-27 07:31] xiang90 commented on #1008
2017-04-27 06:35:09.546831 C | etcdmain: database file (/var/etcd/data/member/snap/db index 4) does not match with snapshot (index 5).

hmm... might be this is etcd related? how do you know this is an init container issue?

[2017-04-27 16:33] hongchaodeng commented on #1008
Actually other pods that didn't have init containers also failed with the same error. So it's unlikely init container.

[2017-04-27 18:11] xiang90 opened #1014 "backup sidecar upgrade"
we should update all running backup sidecars when etcd operator itself is updated.

[2017-04-27 19:40] xiang90 commented on #946
fixed by https://github.com/coreos/etcd-operator/pull/1015/commits/5d9384ef71a3224720ba646e761cefd9f82201cd

[2017-04-27 19:40] #946 closed

[2017-04-27 22:02] hongchaodeng commented on #1008
@junghoahnsc
This is known issue in etcd 3.1: https://github.com/coreos/etcd/issues/7628 .
Right now just let operator recreate all the pods for you.

[2017-04-27 22:18] xiang90 opened #1016 "document: write a service to lb over all etcd members."
we do not provide reliable member pod name, thus no reliable FQDN to put into etcd clients.

users normally should use the client service we created or they can create their own one to do load balancing over the etcd pods.

we should document both options.

[2017-04-27 22:39] yifan-gu opened #1018 "Return backup status when return from the /backupnow endpoint?"
During oob discussion with @xiang90 , we think it would be nice if the backup service can return the recent backup status to the caller when `/backupnow` is called, so the caller can know which backup is created recently and save that information in case of future restore.

So the proposed behavior here woud be:
- If a backup is skipped, then `GET /backupnow` only returns 200.
- If a backup is cre

[2017-04-27 22:39] xiang90 commented on #1018
yea. i will fix this.

[2017-04-27 22:43] yifan-gu commented on #1018
@xiang90 Another optional idea I have is providing more parameters for the request, e.g. `GET /backupnow?force=true` so it can force the service to do a backup and return the backup status on success. So that the caller doesn't have to loop over the `GET` request until a change is made in etcd store.

[2017-04-28 01:15] junghoahnsc commented on #1008
Thanks for the investigation!

[2017-04-28 01:29] hasbro17 commented on #1008
Waiting for fix on coreos/etcd#7834.

[2017-04-28 04:56] hongchaodeng commented on #989
# Operator Upgrade Test

When we upgrade operator from v1 to v2, we need to make sure it is compatible. Here are some test scenarios we need to check.

## Test Scenarios

- make sure pods created by v1 operator could be managed by v2 operator
  - resize
  - healing 1 member
  - backup could be made by backup sidecar

- make sure backup made by v1 operator could be used by v2 operator
  - disaster

[2017-04-28 13:47] fen4o opened #1021 "Configurable Cluster Domain"
The Cluster Domain is [hard-coded](https://github.com/coreos/etcd-operator/blob/fca6c88b4f65f4d982bb9f15c44b3188a9954e2d/pkg/util/etcdutil/member.go#L45) to `cluster.local`. This won't work for clusters with custom domain name in `kube-dns` and `kubelet`

Can we have it configurable via additional command line option? In kubelet right now its `--cluster-domain=...` and in kube-dns `--domain=...`

[2017-04-28 16:52] hongchaodeng commented on #1021
Right. Thanks for the feature request.

Please be patient since we would probably spend next couple of dev cycles on testing and releases.

[2017-05-02 03:51] hongchaodeng opened #1029 "BackupStatus isn't shown in BackupServiceStatus"
I have a backup-enabled cluster.
There is one backup made, but backup status didn't show up:
[code]

[2017-05-02 04:12] hongchaodeng commented on #1029
Not reproducible.. Seems like my own config problem.

[2017-05-02 04:12] #1029 closed

[2017-05-02 18:15] hongchaodeng commented on #962
Tested again on latest master. Had 50+ consecutive success builds.

[2017-05-02 18:18] hongchaodeng commented on #962
Changed all infra's Go version to 1.8.1 .

[2017-05-02 18:19] xiang90 commented on #1014
closed by https://github.com/coreos/etcd-operator/pull/1030

[2017-05-02 18:19] #1014 closed

[2017-05-02 19:44] hongchaodeng opened #1033 "TLS key/cert rotation"
left item from https://github.com/coreos/etcd-operator/issues/409

We need the workflows and docs for TLS key/cert rotation

[2017-05-02 19:45] hongchaodeng commented on #409
This is done.
Docs is provided in https://github.com/coreos/etcd-operator/blob/master/doc/user/cluster_tls.md .
We will extend the docs and provide some example including certs later.

[2017-05-02 19:45] #409 closed

[2017-05-02 20:43] xiang90 commented on #1008
@junghoahnsc thanks for reporting. we confirmed this is an etcd issue, not an operator problem. please track the issue here instead: https://github.com/coreos/etcd/pull/7856

[2017-05-02 20:43] #1008 closed

[2017-05-02 21:12] #1009 closed

[2017-05-02 21:56] ahmetb opened #1040 "Mention helm chart in installation guide"
It looks like etcd-operator is packaged as a Helm chart:

https://kubeapps.com/charts/stable/etcd-operator
https://github.com/kubernetes/charts/tree/master/stable/etcd-operator

Is there any reason to not to document it in the https://github.com/coreos/etcd-operator/blob/master/doc/user/op_guide.md ?

[2017-05-02 21:58] hongchaodeng commented on #1040
@ahmetb Would you like to update the doc?

[2017-05-02 21:59] ahmetb commented on #1040
@hongchaodeng I have to follow some internal approval process to contribute. It might be faster for you to do it.

[2017-05-02 22:42] hongchaodeng commented on #883
Done.
Closed this.

[2017-05-02 22:42] #883 closed

[2017-05-03 17:34] hongchaodeng opened #1044 "e2e: failed to wait for PVC to be "bound" after 60s"
[code]

In operator logs, it showed:
[code]

There is not much we can do if a PVC's status wasn't switched to "Bound" for such a long time.

[2017-05-03 18:14] hongchaodeng opened #1046 "Upgrade from 0.2.6 to 0.3.0"
Upgrade test:
- [x] umbrella: https://github.com/coreos/etcd-operator/issues/989
  - [X] Resize test
  - [X] One member healing test. (https://github.com/coreos/etcd-operator/pull/1063)
  - [x] Make backup from old cluster test. (https://github.com/coreos/etcd-operator/pull/1067)
  - [x] recovery from old backup (https://github.com/coreos/etcd-operator/pull/1082)
  - [x] Restore from old backup (h

[2017-05-03 18:33] hongchaodeng opened #1047 "e2e: There was no backup made but e2e/util.makeBackup() proceeded"
[code]

In operator logs, the newly restored cluster couldn't start because no backup was available:
[code]

Searched through our log infra, I couldn't find any logs for backup pod of cluster "test-etcd-4db4l".

[e2e/util.makeBackup()](https://github.com/coreos/etcd-operator/blob/235640b7245a50c7a8bfef7eefc60267e17e35f4/test/e2e/util.go#L64-L91) had proceeded without any error.

[2017-05-03 19:37] hongchaodeng commented on #1047
Another failure happened. We dig into the logs. This time the backup sidecar showed up and it had made a backup.

[2017-05-03 20:10] #1000 closed

[2017-05-03 21:08] junghoahnsc opened #1051 "enabling auth not supported"
Hello,

I'm trying to enable auth by

[code]

Then, all etcd pods are restarted and auth is disabled. I checked the logs from operator, it showed
[code]

Should I add guest role for this health check?
And I'm not sure why auth is disabled after pods were restarted.

[2017-05-03 21:10] xiang90 commented on #1051
when you disable auth, health checking will fail. we fixed this in etcd itself a while ago. after we bump etcd version, it should be resolved.

[2017-05-03 21:11] xiang90 commented on #1051
well. not exactly, we probably should not use key command to do health checking.

/cc @hongchaodeng

[2017-05-03 21:23] hongchaodeng commented on #1044
Closing it. The operator image is outdated.

[2017-05-03 21:23] #1044 closed

[2017-05-03 21:23] hongchaodeng commented on #1047
Closing it. The operator image is outdated.

[2017-05-03 21:23] #1047 closed

[2017-05-03 21:27] junghoahnsc commented on #1051
I'm using etcd v3.1.6. I think guest role should be created automatically when I enabled auth:
https://github.com/coreos/etcd/blob/v3.1.6/etcdserver/auth/auth.go#L376

Then, health checking should also work? But 'guest' role doesn't seem to be created when I enabled it.

[2017-05-03 21:29] xiang90 commented on #1051
@junghoahnsc etcd operator needs the "root" access for backing up etcd, and do health checking. We need to figure out a way to assign the operator the root role.

[2017-05-03 21:33] junghoahnsc commented on #1051
oh I see.

[2017-05-03 21:34] hongchaodeng commented on #1051
@junghoahnsc
What's your work email? Would you like to ping me at hongchao.deng@coreos.com ?

[2017-05-03 22:41] hongchaodeng opened #1053 "Add `k8s-app` label into self hosted etcd pods"
feature request. continued from: https://github.com/coreos/tectonic-installer/issues/489

[2017-05-03 23:23] hongchaodeng commented on #1053
After a second thought, users could set custom labels via pod policy.

Closing.

[2017-05-03 23:23] #1053 closed

[2017-05-04 17:49] #1040 closed

[2017-05-04 19:45] hongchaodeng opened #1058 "e2e tests should use `kubectl port-forward` to talk to k8s pods"
For a user, he might use `kubectl port-forward` to reach etcd, backup pods outside k8s. Our e2e tests could make use of similar techniques.

It doesn't necessarily mean that we need to open up a local proxy. We could also write to the connection to pods directly.

[2017-05-04 19:45] hongchaodeng commented on #788
closed in favor of https://github.com/coreos/etcd-operator/issues/1058

[2017-05-04 19:45] #788 closed

[2017-05-04 21:57] #1016 closed

[2017-05-04 22:22] hasbro17 opened #1060 "e2e/wait_util: should wait for ready members and not number of pods"
Currently the function  `waitSizeReachedWithAccept()` is used in the e2e tests to check if a cluster successfully reaches the desired size after some action. Its current implementation only checks the number of pods in the cluster. Rather it should check the number of ready members in the etcd cluster to ensure that the cluster is healthy and of the desired size.

[2017-05-04 22:32] hongchaodeng commented on #1058
Might need to wait upstream pr to merge: https://github.com/kubernetes/kubernetes/pull/41331

[2017-05-05 22:45] hongchaodeng opened #1068 "Deployment of backup sidecar is stuck at upgrade"
k8s version: 1.6.2
operator version: 0.2.6

After upgrade etcd operator, it does update the image of backup sidecar.
But the sidecar deployment seems to be stuck:
[code]

The old pod is never terminated and new one could start due to contention over PVC:
[code]

[2017-05-05 23:08] hongchaodeng commented on #1068
Tried on Haseeb's cluster. He didn't have the same problem..

His kubectl version is "1.6.1". But I also had this problem with our client-go API..

[2017-05-06 04:14] hongchaodeng commented on #1068
I have done some experiments and here is my finding.

The backup sidecar deployment created by operator was having the following defaults on spec:
[code]

The problem with such spec is `maxUnavailable: 25%`. During upgrade, the new pod wouldn't get ready/running because it was fighting for PVC that old pod was occupying. But old pod would not be terminated because it was 100% "unavailable" on new

[2017-05-06 04:15] hongchaodeng commented on #1068
Another thought on this is that we should probably use strategyType `Recreate`. That provides stronger guarantee because we basically allow only one pod to be running.

[2017-05-06 22:49] #1068 closed

[2017-05-07 00:38] hongchaodeng commented on #1046
In https://github.com/coreos/etcd-operator/pull/1069, we fixed a bug of backup sidecar upgrade. For 0.2.6 it has the bug, we must update the strategy during upgrade in 0.2.7 .

[2017-05-07 03:09] hongchaodeng commented on #1046
Updated this issue with tasks we need to finish before 0.2.7 release

[2017-05-08 17:00] xiang90 commented on #1033
this is mainly a documentation issue.

before etcd 3.2, we need to update secrets, and rotate pods by killing them one by one.

etcd 3.2 is able to pick new key/certs for TLS. So we do not need to rotate pods anymore.

Thus, after etcd 3.2, we only need to update secrets.

[2017-05-08 17:58] xiang90 commented on #859
moved to future based on current priority.

[2017-05-08 18:09] #868 closed

[2017-05-08 18:20] hasbro17 opened #1076 "upgrade flake: timeout waiting old image pod deleted"
Currently we use a timeout of 30s in `WaitPodsWithImageDeleted()` in etcd operator upgrade:

[code]

There has been at least 1 instance of this causing a timeout failure in the upgrade test:
[code]
We should keep an eye on this if this fails repeatedly in the future.

[2017-05-09 00:09] #1018 closed

[2017-05-09 00:11] yifan-gu opened #1079 "Being able to retrieve a specific backup?"
Today, we can only download the latest backup from the operator, but sometimes we might want a specific backup instead.

For example, such scenario can happen during the tectonic upgrade:
- tco triggers an initial backup before upgrading anything
- tco performs upgrades accordingly after the backup succeeds
- new backups could be made afterwards automatically or triggered by other components

Howe

[2017-05-09 00:26] hongchaodeng commented on #1079
Is the question to restore from a specific backup or get a backup?

[2017-05-09 00:27] yifan-gu commented on #1079
@hongchaodeng Get a backup

[2017-05-09 17:56] xiang90 commented on #1079
@yifan-gu

In this case, you will need to manually get the backup from the actual storage.

We discussed this case with @aaronlevy and @sym3tri. Yes, it is possible to get backups from the sidecar, but then we still need to assume the in-cluster network accessibility and the availability of sidecar pod. There is no clear win over simply getting the backup from the actual storage (s3, or PV).

Do y

[2017-05-09 19:36] yifan-gu commented on #1079
@xiang90 It would be nice if we can ask the sidecar for a specific reversion of the backup, but downloading it from the actual storage is ok.
In both cases, we still want `/backupnow` to return a reversion number so we can use when downloading the backup.

[2017-05-09 19:40] hongchaodeng commented on #1079
You mean "revision"?
That should be fine. We can add that.

[2017-05-09 19:42] yifan-gu commented on #1079
@hongchaodeng Yeah, I mean the `${CLUSTER_REVISION}` in the [example](https://github.com/coreos/etcd-operator/blob/master/doc/user/download_backup.md#get-backup-from-s3)

[2017-05-10 23:08] #737 closed

[2017-05-11 19:00] hasbro17 commented on #989
@hongchaodeng is there anything else in this issue that we need to do? Setting up the jenkins job for upgrade tests on a PR perhaps?

[2017-05-11 19:30] hongchaodeng commented on #989
All done. Closing

Nightly job is fine for now.

[2017-05-11 19:30] #989 closed

[2017-05-11 20:36] hongchaodeng commented on #923
After discussion, we think it is useful to have both per cluster and operator wide policy setting. Per cluster will override operator wide if exists.

[2017-05-11 22:10] ssubramanian123 opened #1088 "cluster failed to setup: unable to access s3 bucket"
We are trying to create etcd cluster with backup in S3 and getting "cluster failed to setup: unable to access s3 bucket". Here is the steps followed

1.  Created operator  - up and running (followed steps https://github.com/coreos/etcd-operator/blob/master/doc/design/s3_backup.md)
- Created secret object
- Created configmap
- Created operator
2. When creating cluster, operator throws below excepti

[2017-05-11 22:14] hongchaodeng commented on #1088
Can you give detailed steps?

[2017-05-11 22:15] hongchaodeng commented on #1088
The doc you link to is a design doc. It's outdated.
Please see this one instead: https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md

[2017-05-11 22:30] ssubramanian123 commented on #1088
Thanks @hongchaodeng let me try with new doc.

[2017-05-11 22:35] todkap opened #1090 "Update Docs to reflect API usage for set (versus put) in README"
Following the read me and got to the https://github.com/coreos/etcd-operator#disaster-recovery section and noticed that the docs were slightly wrong for my environment.  Looks like the command should be "set" versus put.

[code]

[2017-05-11 22:35] hongchaodeng commented on #1090
You need to enable `ETCDCTL_API=3`

[2017-05-11 22:35] #1090 closed

[2017-05-11 22:43] todkap commented on #1090
Just realized that was my mistake.  Thanks for the quick response.

[2017-05-11 23:15] ssubramanian123 commented on #1088
@hongchaodeng I verified new document and we are following the same steps and getting the error. Here is the detailed steps with file details.

Steps:

kubectl create secret generic aws --from-file=aws-crendentials --namespace=vault

aws-crendentials
`[default]
aws_access_key_id=xxxx
aws_secret_access_key=xxxx`

kubectl create configmap aws --from-file=aws-config --namespace=vault
aws-config
`[def

[2017-05-11 23:17] hongchaodeng commented on #1088
File names are wrong:
aws-crendentials -> crendentials
aws-config -> config

[2017-05-12 00:07] ssubramanian123 commented on #1088
thanks @hongchaodeng, really appreciate your quick reply. It fixed the issues.

[2017-05-12 00:07] #1088 closed

[2017-05-12 16:13] #923 closed

[2017-05-12 21:39] hongchaodeng commented on #1046
Our next release is changed to 0.3.0 because we drop compatiblity.
We need provide upgrade path docs.

[2017-05-15 14:32] mcameron commented on #1051
Any news on etcd auth support in etcd-operator?

[2017-05-15 16:17] xiang90 commented on #1051
@mcameron Sorry. No. We do not have enough time to work on this. Do you have any interest in helping with this feature?

[2017-05-15 18:56] hongchaodeng commented on #1046
All done.

[2017-05-15 18:56] #1046 closed

[2017-05-16 04:05] ssubramanian123 opened #1098 "cluster failed to setup : error retrieving resource lock vault"
I followed below document to create etcd operator and clusters.
https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md

But while running cluster getting error as below in operator log and cluster didnt create.

`E0516 03:50:55.532973       1 election.go:226] error retrieving resource lock vault/etcd-operator: the server has asked for the client to provide credentials (get e

[2017-05-16 04:07] hongchaodeng commented on #1098
@ssubramanian123
This is typical RBAC issue.
Please set up RBAC correctly according to [the docs](https://github.com/coreos/etcd-operator/blob/master/doc/user/rbac.md).

[2017-05-16 04:08] hongchaodeng commented on #1098
@ssubramanian123
What environment (GKE, AWS) are you running? There are usually default account with admin roles to let you play with.

[2017-05-16 04:15] ssubramanian123 commented on #1098
Thanks @hongchaodeng for your quick response. I tried this in our AWS pre-develop env and it worked fine, now trying to deploy in AWS Develop env. I am pretty new to k8s, not sure on RBAC. Let me go through docs and try to setup as stated.

[2017-05-16 17:10] ssubramanian123 commented on #1098
@hongchaodeng I was trying to create the clusters on existing vault namespace. So now I completely deleted namespaces and trying to create again.

During cluster creation getting below error. Though I am able to access S3 bucket with same credentials.  Any thought?

`time="2017-05-16T16:49:06Z" level=error msg="cluster failed to setup: unable to access bucket com-charter-aesd-dev-k8s-vault: Reques

[2017-05-16 17:13] hongchaodeng commented on #1098
Can you provide your TPR? How you start operator? And how you create your AWS secret?

[2017-05-16 17:14] ssubramanian123 commented on #1098
It is same steps https://github.com/coreos/etcd-operator/issues/1088, (I have fixed the filenames as suggested by you in other thread).

[2017-05-16 17:18] hongchaodeng commented on #1098
Sure. But things could change in subtle way anytime.
We need formal process to run and reproduce this error to figure out what goes exactly wrong.

[2017-05-16 17:32] ssubramanian123 commented on #1098
Thanks @hongchaodeng  Here is the steps which I followed now.

--Namespace created

kubectl create -f deployments/secured-external-ca/namespace.yaml

--AWS credentials setup

kubectl create secret generic aws --from-file=deployments/secured-external-ca/awsdev/credentials --namespace=vault
kubectl create configmap aws --from-file=deployments/secured-external-ca/awsdev/config --namespace=vault

-- c

[2017-05-16 17:34] hongchaodeng commented on #1098
Can you provide:
- deployments/secured-external-ca/etcd/etcd-operator.yaml
- deployments/secured-external-ca/etcd/etcd-cluster.yaml

[2017-05-16 17:34] hongchaodeng commented on #1098
BTW, did you retry that?
[code]
This could be temporary network error.

[2017-05-16 17:40] ssubramanian123 commented on #1098
@hongchaodeng I tried 2 / 3 times by deleting TPR / cluster and re-creating it, no luck.

Here is the file

etcd-operator.yaml

`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: etcd-operator
  namespace: vault
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: etcd-operator
    spec:
      containers:
      - name: etcd-operator
        image: quay.io/coreo

[2017-05-16 17:53] hongchaodeng commented on #1098
I couldn't reproduce this.
From the error, it looks a networking issue talking to S3:
[code]

Could you try to create a pod directly, mount secrets/configs, and see if it could talk to S3.

[2017-05-16 17:55] ssubramanian123 commented on #1098
Thanks @hongchaodeng let me try it and update here.

[2017-05-16 18:52] todkap opened #1099 "Simple TLS flow for minikube (all servers return error)"
I am attempting to craft together an end to end flow for TLS enablement of etcd-operator based upon existing resources in this project.

The current design appears to work fine for non-TLS flows but the moment I try to enable TLS with keys, the connection fails.

In minikube, I set the following secrets (these pem files are from the tls/certs directory
[code]

For the yaml file, I appended the TLS

[2017-05-16 18:59] hongchaodeng commented on #1099
@todkap Thanks for reporting.

Not related.

What operator version are you using?

[2017-05-16 19:01] todkap commented on #1099
I believe it is image: quay.io/coreos/etcd-operator:v0.2.6

[code]

[2017-05-16 19:04] hongchaodeng commented on #1099
[code]

It's a little confusing, but these certs are for etcd server's client port (2379) :)

Instead, you need to use
[code]

[2017-05-16 19:06] hongchaodeng commented on #1099
I think this is a docs issue..

[2017-05-16 19:16] todkap commented on #1099
I made the quick change to leverage the suggested pem files.   I think something else is still awry unless with the TLS enablement, the port # has somehow changed (did not appear so in my minkube /kubectl commands I ran).   Same error still exists.

[2017-05-16 19:19] ssubramanian123 commented on #1098
Thanks @hongchaodeng, looks some issue with cluster dns or some issue.. we completely deleted cluster and ran it again. Everything worked as expected.

Thank you very much again for your help.

[2017-05-16 19:23] todkap commented on #1099
I may have spoken too soon. Let me debug some more locally.

[2017-05-16 19:37] todkap commented on #1099
Did some additional testing and the pem file change did not appear to solve my issue.

[code]

Some debug content from describing my pod

[2017-05-16 19:52] hongchaodeng commented on #1099
The certs are not for domain "*.example.default.svc.cluster.local", not "*.example-etcd-clster....".
This is just how x509 works :)

Can you change your TPR to
[code]

and use service "example-client.default.svc.cluster.local". I haven't tried "example-client" before so not sure for that.

[2017-05-16 20:04] todkap commented on #1099
Last set of changes nailed it...  I am now getting the following debug...

`nodeAppTesting(example-client.default.svc.cluster.local) ->{"action":"get","node":{"key":"/nodeAppTesting_https_example-client.default.svc.cluster.local_2379","value":"foo","modifiedIndex":9,"createdIndex":9}}`

[2017-05-16 20:05] todkap commented on #1099
I will take some time to write this up.   Thanks again for the help!

[2017-05-16 20:07] hongchaodeng commented on #1099
@todkap
Sweet. Please try out the tool and give us more feedback.
We all know the pain of TLS. We want to make this a better experience than without operator.

[2017-05-16 20:13] hongchaodeng commented on #1099
@todkap
I'm writing docs to fix this now.

[2017-05-16 20:16] todkap commented on #1099
@hongchaodeng  In your doc updates, can you please document the key changes that were made right at the end.   I think I need a better understanding of why the "name: example" was so important.   If I was to do this again, I would have created my own SSL certs.  To me, it is a bit weird that the X509 cert was not based upon the domain that service would be registered as (example-etcd-cluster-clien

[2017-05-16 20:21] hongchaodeng commented on #1099
When you are generating TLS certs, you need to give SAN where the examples we provide were set to `*.example.default...` .

We have documented [here](https://github.com/coreos/etcd-operator/blob/master/doc/user/cluster_tls.md#memberclientsecret) that what domains to be included in SAN.

By doing that, we need to generate certs for users. That is possible. We might support that depending on user re

[2017-05-16 20:41] hongchaodeng commented on #1099
docs submitted: https://github.com/coreos/etcd-operator/pull/1100

[2017-05-16 23:23] hongchaodeng opened #1102 "Use FQDN for self hosted etcd pods"
Currently we are using NodeIP for self hosted etcd pods because it could not reach kube DNS service before.

By now, we have figured out using `DNSPolicy: ClusterFirstWithHostNet` would make it work again. It's better to move back to use service names for etcd pods:
- it converges with non-self-hosted code path.
- it benefits TLS certs SAN wildcard domain names.

[2017-05-17 17:11] hongchaodeng commented on #1076
Another recent failure:
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-upgrade/30/

Based on our initial analysis, it seemed like a timing issue.

We should consider measuring, collecting how much each step takes, e.g. 99% . And then better define timeout.

[2017-05-17 19:39] #1099 closed

[2017-05-17 20:06] hongchaodeng commented on #1102
ref: https://github.com/coreos/etcd-operator/issues/1010

[2017-05-18 12:08] rimusz opened #1107 "etcd-backup-sidecar does not work with bootkube selfhosted etcd"
took etcd-operator v0.3.0 for a spin with backups to S3, it worked fine.

Then upgraded (operator and cluster) installed selfhosted etcd via bootkube v0.2.4->0.2.6->0.3.0, and there
`kube-etcd-backup-sidecar` gives errors:
[code]

[2017-05-18 12:47] #1098 closed

[2017-05-18 14:41] hongchaodeng commented on #1107
Hi @rimusz
Thanks for reporting.
Can you give details about how to reproduce this issue?

[2017-05-18 14:58] rimusz commented on #1107
I'm using https://stackpoint.io built cluster, tested on AWS and GCE clusters, both setups have the same issue. Our clusters get built with etcd-operator v0.2.4.
How to reproduce the issue:
[code]
You should see now in `kube-etcd-backup-sidecar` logs:
[code]

[2017-05-18 14:59] rimusz commented on #1107
@hongchaodeng left the instructions how to reproduce the issue.

[2017-05-18 16:01] hongchaodeng commented on #1107
Right. This is self-hosted issue.

Just confirmed that DNS name doesn't work for self-hosted etcd pods:
- FQDN of each pod doesn't work
- client service doesn't work

[2017-05-18 16:10] rimusz commented on #1107
ok, I tested this on `bootkube/hack/single-node`, the same issue

[2017-05-18 16:14] rimusz commented on #1107
@hongchaodeng any workaround till we get fix PR?

[2017-05-18 16:21] hongchaodeng commented on #1107
@rimusz

The backup path for self-hosted is not supported yet.
We have just started writing features to support:
- dynamic change of backup policy (already in v0.3.0)
- per cluster S3 policy (already in v0.3.0)
- self-hosted backup (going in for v0.3.1)

This is one of the problems we need to solve for self-hosted backup.

[2017-05-18 16:24] rimusz commented on #1107
gotcha, thanks

[2017-05-18 16:42] hongchaodeng commented on #1107
Submitted a PR (https://github.com/coreos/etcd-operator/pull/1108) for the fix.

[2017-05-18 16:51] rimusz opened #1109 "backup to GCS"
support backup to GCS bucket

[2017-05-18 16:53] rimusz opened #1110 "backup to Azure"
support backup to Azure cloud storage bucket
support Azure disk storage for PVC backup

[2017-05-18 16:55] xiang90 commented on #1109
@rimusz It would be great if you can contribute to this.

[2017-05-18 16:56] rimusz commented on #1109
I wish I was the go developer, then I could :)

[2017-05-18 20:04] ssubramanian123 opened #1112 "Can we able to create AWS IAM rolebased etcd-operator?"
Hi,

I am trying to create jenkins pipeline to deploy vault. As part of etcd-operator need below three steps which involves AWS credentials and config. Since storing AWS credentials in stash is not secure (not good practice), looking for alternate option. Is there any best option to create pipeline for vault or can we use AWS IAM role ?
[code]
[code]

[2017-05-18 20:36] xueshanf commented on #773
@hongchaodeng trying to find the latest etcd-operator docs, can you point me the last deployment and cluster yaml files?

[2017-05-18 23:12] bamb00 commented on #115
Hi,

Is there a fix or workaround for the hostNetwork-true? I'm running  etcd 3.1.6.  What workaround I can apply from Kubernetes?

Thanks in Advance.

[2017-05-18 23:13] hongchaodeng commented on #115
@bamb00
What's the context? What are you trying to do?

[2017-05-19 00:46] bamb00 commented on #115
The issue is reference in @caseydavenport with the link from kubernetes (kubernetes/kubernetes#17406).  I'm just wondering is there a workaround for this issue.

[2017-05-19 16:34] rimusz commented on #1107
PR (#1108) does fix it 👍

[2017-05-19 17:40] #1107 closed

[2017-05-20 00:07] chancez opened #1116 "Use pod disruption budgets"
The etcd-operator should allow users to set a pod disruption budget in the Etcd cluster TPR, and perhaps it should also set a pod disruption by default, if unspecified. This can help with temporary issues where a node becomes "unready" and the controller manager tells the kubelet to evict it's pods.

[2017-05-20 00:34] chancez opened #1117 "Use Taint Based Evictions"
TaintBasedEvictions is an alpha feature in 1.6 which let's you specify tolerations that effect when a pod is evicted as a result of certain node conditions. This can be used to prevent the pod from being evicted for a certain amount of time (via `tolerationSeconds`), or indefinitely when a node becomes NotReady, or unknown, etc.

Docs:

https://kubernetes.io/docs/concepts/configuration/assign-pod-

[2017-05-20 06:48] philips commented on #1117
Yes! We should do this; glad this feature exists.

Then we need some way to reconcile actual node death with cloud providers, which we should probably do anyways. Create a NodeDeletionController or something.

[2017-05-20 23:05] chancez commented on #1117
I'm pretty certain that an actual node death (ie: termination) is already reconciled correctly in Kubernetes. If you mean something else, like "down and not coming back, but not terminated", then I think that would ideally be handled by an ASG health check where the node is unhealthy and terminated by the ASG after the configured grace period.

As that relates to the TaintBasedEviction tolerations

[2017-05-22 15:17] sergik opened #1119 "configurable pvc wait timeout"
Could PVC creation timeout be made configurable. Not it hardcoded to 15 times retires after each 4 seconds. In our conditions it takes a little bit more to bound pvc so the cluster can never up.

[2017-05-22 16:11] hongchaodeng commented on #1119
We could make it more robust by retrying and backoff.

I don't think this is user configuration. User shouldn't know how much time waiting for PVC to be bound.

[2017-05-22 16:52] diegs commented on #1117
I would assume baremetal folks would want to know that one of their nodes is non-functional and go fix it.

[2017-05-23 07:09] ravindranathakila opened #1121 "Endless creation of members"
Two members got created and the rest are in an endless creation state:

etcd-operator:

[code]

006 Logs:

[code]

007 Logs:

[code]
Operator Config:

[code]
Cluster Config:

[code]
![screen shot 2017-05-23 at 3 06 26 pm](https://cloud.githubusercontent.com/assets/1250044/26342167/884a80e2-3fc9-11e7-992c-bee3d27aa472.png)

[2017-05-23 08:49] ravindranathakila commented on #1121
Just a suggestion. Running etc-operator on Google Container Engine with a preemptible cluster gives a lot of failure scenarios (good for testing). I had to move away from using etcd-operator until it's stable. Will be reusing once stable. Nice work 👍

[2017-05-23 15:48] sunshinekitty opened #1122 "Issues with cluster backing up to AWS EBS"
When creating a new etcd cluster configured to backup to an EBS store the following happens to the cluster:

[code]

### etcd-operator.yaml
[code]

### etcd-cluster.yaml
[code]

The pvc is created:
[code]
However there is no deployment created.  Running without the backup section in the cluster.yaml the cluster creates without issues.

Kubernetes version is 1.5

[2017-05-23 16:20] xiang90 commented on #1121
@ravindranathakila I can see you set antiAffinity. So do you have enough nodes in the cluster? Also the memory limit, it is possible it is too small for etcd? Do you have any logs from etcd-0014, 0015 etc?

[2017-05-23 17:20] hongchaodeng commented on #1122
We only support k8s 1.6+ . See https://github.com/coreos/etcd-operator#requirements .
We will add more versions in compatibility matrix once we become stable.

[2017-05-23 17:27] hongchaodeng commented on #1121
2017-05-23T07:01:55.185855558Z time="2017-05-23T07:01:55Z" level=info msg="cluster membership: etcd-cluster-0006,etcd-cluster-0007,etcd-cluster-0014" cluster-name=etcd-cluster pkg=cluster
2017-05-23T07:01:55.191540354Z time="2017-05-23T07:01:55Z" level=error msg="fail to add new member (etcd-cluster-0015): etcdserver: re-configuration failed due to not enough started members" cluster-name=etcd-clu

[2017-05-23 17:28] hongchaodeng commented on #1112
IAM roles are per node, right?
We better rely on k8s to do cluster level management.
Maybe ask this question on k8s upstream?

[2017-05-23 18:00] ssubramanian123 commented on #1112
@hongchaodeng IAM role for etcd-operator cluster. We are configuring vault backup as S3 with below AWS credentials.. Is there any way to use IAM role instead of secret/config?

Current
[code]

[2017-05-23 18:03] hongchaodeng commented on #1112
How to create a aws client via IAM?

[2017-05-23 18:27] ssubramanian123 commented on #1112
@hongchaodeng in the above use case, I am referring only credential section. Apologies, still if it is not clear.

As part of above step, we are creating S3 bucket and using "aws" secret/config accessing that S3 bucket.

We can access S3 bucket using IAM role as well, can we use it ?

[2017-05-23 19:03] raoofm opened #1123 "etcd2 backup/restore support in operator"
@xiang90 @philips @heyitsanthony
etcd-operator is awesome and we are really excited to use this in production.

Our usecase is [**_Here_**](https://github.com/coreos/etcd/blob/master/Documentation/production-users.md#vonage) and we are using etcd as vault backend on kubernetes. So now comes the real requirement of highly available with auto pilot (operator)

Not having v2 is stopping us from using

[2017-05-23 19:50] hongchaodeng commented on #1123
I remembered the plan is to use v2 API proxy on top of etcd3. Is there any tracking issue? @xiang90 @heyitsanthony

[2017-05-23 20:15] bamb00 opened #1124 "Error deploying example-etcd-cluster-with-backup-pvc"
Not sure How to resolve the "gc deployment failed" error, the pvc does not resolve after 15 tries.

Am I missing some steps?

2017-05-23T19:51:44.458385071Z time="2017-05-23T19:51:44Z" level=error msg="gc deployments failed: the server could not find the requested resource" pkg=gc
2017-05-23T19:52:40.469359097Z time="2017-05-23T19:52:40Z" level=error msg="cluster failed to setup: fail to wait PVC

[2017-05-23 20:48] hongchaodeng commented on #1112
@ssubramanian123
If it is easier and valid use case, we are glad to add it.
But we would need some time to do some research on it first.
It would be great if you can submit a PR to POC what it looks like.

[2017-05-23 21:40] hongchaodeng commented on #1124
Can yo provide k8s versions, operator versions, cluster spec, and steps to reproduce it?

[2017-05-23 21:46] hongchaodeng commented on #1122
I believed client-go breaks the compatibility of Deployment's GVK.
In 1.5, it is `apis/extensions/v1beta1.Deployment`. In 1.6, it's `apis/apps/v1beta1.Deployment` .
We couldn't really do anything about it. Please report it to client-go: https://github.com/kubernetes/client-go .

[2017-05-23 21:47] hongchaodeng commented on #1124
Could be same issue as https://github.com/coreos/etcd-operator/issues/1122#issuecomment-303541843 .

[2017-05-23 22:16] bamb00 commented on #1124
-Kubernetes v1.5.4 (CentOS 7.3)
-etcd-operator Version: 0.3.0
-creating cluster with Spec (spec.ClusterSpec{Size:3, Version:\"3.1.8\"
  (Note: The example-etcd-cluster-with-backup-pvc never shows up in the dashboard while the pvc was pending)
- Steps to Repoduce:
  1. kubectl create -f deployment.yaml
  2. kubectl create -f example-etcd-cluster-with-backup.yaml

[2017-05-23 22:17] ravindranathakila commented on #1121
I have 5 nodes. Ample memory (25G). These memory settings work (have been
working for a long time now). Logs are long gone now. I'm sorry I couldn't
get them.

On Wed, 24 May 2017 at 12:21 AM, Xiang Li <notifications@github.com> wrote:

--
Yours,
  R.A.

[2017-05-23 22:23] hongchaodeng commented on #1124
Right. See my above comment. Could you try again with k8s 1.6 +?

[2017-05-23 22:23] hongchaodeng commented on #1122
@sunshinekitty
Could you try with k8s 1.6+ ?

[2017-05-23 22:28] bamb00 commented on #1124
I don't have a 1.6 env. at the moment.

[2017-05-23 22:30] xiang90 commented on #1121
@ravindranathakila Can you try to reproduce it?

[2017-05-24 00:17] bamb00 commented on #1124
Question about etcd-operator.

If I already have a etcd cluster deployment.  Can I configure the etcd-operator to the existing etcd cluster deployment?

Thanks.

[2017-05-24 02:28] sunshinekitty commented on #1122
Thanks for explaining @hongchaodeng, will be trying w/ 1.6 tomorrow and report back if I have any issues.

[2017-05-24 13:12] sergik commented on #1119
Should an issue be created for that?

Why it could be a problem to have the number of retries not hardcoded but configurable vie env variable for example? It could be defaulted to 15 by default so it will be a black box for most of users.

[2017-05-24 14:05] jamiehannaford opened #1125 "Create operator kit/sdk for common operations?"
I'm wondering whether there is enough overlap in different operators to warrant some kind of common library that will make the lives of those who want to write an operator easier. Have you folks thought about doing this?

Specifically I was thinking about some common areas:

- configuration and validation (flags, files, etc.)
- client setup
- leadership election
- garbage collection
- TPR registra

[2017-05-24 16:34] hongchaodeng commented on #1125
@jamiehannaford

Why do you want to such common library? What is the motivation? Are you writing more operators? Maybe we can create a framework for operator.

[2017-05-24 17:09] hongchaodeng commented on #1124
It will discover if in the same namespace.

[2017-05-24 17:10] hongchaodeng commented on #1119
Let's use this issue.

It is implementation details. We shouldn't expose that.

[2017-05-24 17:20] hongchaodeng commented on #1124
@bamb00
Do you have any list of requirements for production?

[2017-05-24 18:41] sunshinekitty commented on #1122
1.6.2 works without issues, feel free to close this issue if support for 1.5 isn't planned

[2017-05-24 18:44] #1122 closed

[2017-05-24 19:30] bamb00 commented on #1124
Not at the moment.  Thanks.

[2017-05-24 19:30] #1124 closed

[2017-05-25 13:21] jamiehannaford commented on #1125
@hongchaodeng Yeah, I'm writing an [operator](https://github.com/jamiehannaford/canary-operator) to help with long-term canary deployments. I'm finding that a lot of the logic that goes into an operator is relatively common and can possibly be abstracted into a framework. ATM I'm basing heavily on the etcd-operator because config, client setup, API calls, TPR creation, synchronisation and the reco

[2017-05-25 15:14] sergik opened #1130 "on all nodes restart cluster stays in completed state"
If all the cluster nodes had to restart. Example - docker restart on every node of kubernetes cluster. Operator tries to perform recovery. But previous cluster members stays in a completed state. So it not able to create new cluster members:

Should not operator try perform clean before new cluster creation?

[2017-05-25 17:19] hongchaodeng commented on #1130
Why would a pod status become "completed" on docker restart?

[2017-05-25 17:27] hongchaodeng commented on #1125
@jamiehannaford
We have the same thought and would like to work on that. Please take a look at https://github.com/kubernetes-incubator/apiserver-builder . That's a long term plan.

[2017-05-25 18:22] jamiehannaford commented on #1125
@hongchaodeng Isn't that for building API servers?

[2017-05-25 19:19] hongchaodeng commented on #1125
@jamiehannaford
Yes.
See https://groups.google.com/forum/#!msg/kubernetes-sig-apps/0gbmMNvZWUo/fgYSHNoWCQAJ .

[2017-05-26 02:45] xiang90 commented on #1130
@sergik Can you share the pod status?

[2017-05-26 08:57] sergik commented on #1130
So we repeated the experiment. We have a cluster of 3 machines. We restarted docker on all of them. And what we have:
![image](https://cloud.githubusercontent.com/assets/358684/26487639/f94b3a70-4208-11e7-8b2c-f340595cc77f.png)
Does not pay attention for eoc pod. It is just job used for creating initial cluster config in TPR.
From our point of view looks like after docker restart all pods goes to

[2017-05-26 10:44] jamiehannaford commented on #1125
@hongchaodeng Hmm, an interesting read! In that doc Brendan B. says that custom APIs and TPRs are at the opposite ends of a spectrum and that one will not necessarily replace the other. @xiang90 also mentioned that the etcd-operator will keep using the TPRs even after custom APIs become more supported. So if that's the case, wouldn't an operator framework have different concerns from https://githu

[2017-05-26 16:17] xiang90 commented on #1130
@sergik

Probably you hit the docker bug: https://github.com/moby/moby/issues/31262
Also see https://stackoverflow.com/questions/43044883/why-kubernetes-pod-gets-into-terminated-state-giving-completed-reason-and-exit-c

I do not think we can do anything at operator side.

[2017-05-26 16:17] #1130 closed

[2017-05-26 22:44] hongchaodeng opened #1134 "Half down e2e CI time"
Currently our e2e CI took 22 min.

We can brainstorm on how to half down the CI testing time to ~10min:
- More parallelization, more machines.
- have a set of standard tests to run on every PR and others to be not on every PR.

[2017-05-27 17:05] #1102 closed

[2017-05-28 21:49] clusc opened #1137 "Support hostnetworking mode"
we have a usage where we need to deploy metric collection agent(collectd) as daemonset on all nodes running etcd(one pod per node). The problem is the agent needs a stable way to talk to the etcd instance on the same node. By running both etcd and collectd under host networking mode, the metric agent can simply talk to `localhost:2379` to collect the metric. A reference implementation is in #1135.

[2017-05-29 04:55] hongchaodeng opened #1138 "Self-hosted etcd could get operator stuck infinitely"
Reference issue: https://github.com/coreos-inc/tectonic-issues/issues/259#issuecomment-304551949

Currently we are waiting in addOneSelfHostedMember() before jumping to reconcile loop:
[code]
The reason for this is that we need to make sure the member add command has succeeded.

This would cause confusion because operator isn't doing anything or printing anything.

We could move the guard out to r

[2017-05-29 21:03] hongchaodeng opened #1140 "etcd cluster TPR still existed after namespace is deleted"
We have some test failures, aborted, whatever reason. But we have guaranteed in the test script that it will delete the namespace at the end.

k8s version: 1.6.2

When I tried to list ns, it only had:
[code]

But when I list all etcd TPRs:
[code]

[2017-05-30 11:07] sergik commented on #1123
Any updates on this?

[2017-05-30 13:17] sstarcher opened #1141 "Ignoring healthy cluster"
Setup:
* 0.3.0 etcd-operator
* etcd self-hosted
* 3 etcd nodes

I modified the cluster configuration to add backup support.  This broke due to a known issue with self-hosted etcd and backups.  I removed the backup information from the cluster config.  My expected result was that the cluster would be happy and the operator would continue to operate.

Result:
* All 3 pods were still running
* Operat

[2017-05-30 16:24] hongchaodeng commented on #1141
That's wrong. Your cluster has already failed and you need to delete it.

[2017-05-30 16:30] hongchaodeng commented on #1141
This isn't supported in 0.3.0 but coming in 0.3.1 to dynamically delete the backup sidecar.
I'm closing this. Please wait for next release.

[2017-05-30 16:30] #1141 closed

[2017-05-30 16:33] sstarcher commented on #1141
@hongchaodeng So the cluster was fully functional and by setting backup parameters that fails everything?

[2017-05-30 16:35] hongchaodeng commented on #1141
From the information provided here I'm not sure how it failed. If you are interested in knowing why, please give more details: logging, steps to reproduce, etc.

[2017-05-30 16:35] hongchaodeng commented on #1141
But as I mentioned, deleting the backup policy from spec is coming on next release. So it's not supported yet.

[2017-05-30 16:36] sstarcher commented on #1141
1. Self hosted etcd cluster
2. Edit kube-etcd and add backup information
3. The cluster now claims it's in the failed state.

I'll be more than happy to recreate it and post the logs, but just saying `it failed recreate it` seems like a very quick jump.

[2017-05-30 16:39] sstarcher commented on #1141
I understand that the backup is not supported for a self hosted cluster in 0.3.0, but the etcd-operator saying the cluster is in a failed state looks like an issue.

[2017-05-30 16:41] xiang90 commented on #1141
@sstarcher

OK. So it is a bug. When you created an unspported backup sidecar for self hosted etcd cluster, it fails the entire cluster. However, now backup sidecar is supported in master. There is really nothing we can fix. We also do not backport anything to early release before 1.0 release.

So I think @hongchaodeng is right to close this issue.

Thanks for reporting!

[2017-05-30 16:42] hongchaodeng commented on #1137
When using hostNetwork, etcd members need anti-affinity across nodes. Otherwise there will be port conflict. I believe scheduler checks/guarantees that if container ports field is set. Just in case, it is still better to set anti-affinity.

But for your use case, I think it is better to run collectd along with etcd container in a pod, isn't it?

[2017-05-30 16:42] sstarcher commented on #1141
@xiang90 yep certainly not looking to get anything backported.  I was just concerned when I made a modification to the configuration and it said my cluster failed.

[2017-05-30 16:55] xiang90 commented on #1125
@jamiehannaford Operator kit is a good idea. I know a few people also want it. We would like to help and develop it.

But before start to create one, would you mind creating a google doc to gather requirements? I will ask other people to take a look too.

[2017-05-30 17:47] xiang90 commented on #1010
@hongchaodeng this is fixed now, right?

[2017-05-30 17:48] hongchaodeng commented on #1010
One more PR to go: https://github.com/coreos/etcd-operator/pull/1103

[2017-05-30 19:09] clusc commented on #1137
We want to separate deployment of etcd with collectd, so that if we decide to add/drop metrics it won't affect etcd deployment. And yes, for the hack build we have now, we set `antiAffinity: true`.

[2017-05-30 19:09] xiang90 commented on #1137
I believe hostnet is overkill for this issue. A better way to resolve it is to make your metrics agent discovers etcd though another component (a proxy?).

[2017-05-30 19:16] clusc commented on #1137
@xiang90 I think it otherwise. We want to make sure collectd agents and etcd instances are 1-to-1 mapping, and on the same node, so that the `host` label exposed automatically by collectd would be correlate to the etcd host. Having another discover components to discover etcd hosts imho is an overkill, as we often use etcd as the discovery mechanism.

[2017-05-30 19:19] xiang90 commented on #1137
@clusc

Just to be clear, we (etcd operator) want to avoid enabling host networking if there is a workaround. It will cause us to many troubles.

When you run on k8s, you use k8s to do discovery not etcd. You need the "proxy" since `collected` does not understand k8s objects and cannot discover them. That has nothing to do with etcd.

[2017-05-30 19:36] xiang90 commented on #1123
i do not think etcd operator will ever deal with a v2 data snapshot.

one option is the make etcd itself to support v2 api with v3 data.

[2017-05-30 19:36] #1123 closed

[2017-05-30 20:11] #1010 closed

[2017-05-30 20:13] clusc commented on #1137
I understand it has nothing to do with etcd, and more about kubernetes. Ideally if kubernetes could expose the other pods' info on the same vm through downward api then we can use that, but that's not available afaik. Having to go through any centralized discovery method(dns/service/k8s api) would create problem on the metrics collection agent since we need to differentiate etcd nodes and collectd

[2017-05-30 20:18] xiang90 commented on #1137
@clusc

Pod with host net and pod without host net behavior differently in quite a few cases due to the difference between Node IP vs VIP and Node network setup vs Pod network setup. It is not just a simple option to be turned on as you might think.

To support both, etcd operators add up complexity and tests matrixes. Moreover, it is not recommended to use host net in general.

If there is a stro

[2017-05-30 21:37] jamiehannaford commented on #1125
@xiang90 Yep, will do when I have some time this week.

[2017-05-30 22:55] hongchaodeng commented on #953
@narayanan
Re. https://github.com/coreos/etcd-operator/pull/1143 , let's continue on this issue.

Instead of adding more options to the operator wide flag `pv-provisioner`, it is preferred to provide a per cluster PV policy. This is more flexible. Since we also do similar thing for S3 policy, it's more consistent.

Secondly, test is required for new feature. Please add an e2e test.

Third, docs is

[2017-05-30 23:30] hongchaodeng opened #1145 "Use PodPreset to complement PodPolicy"
Currently most fields of PodPolicy can be replaced by [PodPreset](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/). For example, env, labels, etc. There might be more and more. It is native kubernetes objects and provides better modularity.

[2017-05-30 23:33] hongchaodeng commented on #1145
Another benefit of this is that it only needs some docs. No additional work :)

[2017-05-31 01:36] narayanan commented on #953
@hongchaodeng
Agreed, making `storageClass` part of each cluster configuration will be more flexible.

To Summarize

- When `storageClass` is declared as part of cluster spec, assume a `StorageClass` with the given name already exists. Fail if one does not exist. Use the provided storage class name to create the `pvc`.
- When `storageClass` is not declared, use default storage class (if one was cr

[2017-05-31 03:54] hongchaodeng opened #1147 "e2e flake: selfhosted, member XX does not belong to this cluster"
e2e logs:
[code]

operator logs:
[code]

[2017-05-31 06:12] hongchaodeng commented on #1147
Seems similar to https://github.com/coreos/etcd-operator/issues/978 .

[2017-05-31 15:44] hongchaodeng commented on #1147
I have figured out. By default anti Affinity applies to the same namespace. We need to explicitly set it to applies to all namespace.

[2017-05-31 18:22] hongchaodeng commented on #953
@narayanan
Your points are right.

Just leave it there. Let's focus on adding storageClass and handle that later.

[2017-05-31 21:20] hasbro17 commented on #1076
Currently when an upgrade test creates an operator, and then creates a cluster of size 3, it can take up to 60s for the last etcd pod to be created:
[code]
Because of this, the tests that use a timeout of 60s for `WaitUntilSizeReached()` can fail occasionally.

We can either increase the timeout, or possibly find out why the first pod takes 20s to create.
This could be because the etcd-operator is

[2017-05-31 21:35] #1134 closed

[2017-05-31 21:51] hongchaodeng commented on #1140
Filed upstream issue: https://github.com/kubernetes/kubernetes/issues/46736

[2017-05-31 22:45] hongchaodeng commented on #1147
Verified that two self-hosted etcd pods from different namespace could colocate

[2017-05-31 23:03] hasbro17 opened #1151 "upgrade flake: timeout on first wait after cluster creation"
Currently when an upgrade test creates an operator, and then creates a cluster of size 3, it can take up to 60s for the last etcd pod to be created:
[code]
Because of this, the tests that use a timeout of 60s for `WaitUntilSizeReached()` can fail occasionally.

We need to figure out why it takes so long for the cluster's pods to be created.

[2017-05-31 23:18] hasbro17 commented on #1151
Codepath:
[code]

[2017-06-01 03:42] hongchaodeng commented on #1151
Tested 30 times and all passed

[2017-06-01 03:56] hongchaodeng commented on #1076
@hasbro17
Can you write a minimal step to reproduce it and paste here?

[2017-06-01 16:54] jamiehannaford commented on #1125
@xiang90 @hongchaodeng I've created a very rough first draft [here](https://docs.google.com/document/d/1NJhFcNezJyLM952eaYVcdfIQFQYWsAx4oTaA82-Frdk). I've opened the permissions so folks can edit it too, so feel free to add/modify/delete content as necessary. Would love to hear your feedback!

[2017-06-01 17:06] hongchaodeng opened #1152 "upgrade flake: failed to request S3 backup"
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-upgrade/45/consoleText

e2e logs:
[code]

backup logs:
[code]

[2017-06-01 20:12] hongchaodeng opened #1153 "upgrade test is flaky"
Upgrade tests has been flaky. One third of runs failed.

Previous issue:
- [x] https://github.com/coreos/etcd-operator/issues/1076
- [x] https://github.com/coreos/etcd-operator/issues/1151
- [ ] https://github.com/coreos/etcd-operator/issues/1152
- [ ] https://github.com/coreos/etcd-operator/issues/1186
- [x] https://github.com/coreos/etcd-operator/issues/1204

Create this issue to sum up, track a

[2017-06-01 20:13] hongchaodeng commented on #1153
I'm stress running each test to see if I could reproduce.

[2017-06-01 21:43] hongchaodeng commented on #1076
This is reproducible.

[2017-06-02 05:46] hongchaodeng commented on #1076
I found something suspiciously long.
It took almost 20s from
[code]
to
[code]

I suspect most of time is spent on this func:
[code]

Two points:
- it would be really helpful if we provide metrics for k8s api calls
- I doubt the TPR Create() call is taking too long. Let me try. Anothter idea is that Get() might be better.

[2017-06-02 05:47] hongchaodeng opened #1155 "operator metrics: instrument k8s API calls"

[2017-06-02 05:47] hongchaodeng commented on #1155
An example: https://github.com/coreos/etcd-operator/issues/1076#issuecomment-305695590

[2017-06-02 13:42] jamiehannaford opened #1156 "Allow people to override etcd registry URL"
When adding etcd-operator to kubeadm, some folks [mentioned](https://github.com/kubernetes/kubernetes/pull/45665#discussion_r116325896) that users might want to override the registry URL with their own. Currently it's hardcoded [here](https://github.com/coreos/etcd-operator/blob/9bfc87aa1473da7931b3d1f285829472ab2099fc/pkg/util/k8sutil/k8sutil.go#L113).

Is this possible?

[2017-06-02 15:59] hongchaodeng commented on #1156
There is an ongoing PR: https://github.com/coreos/etcd-operator/pull/1056
But the author seems inactive.
Feel free to take it over

[2017-06-02 16:08] jamiehannaford commented on #1156
@hongchaodeng Okay, I'll take a look if I have time next week :)

[2017-06-02 16:19] hongchaodeng commented on #1076
Seems not caused by TPR create(). Benchmark shows it took ~180ms/op

[2017-06-02 16:50] hongchaodeng commented on #1076
Seems like it is leader election.

[code]

[2017-06-02 17:29] hongchaodeng opened #1157 "renew leader election package"
We need to renew our leader election package.

First of all, it is causing issue: https://github.com/coreos/etcd-operator/issues/1076#issuecomment-305848511 .

Second, we need to renew our package to catch up with latest code. We should expect the leader election package to be in client-go v4.0+ . But there is no release date yet.

[2017-06-02 18:54] hongchaodeng commented on #1076
For solution, I suggest that we will use leader election events as a latch:
[code]

We will add that to:
- starting operator
- upgrading operator
in
- both e2e test and upgrade test to replace WaitTPRReady().

[2017-06-02 18:56] hongchaodeng commented on #1157
We will prioritize this issue due to https://github.com/coreos/etcd-operator/issues/1076#issuecomment-305880412 .
We don't want to duplicate work: catching events on endpoints and then on configmap. Just configmap.

[2017-06-02 19:37] hongchaodeng commented on #1076
I re-think about this. Let's use endpoints events first to fix that issue. Not to be disruptive for it.

[2017-06-02 21:34] hongchaodeng commented on #1076
Code references on how to select events:
https://github.com/kubernetes/kubernetes/blob/f5bcd98d5e1fbf7293c3502cc1e6e527a6921825/pkg/printers/internalversion/describe.go#L580-L591

[2017-06-05 02:12] xiang90 commented on #1076
do we know why does election take 20s? was there another operator holding the election so that the new operator needs to wait for it to die?

[2017-06-05 02:27] hongchaodeng commented on #1076
The other operator has died. There is some setting in the election code that we set around 20 seconds which is the same as scheduler.

[2017-06-05 02:32] xiang90 commented on #1076
is it configurable? we probably want to make it shorter to ensure our test can finish faster. but not a big issue.

[2017-06-05 02:33] hongchaodeng commented on #1076
It's configurable. We can spend time later figuring out what's the best configuration

[2017-06-05 11:29] sergik opened #1161 "etcd backup size limit"
We are using etcd operator with backups. And looks like backup size growth linear. From 50k to 20mb in 2 hours. Looks like it is normal behaviour https://coreos.com/etcd/docs/latest/tuning.html and by default etcd truncates log after 10к revision. But in my case looks like it was not happen. Is there way control this settings from etcd-operator side?

[2017-06-05 21:40] hongchaodeng opened #1164 "spec/backup: rename cleanupBackupsOnClusterDelete to autoDelete"
In backup policy, the field cleanupBackupsOnClusterDelete is too long and verbose.
Now I have a better name -- `autoDelete`.

[2017-06-05 23:03] #1079 closed

[2017-06-05 23:33] xiang90 commented on #1121
@ravindranathakila kindly ping

[2017-06-06 17:25] hongchaodeng commented on #1164
Here's the plan:
- We will add AutoDelete field first. If either `AutoDelete` or `CleanupBackupsOnClusterDelete` is set to `true`, we will have `AutoDelete=true`.
- We will drop `CleanupBackupsOnClusterDelete` in 0.4.0 release

[2017-06-06 17:27] xiang90 commented on #1164
@hongchaodeng can we still keep the json tag? so we do not need to go through the internal depreciation path. we only need to drop the json tag when we decide to drop the external field.

[2017-06-06 17:28] hongchaodeng commented on #1164
The value of this change is about the json tag.
Currently it is too long for reading and writing.

[2017-06-07 02:09] ravindranathakila commented on #1121
@xiang90 I'm sorry I won't be able to reproduce it as I had to give up on the operator until it is stable (moving things to production).

[2017-06-07 02:16] xiang90 commented on #1121
OK. I am closing it. Reopen if you can reproduce it.

[2017-06-07 02:16] #1121 closed

[2017-06-07 03:52] hongchaodeng opened #1175 "e2e flake: etcd member "could not get cluster response ... dial tcp i/o timeout""
https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/1996/consoleText

[code]

etcd pod "0001" logs:
[code]

[2017-06-07 17:03] hongchaodeng commented on #1076
Closed via #1174

[2017-06-07 17:03] #1076 closed

[2017-06-07 18:15] hongchaodeng commented on #1138
For this issue, the big problem is that it adds operational load -- manually restart the pod.

To solve it, we need operator to
- resolve automatically any potential problem, e.g. understanding that the number of nodes is less than specified size;
- recover if the problem is resolved, .e.g user reconfigure the size back.

[2017-06-07 20:03] hongchaodeng commented on #1153
We still have high volumes of upgrade flakes: https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-upgrade-stress/

[2017-06-07 20:05] hongchaodeng opened #1176 "upgrade test: Use readiness to replace WatiEtcdTPRReady()"

[2017-06-07 20:07] hongchaodeng commented on #1176
Somehow related: https://github.com/coreos/etcd-operator/pull/1174/files#r120730523

[2017-06-08 17:15] hongchaodeng opened #1179 "Add readiness probe to example deployment and e2e test"

[2017-06-08 20:18] hasbro17 commented on #1176
addressed via #1180

[2017-06-08 20:18] #1176 closed

[2017-06-08 22:28] mlowery opened #1182 "Disaster recovery fails due to ResourceQuota admission controller rejecting init container in etcd pods"
Preconditions:

* Specify requests and limits (via `spec.pod.resources`) in the etcd cluster object as described [here](https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md)
* Have a `NotBestEffort`-scoped quota in place (see [here](https://kubernetes.io/docs/concepts/policy/resource-quotas/))

It seems the problem is that the init containers added to the etcd pods during

[2017-06-08 23:05] hongchaodeng commented on #1182
Can you provide more details on how to reproduce it?

[2017-06-08 23:24] mlowery commented on #1182
@hongchaodeng:

1. Enable [`ResourceQuota` admission controller](https://kubernetes.io/docs/admin/admission-controllers/#resourcequota).
1. Create a `NotBestEffort`-scoped quota in the namespace:

[code]
2. Specify `spec.pod.resources` in etcd cluster object and let the cluster stabilize.
3. Trigger a disaster recovery. I stumbled upon a disaster recovery accidentally but I assume it can be trigge

[2017-06-08 23:26] mlowery commented on #1182
@hongchaodeng:

A `LimitRange` such as the following fixed my problem:

[code]

However, this was only done because it was easier than modifying the etcd-operator code.

[2017-06-08 23:56] xiang90 commented on #1182
@mlowery probably we can set a small default requested resource for the initial container. it should require a lot of resource anyway. 256MB and 200m seems fine.

[2017-06-09 03:52] #1138 closed

[2017-06-09 05:22] hongchaodeng opened #1185 "make pkg/backup unit-testable"
This package is very unit-testable. The only external dependency is discovering etcd endpoints from kubernetes. We can abstract that.

[2017-06-09 17:54] hongchaodeng commented on #1151
I'm closing it since it should be similar due to https://github.com/coreos/etcd-operator/issues/1076

[2017-06-09 17:54] #1151 closed

[2017-06-09 18:08] hongchaodeng opened #1186 "upgrade test: fail to wait etcd operator pod to become ready"
One of the most commonly failures in upgrade test.

After our initial analysis, our calculation of time for each operator's bootstrap to become ready:
- 20s at max for leader election
- 10s at max for readiness probe

[2017-06-09 18:30] honghzzhang opened #1188 "Typo in README regarding getting service endpoint URL"
In "Create and destroy an etcd cluster" section:

The following command:
export ETCDCTL_ENDPOINTS=$(minikube service example-etcd-cluster-client --url)

should be
export ETCDCTL_ENDPOINTS=$(minikube service example-etcd-cluster-client-service --url)

to get the URL of the service. The current command returns null.

[2017-06-09 18:31] xiang90 commented on #1188
@honghzzhang can you send a pr to get this fixed?

[2017-06-11 01:48] xiang90 opened #1191 "do not kill leader when scaling down"
operator should try its best to not kill etcd leader when scaling down is needed.

[2017-06-12 17:35] honghzzhang commented on #1188
Submitted pull request: https://github.com/coreos/etcd-operator/pull/1194

[2017-06-12 17:47] #1188 closed

[2017-06-13 01:06] bzub commented on #706
I've seen this, and it's preventing me from scaling up etcd clusters.  It may be a kubernetes bug with init containers, as many others have reported it with other software. See https://github.com/kubernetes/kubernetes/issues/29972

K8s master components seem to be unaffected and treat the pod as healthy since the pod reports Ready=True, but etcd-operator isn't satisfied since the initialization is

[2017-06-13 12:07] sstarcher opened #1195 "pod policy is no longer passed to backup pod"
I have not dug into the code, but I'm guessing #1036 broke #916

[code]

kube-etcd-0000
[code]

kube-etcd-backup-sidecar-3045662158-zcr5x
[code]

By duplicating the `pod` spec for nodeSelector and tolerations under `backup` my kube-etcd-backup-sidecar is now on the same node set
[code]

If this is the expected behaviour feel free to close.  As a user I expected the backup pod would be on the same

[2017-06-13 14:47] hongchaodeng commented on #1195
Can you provide details how to reproduce it ?

[2017-06-13 14:50] sstarcher commented on #1195
I can it in self-hosted mode with the following config.

[code]

[2017-06-13 15:00] hongchaodeng commented on #1195
Now I understands your questions..
Backup sidecar has its own policy: https://github.com/coreos/etcd-operator/blob/master/pkg/spec/backup.go#L34 .

[2017-06-13 15:15] sstarcher commented on #1195
In previous versions it inherited from the main pod policy.  Is it intended for the policy to be set twice in the default situation now?

[2017-06-13 15:16] hongchaodeng commented on #1195
Right.

[2017-06-13 15:21] #1195 closed

[2017-06-13 17:20] #1156 closed

[2017-06-14 12:04] sstarcher opened #1196 "0.3.2 adding s3 backup kills cluster"
Similar to #1141
* I created a new self hosted etcd cluster.
* I modified the kube-etcd cluster configuration adding

[code]

After adding the above the etcd-operator marks the cluster as failed and takes down kubernetes.

[code]

[2017-06-14 13:35] sstarcher commented on #1196
The root issue looks to be the docker container's default user is `root` and `/etc` is owned by root.  In bootkubes self hosted etcd-operator setup they are running the pod as

[code]

Which is causing it to run as nobody and it does not have permissions to create the `/etc/etcd-operator` directory

A fix could be applied on either side, but at least on the etcd-operator side it would be important

[2017-06-14 16:34] hongchaodeng commented on #1196
This is bootkube specific issue.

[2017-06-14 16:40] sstarcher commented on #1196
@hongchaodeng got ya so it's a requirement to run the etcd-operator as the root user.

[2017-06-14 16:41] hongchaodeng commented on #1196
@sstarcher
There is an open issue for switching to non-root user: https://github.com/coreos/etcd-operator/issues/806
We didn't have any thoughts on that yet.
Let's follow up on that issue

[2017-06-14 22:40] #1060 closed

[2017-06-15 08:01] brancz opened #1197 "metrics for etcd cluster objects"
The etcd-operator already exposes some Prometheus metrics which is great!

To be able to know the expected number of memers of an etcd cluster, it would be great to expose metrics about the etcd cluster object that exist in the Kubernetes cluster.

For example the Prometheus Operator exposes metrics in this form:

[code]

@xiang90 @heyitsanthony

/cc @fabxc @mxinden @Gouthamve

[2017-06-15 14:58] sstarcher opened #1198 "self-hosted s3 backup crash"
* self-hosted
* version 0.3.2

Initial config:
[code]

Added:
[code]

Logs:
[code]

[2017-06-15 14:59] hongchaodeng commented on #1198
see https://github.com/coreos/etcd-operator/blob/master/doc/user/spec_examples.md#s3-backup-and-cluster-specific-s3-configuration

you also need to set awsSecret

[2017-06-15 15:06] sstarcher commented on #1198
Does the etcd-operator not support IAM instance credentials?

[2017-06-15 15:11] hongchaodeng commented on #1198
not yet.

Currently we can't make AWS-specific and node-based assumptions. Secret is generic k8s object.

[2017-06-15 16:38] xiang90 opened #1199 "print human readable update information for spec"
When the spec gets updated, we print out something like

[code]

this is not readable at all.

[2017-06-15 16:42] hongchaodeng commented on #1198
This is misconfiguration, right? I'm closing it.
Feel free to reopen or open another issue if you encounter any problem.

[2017-06-15 16:42] #1198 closed

[2017-06-15 16:46] hongchaodeng commented on #1198
This is returned by S3 client direclty.
Maybe we can do some validation in our side. But validation on TPR isn't supported yet :(

[2017-06-15 16:47] xiang90 commented on #1198
create issue to track this at least?

[2017-06-15 16:48] hongchaodeng commented on #1198
For what? TPR validation is an upstream issue, isn't it?

[2017-06-15 16:52] xiang90 commented on #1198
Tracking that operator current prints out this unclear error message. We need to get it fixed somehow eventually.

[2017-06-15 16:54] hongchaodeng commented on #1198
So it prints the error returned by S3 client directly.
Instead of making the place that prints such error prettier, it should be the validation that checks such misconfiguration and prints invalid spec error.

[2017-06-15 16:56] xiang90 commented on #1198
can you create an issue to this? commenting it in a closed issue wont help us to track the problem easily.

[2017-06-15 17:01] hongchaodeng commented on #1198
TPR validation is upstream issue. I think upstream has issue open already? We will just start implement validation once upstream supports it.

[2017-06-15 17:14] hongchaodeng commented on #1198
I think this belongs to https://github.com/coreos/etcd-operator/issues/1199 .
As long as we print all fields in spec, users should be able inspect and find any misconfiguration.
I'm not worried about later error message because it is internal logic. The aws client should provide more detailed error message instead.

[2017-06-15 17:18] xiang90 opened #1200 "do not print out aws client error directly"
now we might print out errors like

This error message is useless since it has no context. I do not know what is the resource name and what is empty. At least, it should have aws s3 prefix. It should be something like

failed to update backup policy: failed to create s3 client (resource name may not be empty)

[2017-06-15 17:23] hongchaodeng commented on #1200
Adding stack trace to error should be the right way to go.
Maybe we should consider switching to https://github.com/pkg/errors

[2017-06-15 17:59] philips opened #1201 "kubernetes: explore the localstorage work"
Localstorage would make it possible for us to move off of hostPath. See instructions here: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

cc @lpabon

[2017-06-15 19:11] hongchaodeng commented on #1201
Ref https://github.com/coreos/etcd-operator/issues/957

Shedding some thoughts.
Using local pv will empower us to use cloud SSD disk, and tolerate failures and restarts, and reduce the overhead of replicating a fresh new member.

[2017-06-16 04:58] xiang90 commented on #1197
@brancz the metrics is labeled with prometheus statefulset name?

[2017-06-16 05:00] xiang90 commented on #1161
this is not something etcd operator would enforce. this is an application related tuning knob. you can use env to configure etcd pod.

[2017-06-16 05:00] #1161 closed

[2017-06-16 05:01] xiang90 commented on #1137
low activity. closing.

[2017-06-16 05:01] #1137 closed

[2017-06-16 07:15] fabxc commented on #1197
With the Prometheus resource name, IIRC, as stateful set is that name plus
a common suffix.

On Fri, Jun 16, 2017 at 6:58 AM Xiang Li <notifications@github.com> wrote:

[2017-06-16 07:19] brancz commented on #1197
For example this manifest:

[code]

Produces this metric:

[code]

Which is exposed by the Prometheus Operator.

[2017-06-16 15:21] philips commented on #1201
Based on the local volume prototype above someone (maybe an intern?) can start exploring this and providing feedback. A goal of the upstream team is to get this to stable and usable by etcd Operator.

[2017-06-16 17:20] hongchaodeng commented on #1164
another idea: rename `backupIntervalInSecond` to `intervalInSec`.
[code]

[2017-06-16 18:57] lpabon commented on #1201
We will add it to our plans. There is also work to add local or network
block based storage. Maybe necessary for databases.

- Luis

On Fri, Jun 16, 2017 at 11:21 AM, Brandon Philips <notifications@github.com>
wrote:

[2017-06-16 19:59] hongchaodeng commented on #1186
The become ready check failed:
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-upgrade/56/consoleText

But unlike previous failure that happened on create, this now on upgrade. So we fixed the create path. Now we need to fix the upgrade part.

[2017-06-16 20:25] hongchaodeng opened #1204 "upgrade_test: pod deleted with zero grace period seems to remain for a bit more"
So in our test, we kill pod first and then wait for it to recover to given size.
The pod to kill was deleted with zero grace period. Our expectation is that it should be gone right away. However, it still remains for a bit more.
[code]
This violates our assumptions.

[2017-06-17 05:05] hongchaodeng commented on #1200
After digging through the code base, I think there are two things that we need to improve on error handling:
- First, we need to wrap all errors. What this issue basically about is that we don't really provide **context** for where the error happened, what we expect, etc.
- Second, we have a method called `isFatalError()` which detects sentinel/const error. This limits our ability to wrap the erro

[2017-06-17 18:34] xiang90 opened #1205 "enforce on disk action log for self hosted cluster"
The self hosted etcd cluster is critical to the health of a kubernetes cluster, thus to the operator itself.

The highest priority thing for us is to ensure the reliability of such a cluster. We want to debug EVERY failure cases.

Sometimes, users have troubles with their self hosted clusters, and when it happens they cannot even access their k8s cluster. It is usually hard for them to get the pre

[2017-06-17 18:36] xiang90 commented on #1205
/cc @coresolve

[2017-06-19 20:29] xiang90 commented on #1205
how to log:

use a well known host path
*append* to a log file, never truncate

things to log:

- add new pod (with pod manifest)
- remove pod (with pod name)
- spec change (with old and new spec in human readable format)
- changes in running pod (pod failure)
- any API error or failure

/cc @hongchaodeng

[2017-06-19 20:31] coresolve commented on #1205
💯 agree!

[2017-06-20 21:19] hasbro17 commented on #1204
Just wanted to comment that the above issue is caused because even if the pod is deleted right away, there is some delay before the TPR's ready members are updated.
And since after #1101 we check the TPR for the cluster size and not the pods directly, it is possible that the test sees that the cluster has recovered when in fact the ready members are still the old pods are being terminated.

[2017-06-20 21:28] hongchaodeng commented on #1204
Good catch!

[2017-06-21 04:50] hongchaodeng commented on #1204
Is this fixed? @hasbro17

[2017-06-21 08:08] TimJones opened #1209 "The 'Cluster' kind is too generic"
When a ThirdPartyResource is registered, it's `Kind` has to be unique cluster-wide. The ETCD Operator uses the kind `Cluster` to manage ETCD Clusters. I think this is too generic and clashes with many other types of cluster (Redis Clusters, Kafka Clusters, maybe even one day a Kubernetes Cluster etc). In fact, rook.io already also uses `kind: Cluster` in their operator.

Before a release to 1.0 I

[2017-06-21 16:32] hongchaodeng commented on #1209
Duplicate to https://github.com/coreos/etcd-operator/issues/860.
Let's move the discussion there.

[2017-06-21 16:32] #1209 closed

[2017-06-21 16:34] hongchaodeng commented on #860
@TimJones

Current plan is that we will make the change once we move to CRD (aka TPRv2). This will happen before k8s 1.8 .

[2017-06-21 17:15] hasbro17 commented on #1204
Yes, this should be fixed now that we're no longer getting the size from ready members. We'll know for sure after running the stress tests for a while.

[2017-06-21 19:01] hasbro17 commented on #1204
The issue seems to be fixed. After #1208 this particular failure has not been seen in the last 30 runs of upgrade stress tests.

[2017-06-21 19:01] #1204 closed

[2017-06-21 20:52] #1199 closed

[2017-06-21 23:28] hongchaodeng commented on #1196
ref: https://github.com/kubernetes-incubator/bootkube/issues/581#issuecomment-310232313

We should probably use some dir that operator creates, under `$HOME/` maybe?

[2017-06-22 18:56] hasbro17 opened #1211 "etcd-cluster version upgrade fails as kubelet fails to restart containers"
Upgrading the etcd cluster by changing the TPR's `spec.version` field causes all etcd pods to change their status from `Running` to `Error`. This eventually causes the operator to remove all the members it perceives as being dead and going into disaster recovery mode.

#### Steps to reproduce:
Kubernetes version: 1.6.4
- Create the etcd-operator using the [example/deployment.yaml](https://github.c

[2017-06-22 18:58] xiang90 commented on #1211
@hasbro17 can you try to get the log from etcd?

also why our test does not catch this issue?

[2017-06-22 19:08] hasbro17 commented on #1211
@xiang90 The reason our tests do not catch this is for the same reason that the operator thinks the version upgrade is successful, even though it is actually still going on.
The operator thinks a pod is successfully updated when the patch for the pod's spec succeeds.
https://github.com/coreos/etcd-operator/blob/master/pkg/cluster/upgrade.go#L47-L51
The patch only updates the pod spec but after tha

[2017-06-22 19:10] xiang90 commented on #1211
OK. The e2e tests should check the pod status to make sure the upgrade actually finishes.

[2017-06-22 19:22] hasbro17 commented on #1211
I paused the operator before it could remove any dead member pods so that the pods stick around after their `Error` state.

None of them actually got upgraded to 3.1.9 so these logs are all for the old 3.1.8 images.

Logs for `example-etcd-cluster-0000`:
[code]

Logs for `example-etcd-cluster-0001`:
[code]

Logs for `example-etcd-cluster-0002`:
[code]

[2017-06-22 19:26] xiang90 commented on #1211
so they became dead even before upgrade happened?

[2017-06-22 19:39] hasbro17 commented on #1211
Well, the kubelet does try to kill the container first before it can restart the container with the new image.
So in the failed case the events look like this:
[code]

whereas when it is successful in killing and restarting with the new image it looks like this. This is observed from the successful upgrade of a self hosted cluster from 3.1.7 to 3.1.8 :
[code]

So I can't say for sure, but I suspec

[2017-06-22 19:41] xiang90 commented on #1211
where is this coming from?  it seems the killing has failed?

[2017-06-22 19:49] hasbro17 commented on #1211
Yeah that's what we're looking at right now to understand what that means.
The `rpc error: code = 4 desc = context deadline exceeded` seems to be a response from the docker daemon but we're trying to figure out where that occurs in the context of a `KillContainerError `

[2017-06-22 20:06] hongchaodeng commented on #1211
I have some findings:

First of all, the error also happens to non-stateful app.
pod yaml:
[code]

Commands that I run:
[code]

Saw the error message too:
[code]

emptyDir did survive restart (after the error happened, in the last Running):
[code]

[2017-06-22 20:09] hasbro17 commented on #1211
@hongchaodeng can you check the events for the pod? Does it give the `KillContainerError`? Because it seems that it successfully restarted.

[2017-06-22 20:10] hongchaodeng commented on #1211
`restartPolicy: Always`

[2017-06-22 21:31] hongchaodeng commented on #1211
Based on some experiments from Haseeb and mine, this error always happen if we write something into emptyDir volume. Additionally, it will cause `restartPolicy: Never` pod staying in `Error` state since then, which is what the etcd pod ended up.

[2017-06-22 21:57] xiang90 commented on #1211
@hongchaodeng sounds like a k8s upstream bug. can you create an issue on upstream to track it?

[2017-06-22 23:05] hongchaodeng commented on #1211
Filed: https://github.com/kubernetes/kubernetes/issues/47933

[2017-06-22 23:14] hongchaodeng commented on #1196
closed via https://github.com/coreos/etcd-operator/pull/1215

[2017-06-22 23:14] #1196 closed

[2017-06-23 22:02] hongchaodeng commented on #1211
Tried with k8s master at 81ce94ae1d8f5d04058eeb214e9af498afe78ff2
 and it fixed the problem:
[code]

[2017-06-26 20:45] hongchaodeng commented on #1117
ref: https://kubernetes.io/docs/concepts/architecture/nodes/

We have hit this issue again (https://github.com/coreos-inc/tectonic-issues/issues/268). We need to figure out ways to prevent etcd pods from being evicted.

[2017-06-27 06:44] akauppi commented on #1179
I am looking for a readiness endpoint, for running `etcd-operator` (0.3.2). Is there something I can already place in `deployment.yaml`? I don't know how important a readiness probe for the operator would be, but it feels like the "right thing" to have one.

[2017-06-27 11:39] jamiehannaford opened #1220 "GetTLSDataFromSecret should check cert content before returning"
[GetTLSDataFromSecret](https://github.com/coreos/etcd-operator/blob/82fb5cd1712a3cd1adf1c73303ba6999bb3715a0/pkg/util/k8sutil/tls.go#L30) retrieves the TLS secret from the API, extracts its data and returns a struct. If the user named the secret keys incorrectly, empty data is passed back and eventually they're confronted with:

which is slightly confusing. It would probably be better to check the

[2017-06-27 16:35] aaronyoungkash opened #1222 "Cluster restore from backup fails for 3.2.1"
When operator attempts to pull the backup image from sidecar it fails with a 400 to the backup endpoint:

`time="2017-06-27T15:50:50Z" level=error msg="check backup existence (etcd-cluster-backup-sidecar:19999) failed: unexpected status code (400 Bad Request), response ()" cluster-name=etcd-cluster pkg=cluster`

After some investigation it seems to be because the the endpoint `http://etcd-cluster-

[2017-06-27 18:20] theothermike commented on #1222
Should also probably include this:  https://github.com/coreos/etcd-operator/issues/1185

which would have caught this particular bug

[2017-06-27 18:29] hongchaodeng commented on #1222
We haven't supported 3.2 yet. So there are two action items for this:
- have docs for compatibility matrix against etcd
- support etcd 3.2

[2017-06-27 20:11] hongchaodeng commented on #1117
I am trying this to see if it can endure partition. Will update here.

[2017-06-27 21:08] aaronyoungkash opened #1223 "Sidecar backup fails to retain user data"
Testing with operator 0.3.3 and cluster 3.1.9 we wanted to see what happens when deleting enough cluster pods to break quorum. What we found was the cluster recovered, but all our stored keys were gone. Is this the expected behaviour? If so how would one maintain user data via backups, or is that not possible?

Steps to reproduce:

- Create a key (etcdctl mk foo bar)
- Triggered a sidecar backup v

[2017-06-27 21:08] xiang90 commented on #1223
how do you verify this? please provide some details

[2017-06-27 21:09] xiang90 commented on #1223
etcd3 does not have mk command. probably you are using etcd2, which operator does not really support for backup.

[2017-06-27 21:09] #1223 closed

[2017-06-27 21:41] hongchaodeng commented on #1117
I have tested it with https://github.com/coreos/etcd-operator/pull/1224 and it fixed the problem. The pod will keep "Running" state instead of being deleted and become "Terminating".

[2017-06-28 01:32] hongchaodeng commented on #1112
ref: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html

So latest experiment show that on AWS node a pod can save the effort of setting credentials. Ref: https://github.com/coreos/etcd-operator/pull/1221#issuecomment-311462582

[2017-06-28 16:15] jamiehannaford opened #1226 "Add retry handler for migrateBootMember"
I'm occasionally seeing errors like this:

[code]

I suspect that when the etcd-operator tries to migrate, it can't initially reach the boot pod so it immediately fails. It'd be nicer if there could be some kind of retry handler with a timeout if possible.

[2017-06-28 16:18] hongchaodeng commented on #1226
@jamiehannaford
Do you know why it can't reach the boot pod?

[2017-06-28 16:25] jamiehannaford commented on #1226
@hongchaodeng No, but it happens sporadically. Some runs it works, some runs it doesn't

[2017-06-28 16:30] hongchaodeng commented on #1226
It sounds like network issues. If it happens > 0.1%, it is worth to dig out the root cause. Is it in the installer? The machine? The cloud?

[2017-06-28 18:55] hongchaodeng commented on #622
Some real world experience:
Due to some issue on the node, e.g. node pressure or network partition, etcd pod was restarted and endpoint gets removed.
This could be better tolerated.

[2017-06-28 21:28] hongchaodeng commented on #1164
fixed in #1228

[2017-06-28 21:28] #1164 closed

[2017-06-29 17:04] hongchaodeng opened #1233 "Compatibility Test against k8s 1.7"
Failing test blocker:
- [x] wait backup deployment deleted timeout (fixed in https://github.com/coreos/etcd-operator/pull/1248)
- [x] many tests failing to create 3 member clusters (fine after we reduce two clusters to one, seems GCE network problem)
- [x] restore same name test failing due to previous deployment exist (https://github.com/coreos/etcd-operator/pull/1251)

[2017-06-29 17:43] xiang90 opened #1236 "migrate to CRD"

[2017-06-29 18:11] hongchaodeng commented on #1233
Latest try with k8s v1.7.0-rc.1 resulted in failure to set up operator:
[code]

[2017-06-30 01:13] hongchaodeng opened #1241 "Extensible backup storage interface"
Currently our backup sidecar handles the backup logic and controls how to store backup files. We have opinions in how to do it based on our experience.

However, over time we have seen growing user scenarios that are different than our "how to store files":
- User who doesn't like our config format: https://github.com/coreos/etcd-operator/pull/1221#issuecomment-311533483
- User who haves their in

[2017-06-30 02:19] hongchaodeng commented on #1233
Now we have the test running as normal.

We two builds:
- https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-master-k8s-master/122
- https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-master-k8s-master/123

It seems there is some flakes in 1.7 .

[2017-07-03 10:34] jamiehannaford commented on #1125
I'm going to propose this project for incubator status. [Here](https://docs.google.com/document/d/1ChcMp6pnEK13sSwfThKb5UPBYdrJ-3z4qIsnMMoNEKs) is the proposal if folks would like to review and add comments beforehand.

@xiang90 Every incubator needs a "champion", somebody who is in a Kubernetes OWNER file. Are you willing to be the champion for OperatorKit? I saw you're an apimachinery and apiser

[2017-07-04 14:19] jamiehannaford opened #1245 "Add Swift backup driver"
We'd like to back up our etcd data to an off-cluster location, and right now the only options are PVs and S3. Instead we'd like to use OpenStack Swift.

Are folks open to that idea? If so, I can begin work on a driver using [gophercloud](https://github.com/gophercloud/gophercloud).

[2017-07-05 15:53] jamiehannaford opened #1246 "Decoupling boot member removal"
I've been speaking with @luxas about how we can incorporate the etcd-operator into kubeadm, and one thing we've run into is how the etcd-operator handles removing the boot etcd member after the new etcd cluster is created. Right now it waits for a fixed time before beginning removal (60 seconds), but this is suboptimal for a few reasons:

- If there's 5TB of data and a slow network it will take lo

[2017-07-05 15:57] hongchaodeng commented on #1246
the problem is that kubelet has a bug that even if static pod is deleted, kubelet doesnt take down the pod. We have seen this several times and going to report to upstream sometime

[2017-07-05 16:13] hongchaodeng commented on #1246
Sorry, I probably didn't understand your point well. Isn't the workflow above the same as what we currently have? Can you point out what is the difference and what you want to achieve more detailedly?

[2017-07-05 16:48] xiang90 commented on #1246
We can do that. Can you submit a PR to make it happen?

[2017-07-05 17:02] jamiehannaford commented on #1246
Sure, I'll try to get around to it this week

[2017-07-05 17:05] xiang90 commented on #1246
@jamiehannaford We add that thing simply because bootkube team does not want to handle the deletion of boot member in bootkube. And, yes, I think the bootstrapper is a better place to remove the boot member instead of the etcd operator actually. Just make sure we are talking about the same thing.

[2017-07-05 20:21] hongchaodeng commented on #1233
Update for this week.

Now I have the following setup:
- 1 master node: "n1-standard-2"
- 4 worker nodes: "n1-standard-2"

I run `e2e_pass` in sequential and have the following failures:
- `TestOperWideS3AllDown`
- `TestOperWideS3RestoreSameName`

Both failed for the `wait backup deployment deleted timeout` case. Gonna dig deeper into that case right now.

[2017-07-05 21:01] hongchaodeng commented on #1233
Last time we tracked the failure of `TestOperWideS3AllDown` in real time. It looks like backup sidecar deployment still exists for a while before eventually deleted from API.

[2017-07-05 22:07] hongchaodeng commented on #1233
I tried to use `DeletionTimestamp` to detect deletion of Deployment and pod.
This will fix the flakes caused in https://github.com/coreos/etcd-operator/issues/1233#issuecomment-313215741

[2017-07-06 05:07] hongchaodeng commented on #1233
Currently we are seeing one failure pretty frequently:
[code]

[2017-07-06 18:39] #1246 closed

[2017-07-06 18:48] hongchaodeng opened #1252 "Self-hosted tests should apply anti-affinity to all namespace"
ref:
- https://github.com/coreos/etcd-operator/pull/1148
- https://github.com/coreos/etcd-operator/issues/1147

Currently two self-hosted cluster from different test jobs can colocate etcd member onto same node. This can be solved by:
- putting `Ports` info in etcd Pod. Unfortunately, pod-checkpointer also checkpoints such information and on reboot, scheduler will fail to schedule etcd pod because

[2017-07-06 18:49] hongchaodeng commented on #1147
Closing in favor of https://github.com/coreos/etcd-operator/issues/1252

[2017-07-06 18:49] #1147 closed

[2017-07-06 18:53] hongchaodeng opened #1253 "Clarify: anti-affinity behavior between etcd pods and backup sidecar"
ref: https://github.com/coreos/etcd-operator/pull/1128

Previously we haven't defined nor thought good enough about this behavior. Let's define it:

|                                                  |  sidecar with anti-affinity | sidecar without anti-affinity |
|------------------------------|--------------------------|-----------------------------|
| etcd pod with anti-affinity      | cannot co

[2017-07-06 20:43] hongchaodeng commented on #1233
e2e is green now.
We have upgrade test failing due to the deployment check deletion change. This is something we are fixing right now.

[2017-07-06 22:22] xiang90 commented on #1233
closing

[2017-07-06 22:22] #1233 closed

[2017-07-06 23:23] hongchaodeng opened #1256 "failed to create 3 members etcd cluster: still failing after 6 retries"
In our e2e testing, we have seen occasional flakes caused by network connectivity problems. The end result is that operator failed to create etcd client with error msg `grpc time out when dialing` and cannot operate etcd cluster as expected.

[2017-07-07 00:19] hongchaodeng opened #1257 "Set TolerateUnreadyEndpoints for service of peer URLs"

[2017-07-07 00:26] hongchaodeng commented on #1257
Normal service endpoints looks like:
[code]

Headless service endpoints looks like:

[code]

[2017-07-07 07:05] xiang90 opened #1260 "make sure the service is up before adding the second self-hosted etcd member"
When scaling the etcd cluster size from 1 to 2, adding a "unready" member can cause the k8s cluster to become unavailable due to quorum loss. And the cluster cannot be recovered automatically.

So before adding the member, we need to make sure the network is fully set up.

A quick workaround can be increasing the sleep after the pod started and before running the member add command. But it is stil

[2017-07-07 14:08] jamiehannaford commented on #1125
Closing as we now have a requirements doc and community interest. Next steps will be proposing it as an incubator project.

[2017-07-07 14:08] #1125 closed

[2017-07-07 15:38] raoofm opened #1261 "Document a better Roadmap"
A good roadmap helps us as users to better plan our work/releases.

etcd does an amazing job at it and we know exactly when to look for a feature and plan our work accordingly.
https://github.com/coreos/etcd/blob/master/ROADMAP.md

I'm not sure if etcd-operator is in too early stage and switch priorities but some sort of a plan would be really helpful and also gives us an idea on when to look for

[2017-07-07 16:28] hongchaodeng commented on #1261
What plan specifically do you want to know about or think that other users like to know?

[2017-07-07 17:55] raoofm commented on #1261
for instance, when is the stable release planned

[2017-07-07 18:30] hongchaodeng commented on #1260
So the question is how can we determine the first member gets the DNS entry. For example, if we check the DNS in the second member, it might still be unpopulated in the first member. And vice versa. And to etcd service as well.

[2017-07-07 19:49] hongchaodeng opened #1265 "e2e flake umbrella"
We have about 1/5 chance of flakes after migrating to k8s 1.7 .
This issue tracks all flakes and ongoing work.

[2017-07-07 19:50] hongchaodeng commented on #1265
test failure: https://jenkins-etcd-public.prod.coreos.systems/job/etcd-operator/2102/consoleText

[code]

[code]

[2017-07-07 21:45] hongchaodeng opened #1267 "cluster: get rid of headless service"
I figured out that it doesn't need headless service to use FQDN right now.

[2017-07-07 21:57] hongchaodeng commented on #1267
Closing to converge conversation into https://github.com/coreos/etcd-operator/issues/1257

[2017-07-07 21:57] #1267 closed

[2017-07-07 21:58] hongchaodeng commented on #1257
ref: https://github.com/coreos/etcd-operator/issues/1267

Actually we don't need the service to access the FQDN

[2017-07-08 18:48] xiang90 commented on #1220
@jamiehannaford agreed. can you help to improve this by sending a pr?

[2017-07-08 18:54] hongchaodeng commented on #1257
One more finding, with the headless service, we can ping FQDN without the cluster domain. For example, "foo.bar.default.svc" instead of "foo.bar.default.svc.cluster.local".

[2017-07-08 18:55] xiang90 commented on #1257
is this documented anywhere under k8s doc?

[2017-07-08 19:05] hongchaodeng commented on #1257
The official docs about service talks about the shortname. But it doesn't mention about subdomain though.

[2017-07-08 19:07] hongchaodeng commented on #1257
Also verified that with network partition, the endpoint of unready (FQDN, subdomain, headless service) pod will be removed in the same way as normal service.

[2017-07-08 19:11] xiang90 commented on #1257
even with the toleration enabled?

[2017-07-08 19:11] hongchaodeng commented on #1257
Finally, verified that using `service.alpha.kubernetes.io/tolerate-unready-endpoints` will keep the endpoint even under unreadiness.

[2017-07-10 03:49] wwyiwzhang opened #1268 "How to backup etcd cluster from 3.1.0-alpha.1_0000000000000001_etcd.backup"
Unfortunately, I did something that caused the etcd cluster go down and I could not recover the data yet. The cluster used persistent volume claim (PVC) to back up data daily and I found this '3.1.0-alpha.1_0000000000000001_etcd.backup' in the PVC. How can I recover the data from this backup file?

[2017-07-10 15:05] jamiehannaford opened #1269 "Add nodeName field to PodPolicy"
kubeadm is current affected by https://github.com/kubernetes/kubernetes/issues/45717 which prevents any pod from being scheduled on a node without any CNI solution (kubeadm allows users to install SDN after init). The workaround is to use DaemonSets for the control panel, since it bypasses the scheduler.

In order to bypass the scheduler for normal pods, we need to set the `nodeName` for the pods

[2017-07-10 15:15] hongchaodeng commented on #1269
I didn't catch the problem. So what are you trying to achieve?

[2017-07-10 15:59] raoofm commented on #1268
@wwyiwzhang you mentioned cluster version, does it have v2 or v3 data or both

[2017-07-10 16:14] wwyiwzhang commented on #1268
Hi Raoof,

Thanks for getting back to me early in the morning. I really appreciate it.
Our team have lost all of the data in the etcd cluster unless there is a
way to restore it from the backup file. As far as I know, we have *V2* (API
version2) data.

Thanks,
Weiwei

On Mon, Jul 10, 2017 at 8:59 AM, Raoof Mohammed <notifications@github.com>
wrote:

[2017-07-10 16:20] raoofm commented on #1268
Sorry my previous post got deleted by mistake where i wrote

etcd-operator doesn't backup v2 data, so there is no way to restore. It only backs up v3 data. I mentioned this earlier #1123 as this is big problem for existing users. I hope you can request on that issue too and give a vote.

In case you have backed up v2 data manually then I can elaborate, but doesn't seem the case.

[2017-07-10 16:50] hongchaodeng commented on #1236
So in order to migrate to CRD, here are the steps that we need to do:
1. create CRD
2. copy cluster TPR to cluster CR
3. shutdown operator
4. update relevant resources' ownerRefs
5. delete cluster TPR, delete TPR
6. restart operator

[2017-07-10 17:10] wwyiwzhang commented on #1268
Hi Raoof,

Thanks a lot for giving me this info. At least I know that I can stop
trying. :)

I think we will move to API version 3 in the future. In the meanwhile, we
will do manual data backup for API version 3.

I would greatly appreciate if there will be some documentation on how to
back up data for API version 3 since I googled it and I could not find it.
If you need to to create an issue for

[2017-07-10 18:13] jamiehannaford commented on #1269
kubeadm does not deploy flannel or weave, meaning that the node is marked as `NotReady`, so no pods can be scheduled to them. In order for `kube-etcd-0000` to be deployed by the operator, it needs a `nodeName` to exist in the PodSpec.

[2017-07-10 18:16] jamiehannaford commented on #1269
Proposed solution is to add a field to [the spec](https://github.com/coreos/etcd-operator/blob/master/pkg/spec/cluster.go#L131) and then ensure it exists in the PodSpec for the pod [here](https://github.com/coreos/etcd-operator/blob/aca372af9457a0c93648bcd6eee7066c10d7ab36/pkg/util/k8sutil/pod_util.go#L114). I can submit a PR tomorrow

[2017-07-10 18:18] hongchaodeng commented on #1269
Why is the node marked "NotReady"?

[2017-07-10 18:23] raoofm commented on #1123
@xiang90 @heyitsanthony Is there an issue that is being tracked in etcd?

[2017-07-10 18:26] hongchaodeng commented on #1123
@raoofm https://github.com/coreos/etcd/issues/6925

[2017-07-10 18:29] jamiehannaford commented on #1269
It's a known bug: https://github.com/kubernetes/kubernetes/issues/45717.

If a CNI network isn't set up, kubelet marks all nodes as `NotReady`. kubeadm doesn't deploy flannel during the init phase - it lets the user pick a network provider afterwards. This is a deliberate design choice to be vendor agnostic.

For v1.8 we're working on [adding more granular taints](https://github.com/kubernetes/kub

[2017-07-10 18:30] jamiehannaford commented on #1269
/cc @luxas

[2017-07-10 18:30] raoofm commented on #1123
@hongchaodeng Thanks, awesome!

[2017-07-10 18:32] raoofm commented on #1268
will do manual data backup for API version 3.
I would greatly appreciate if there will be some documentation on how to
back up data for API version 3 since I googled it and I could not find it.

@wwyiwzhang you meant to type version 2 here right?

[2017-07-10 18:34] wwyiwzhang commented on #1268
yep, version2.

On Mon, Jul 10, 2017 at 11:32 AM, Raoof Mohammed <notifications@github.com>
wrote:

[2017-07-10 18:51] raoofm commented on #1268
For v3 you can find examples here
https://github.com/coreos/etcd-operator/blob/3ec1a1d38e0fc91a2e757ed322227c6816e5f110/example/example-etcd-cluster-with-backup.yaml
https://github.com/coreos/etcd-operator/blob/3ec1a1d38e0fc91a2e757ed322227c6816e5f110/example/deployment-s3-backup.yaml.template

and doc here
https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_service.md
https://gith

[2017-07-10 20:08] luxas commented on #1269
This would be super handy @hongchaodeng @xiang90 and is currently a blocker for adding support for self-hosted etcd in kubeadm.
As @jamiehannaford said -- no Pod besides those created by a DaemonSet can be scheduled when there is no CNI network, due to that the scheduler filters out all `NotReady` nodes and the node goes `NotReady` when CNI is uninitialized.

[2017-07-10 20:16] wwyiwzhang commented on #1268
Cool, thanks @raoofm.

Can you also add the section in https://github.com/coreos/etcd-operator/blob/master/doc/user/download_backup.md on what to do after retrieving the .back files? for example, what command to run to restart a new etcd cluster with the .back files. I think the examples are not clear to me.

[2017-07-10 20:34] xiang90 commented on #1269
@jamiehannaford @luxas

To be honest, I do not feel comfortable to bypass the scheduler for just the initial placement. We do have plan to let the operator to assign pods to nodes for good reasons, and what you describe is one of them. But I do not have time to write the full story at the moment.

Adding a random feature to the etcd operator to fix a short term blocker is really not the way to go

[2017-07-10 20:56] luxas commented on #1269
@xiang90 Thanks, this is actually the answer I wanted to hear -- just wanted to test if you'd agree or not with that statement :)
I'm very fine with letting k8s fix the issue

[2017-07-10 23:40] hongchaodeng commented on #1236
We will prioritize this item since TPR will be removed in k8s 1.8 . We need to ship this as early as we could and have it tested as much as possible.

[2017-07-11 08:30] jamiehannaford commented on #1269
That's fair enough. I'll close this and focus efforts on the upstream solution.

[2017-07-11 08:30] #1269 closed

[2017-07-11 13:27] raoofm commented on #1268
The backups that etcd operator saves are etcd snapshots.

You can use this later to recover from a v3 snapshot
https://github.com/coreos/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

This is how you will restore from a v2 backup
https://github.com/coreos/etcd/blob/master/Documentation/v2/admin_guide.md#backing-up-the-datastore
https://github.com/coreos/etcd/blob/master/D

[2017-07-11 17:20] hongchaodeng commented on #1265
Have a lot of fix commits and now have 2/30 failures in last stress testing.
Closing this.

[2017-07-11 17:20] #1265 closed

[2017-07-11 17:38] xiang90 commented on #1265
@hongchaodeng 2/30 is still very high failure rate. it is ~8%.

[2017-07-11 17:42] hongchaodeng commented on #1265
This is the umbrella issue. We will make issue for individual failure in finer granularity.

[2017-07-11 19:04] hongchaodeng commented on #1112
fixed by https://github.com/coreos/etcd-operator/pull/1244

[2017-07-11 19:09] ssubramanian123 commented on #1112
@hongchaodeng can you please share sample etcd-operator file which is using IAM role based?

[2017-07-11 21:07] hongchaodeng commented on #1260
fixed by https://github.com/coreos/etcd-operator/pull/1266

[2017-07-11 21:07] #1260 closed

[2017-07-11 21:41] hongchaodeng opened #1273 "migrate to client-go v4.0.0-beta"
ref: https://github.com/kubernetes/client-go/releases/tag/v4.0.0-beta.0

client-go v4.0.0-beta is released, which natively supports k8s 1.7 . We should upgrade to it as soon as possible to reduce future conflicts, e.g. apiextensions client's dependencies.

[2017-07-11 22:03] hongchaodeng commented on #1256
I checked recent e2e flakes and they are caused by this issue. For example, e2e relies on operator to update status.members and some member's health check failed by `grpc: timed out when dialing`.

[2017-07-11 22:05] xiang90 commented on #1256
i am not convinced that gce networking is THAT unreliable. we might want to spend sometime to dig into this.

[2017-07-11 22:07] hongchaodeng commented on #1256
How to dig? It failed to create an etcd client. In operator, there isn't much to dig.

[2017-07-11 22:25] hongchaodeng commented on #1256
Also this doesn't rule out other problems like kubelet starting container slow.

[2017-07-11 22:27] #1200 closed

[2017-07-11 22:28] hongchaodeng commented on #1256
another possible cause: scheduling is slow

[2017-07-11 22:30] hongchaodeng commented on #1256
It also depends. I have stress one test that always failed at some point. Then it always succeed after that.

[2017-07-11 22:36] hongchaodeng commented on #1256
Some more evidence from a flake:

[code]

[code]

last check
[code]

[code]

[2017-07-11 22:46] hongchaodeng commented on #1256
It looks like it took operator:
- `51 - 14 = 37s` to create 3 members, which is normal
- there is some delay + reconciile interval (8s) = `64-51=13s`

[2017-07-11 22:51] hongchaodeng commented on #1256
Honestly, this is problematic.. It waits only `37 + 13 = 50s`. We used divide method = `(60 * time.Second) / (10 * time.Second)`. This is rounded down unexpectedly.

[2017-07-11 22:51] hongchaodeng commented on #1256
The total test time is also less than 60s:
[code]

[2017-07-11 23:20] hongchaodeng commented on #1256
It is not rounding down.. The root cause is that in `Retry()` code, we implement "retries" as exact tries, while we use it as "retries", i.e. additional tries.

[2017-07-11 23:38] hongchaodeng commented on #1256
ref:
https://github.com/coreos/etcd-operator/pull/1276
https://github.com/coreos/etcd-operator/pull/1275

[2017-07-12 15:52] sstarcher opened #1277 "self-hosted with additional cluster fails to backup"
I have a self hosted etcd-operator setup
* version 0.4.1
* etcd version 3.1.8
* k8s 1.6.7

I created a new cluster with the following definition.

[code]

backup logs
[code]

Running pods
[code]

[2017-07-12 16:01] sstarcher commented on #1277
I believe this is user error.  I reused the same tls certs from the self-hosted member.  As soon as the backups run in 5mins I'll likely close this out.

[2017-07-12 16:09] sstarcher commented on #1277
confirmed user error

[2017-07-12 16:09] #1277 closed

[2017-07-12 16:46] hasbro17 commented on #1211
The issue has been resolved on k8s 1.7 as the pod successfully restarts with the new image.

In addition, the e2e test `TestEtcdUpgrade` has been modified to detect such a failure to upgrade the container versions in #1217

[2017-07-12 16:46] #1211 closed

[2017-07-12 20:47] hongchaodeng commented on #1268
Closing this.
Feel free to ping me if there is any more question

[2017-07-12 20:47] #1268 closed

[2017-07-13 04:28] wilhelmguo opened #1279 "Deployment etcd node hangs ,but etcd-operator can not be automatically restored"
If kubernetes node down , the pod.status.phase is still Running,
So etcd-operator  reconcile think the pods is running.Then, do nothing.

func (c *Cluster) reconcile(pods []*v1.Pod) error {
	c.logger.Infoln("Start reconciling")
	defer c.logger.Infoln("Finish reconciling")

	defer func() {
		c.status.Size = c.members.Size()
	}()

	sp := c.cluster.Spec
	running := podsToMemberSet(pods, c.isSecureCli

[2017-07-13 05:12] xiang90 commented on #1279
That is how kubernetes works in general. Same thing will happen with replicaset, stateful set, etc.. We might add application level healthy checking, but it is a longer term goal. You need to config k8s controller manager correctly to evict pods from unready nodes correctly to solve your specific issue.

[2017-07-13 05:12] #1279 closed

[2017-07-13 05:21] wilhelmguo commented on #1279
Deployment will create new pod if there is pod unready.
[root@docker3006 ~]# kubectl get pods
NAME                                     READY     STATUS    RESTARTS   AGE
etcd-etcd-operator-319525704-hbmbf       1/1       Unknown   1          9d
etcd-etcd-operator-319525704-z5hhj       1/1       Running   0          1h

and my deployment replicas is 1.

I suggest if health check reach max retry tim

[2017-07-13 05:23] xiang90 commented on #1279
if this happens to deployment, deployment controller will also do nothing about it.

This is VERY different from pod.status.phase is still running. You need an apple to apple comparison.

[2017-07-13 06:26] wilhelmguo commented on #1279
This unknown pod phase also Running.
[root@docker3006 ~]# kubectl get  pod etcd-etcd-operator-319525704-hbmbf  -o yaml|grep phase
  phase: Running

[2017-07-13 06:28] xiang90 commented on #1279
Sorry, I do not understand what is unknown pod but also running. Pod phase can only be one of https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

[2017-07-13 06:33] wilhelmguo commented on #1279
You can stop one node kubelet .
Then kubectl get pod will be become unready.But pod status.phase is still Running.
kubectl get pod status unready is probe health error, then return unready.

You can see kubernetes source code.

k8s.io/kubernetes/pkg/registry/core/componentstatus/validator.go

func (server *Server) DoServerCheck() (probe.Result, string, error) {
	// setup the prober
	server.Once.Do

[2017-07-13 06:37] wilhelmguo commented on #1279
When one kubernetes' node down ,pods on the node status.phase  still Running ,
But status.conditions Ready will be false. I think should combine ready conditions and status.phase
to decision is pod Running.

[2017-07-13 06:46] xiang90 commented on #1279
readiness and pod phase are two different things. i am not sure how we are going to handle pod unknown probe result. create new issue to track that if you wish.

[2017-07-13 09:50] wilhelmguo commented on #1279
Now kubernetes evict pods from unready nodes only set  deletionTimestamp,deletionGracePeriodSeconds.
Will not delete the pods resource for node recovery delete this pod's container,volums etc ...
Once deletionTimestamp  before now should we think the pods is dead. Because even if the node recovery the pod will be deleted by kubelet.

"kind": "Pod",
"apiVersion": "v1",
"metadata": {
"deletionTimest

[2017-07-13 09:56] wilhelmguo opened #1281 "etcd-operator can not be automatically restored etcd cluster once node down"
Now kubernetes evict pods from unready nodes only set deletionTimestamp,deletionGracePeriodSeconds.
Will not delete the pods resource for node recovery delete this pod's container,volums etc ...
Once deletionTimestamp before now should we think the pods is dead. Because even if the node recovery the pod will be deleted by kubelet.

"kind": "Pod",
"apiVersion": "v1",
"metadata": {
"deletionTimestam

[2017-07-13 12:36] trunet commented on #1021
will this be handled in the near future?

[2017-07-13 14:55] janwillies opened #1282 "etcd-operator dies with mkdir /.aws: permission denied"
I'm running etcd-operator in a self-hosted bootkube on Kubernetes-1.7 and have edited the etcd TPR with the following information:
[code]
and the etcd-operator with the following:
[code]
After that, the etcd-operator won't start anymore:
[code]
Both `secret` and `configmap` exist and are mounted. This configuration was working with kube-1.6 and etcd-operator <0.4.

[2017-07-13 15:34] hongchaodeng commented on #1021
Yes.

@trunet Would you like to send a PR for this?

[2017-07-13 15:35] hongchaodeng commented on #1282
Please use latest version of bootkube.
Closing since it is bootkube issue.

[2017-07-13 15:35] #1282 closed

[2017-07-13 15:36] janwillies commented on #1282
Can you elaborate? I'm using bootkube from HEAD (build an hour ago)

[2017-07-13 15:53] hongchaodeng commented on #1282
Sorry, I thought it is another issue. I see what you are doing. Operator wide S3 won't work in bootkube. You need to use per cluster S3.

[2017-07-13 15:54] hongchaodeng commented on #1282
See https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md

[2017-07-13 16:48] janwillies commented on #1282
Thanks, it's working now

[2017-07-13 17:00] trunet commented on #1021
@hongchaodeng I can if you help me telling how I can get the kubernetes domain inside pkg/util/etcdutil/member.go.

[2017-07-13 18:19] hongchaodeng commented on #1021
I will handle it in next coming release

[2017-07-13 18:49] hongchaodeng commented on #1256
fixed now

[2017-07-13 18:49] #1256 closed

[2017-07-13 18:55] hongchaodeng opened #1285 "CR client for etcd cluster"
Once we move to CRD (https://github.com/coreos/etcd-operator/issues/1236), we can have more reliable way to create CR client.

First, we don't need the "ClusterCopy" and "Metadata" hack in our spec.

Second, we are going to create CR client to replace current REST calls and drop TPR client. Also drop the "cliente2e" test.

[2017-07-13 18:56] #1257 closed

[2017-07-13 20:53] #1273 closed

[2017-07-13 23:36] jsilberm opened #1290 "Race condition when using a service after cluster creation"
Running the file below --- it fails on a new cluster:

root@master:~# kc create -f etcd_all.yml
clusterrole "etcd-operator" created
serviceaccount "etcd-operator" created
clusterrolebinding "etcd-operator" created
deployment "etcd-operator" created
service "etcd-px-client" created
error: unable to recognize "etcd_all.yml": no matches for etcd.coreos.com/, Kind=Cluster

Then I delete everything and

[2017-07-13 23:55] xiang90 opened #1291 "check pod condition besides pod status"
for non-self hosted case, it is ok to take more aggressive member replacement policy. So if a pod is in a unknown healthy state, we can assume it is dead and replace it as soon as possible.

for self hosted case, this is probably too destructive. for self hosted case, we should keep pod as stable as possible. Only moving pods when we know they are dead, and there are enough nodes to schedule pods.

[2017-07-14 01:11] arthur0 opened #1292 "Unable to create the etcd-cluster using apiVersion "etcd.coreos.com/v1beta1""
Initially, I tried to create the etcd-operator helm chart and I got the error:
`Error: UPGRADE FAILED: apiVersion "etcd.coreos.com/v1beta1" in etcd-operator/templates/cluster.yaml is not available`
Reference: https://github.com/kubernetes/charts/issues/1484

Without the helm chart and using the documentation, I deployed the etcd-operator and I tried to create the etcd-cluster, but I got the same e

[2017-07-14 01:15] hongchaodeng commented on #1292
you need to create etcd operator first before creating etcd cluster

[2017-07-14 01:16] hongchaodeng commented on #1292
can you provide a way to reproduce your error in pure etcd operator way?

[2017-07-14 01:24] arthur0 commented on #1292
[code]

[2017-07-14 02:31] hongchaodeng commented on #1292
get the logs of etcd operator?

[2017-07-14 03:20] wilhelmguo commented on #1281
Node lost but phase still Running. So if a machine down, the phase of the pod is still Running.The operator will never start a new member .

"phase": "Running",
"message": "Node docker3004 which was running pod etcd-cluster-0045 is unresponsive",
"reason": "NodeLost",

[2017-07-14 07:51] yan234280533 opened #1293 "when I using the deploy the operator, it start failed ?"
when I using the deploy the operator, it start failed ?

E0714 07:41:09.905723       5 election.go:226] error retrieving resource lock default/etcd-operator: Get https://10.96.0.1:443/api/v1/namespaces/default/endpoints/etcd-operator: dial tcp 10.96.0.1:443: i/o timeout

the version I used:
k8s:  v1.7.0"

and I was done the step of rbac in this url:

https://github.com/coreos/etcd-operator/blob/ma

[2017-07-14 09:26] yan234280533 opened #1295 "I install the operator in v1.6.4 k8s, but it run operator images is failed?"
I install the operator in v1.6.4 k8s, but it run operater images is failed.

The error log is :

FirstSeen	LastSeen	Count	From				SubObjectPath	Type		Reason			Message
  ---------	--------	-----	----				-------------	--------	------			-------
  26s		26s		1	default-scheduler				Normal		Scheduled		Successfully assigned etcd-operator-417324745-6wmzn to vm-129-125-ubuntu
  26s		26s		1	kubelet, vm-129-1

[2017-07-14 09:36] wilhelmguo commented on #1293
It seems that the operator pod can't connect to you apiserver. Check your apiserver and network.

[2017-07-14 09:39] yan234280533 commented on #1293
I test in node telnet 10.96.0.1 443 ,it telnet succeed.

[2017-07-14 09:41] wilhelmguo commented on #1293
You should test in one pod of the node telnet 10.96.0.1 443 ,check if success?

[2017-07-14 09:52] yan234280533 commented on #1293
I redeploy it ,and deploy it in the master node.

it show the error log :

etrieving resource lock default/etcd-operator: User "system:serviceaccount:default:default" cannot get endpoints in the namespace "default". (get endpoints etcd-operator)

[2017-07-14 09:53] yan234280533 commented on #1293
Can I deploy the  operator in default namespace? Or ,should I must deploy it in an new namespace?

[2017-07-14 10:00] yan234280533 commented on #1293
I deploy it in an new namespaces tst2, but it error:

time="2017-07-14T09:59:07Z" level=error msg="initialization failed: fail to create TPR: User "system:serviceaccount:tst2:default" cannot create thirdpartyresources.extensions at the cluster scope. (post thirdpartyresources.extensions)" pkg=controller

[2017-07-14 10:01] yan234280533 commented on #1293
root@VM-133-17-ubuntu:/data/etcd-operator/example# kubectl logs etcd-operator-3317057186-fww0g -n=tst2
time="2017-07-14T09:58:07Z" level=info msg="etcd-operator Version: 0.4.2"
time="2017-07-14T09:58:07Z" level=info msg="Git SHA: cbb8715"
time="2017-07-14T09:58:07Z" level=info msg="Go Version: go1.8.1"
time="2017-07-14T09:58:07Z" level=info msg="Go OS/Arch: linux/amd64"
time="2017-07-14T09:58:37Z"

[2017-07-14 15:38] hongchaodeng opened #1296 "faq and troubleshooting docs"
provide faq and troubleshooting docs so that users can understand failure scenarios and figure out solutions.

[2017-07-14 17:41] hongchaodeng commented on #1293
It seems like you don't have perm. Did you set up RBAC right?

[2017-07-14 17:58] arthur0 commented on #1292
I'm sorry about the issue description.
I thought the behavior of etcd-operator deployment no has an association with the main problem
`no matches for etcd.coreos.com/, Kind=Cluster.`

So a complete description that I did:
File `etcd-all.yaml`:

[code]

Creating it, I got the same error message:
`error: unable to recognize "etcd-all.yaml": no matches for etcd.coreos.com/, Kind=Cluster`
[code]

The

[2017-07-14 18:05] hongchaodeng commented on #1292
Your etcd operator deployment is using the default service account. You need to modify the Deployment to use "etcd-operator" service account created.

[2017-07-14 18:09] hongchaodeng commented on #1292
Change the deployment:
[code]

[2017-07-14 19:30] arthur0 commented on #1292
Thank you, @hongchaodeng, It works and I think that issue can be closed.
I can see the etcd-cluster, but can't see any pod.
[code]

[2017-07-14 19:31] hongchaodeng commented on #1292
@arthur0
Yeah. For any further issue, just open a new issue and paste your setup, and logs. Thanks!

[2017-07-14 19:31] #1292 closed

[2017-07-14 21:25] hongchaodeng commented on #860
Closing. Please track in https://github.com/coreos/etcd-operator/issues/1236

[2017-07-14 21:25] #860 closed

[2017-07-14 21:25] hongchaodeng commented on #861
Closing. Please track in https://github.com/coreos/etcd-operator/issues/1236

[2017-07-14 21:25] #861 closed

[2017-07-14 21:25] hongchaodeng commented on #1140
This is fixed in upstream

[2017-07-14 21:25] #1140 closed

[2017-07-15 01:52] jsilberm commented on #1290
After a bit more head-banging, it looks like there are actually 2 distinct race conditions.    Both are evident in the referenced file.

Once you can run [this script](https://github.com/portworx/px-docs/blob/gh-pages/k8s-samples/px-startall.sh) without the 'waitfor' and race checks around etcd-operator and etcd-cluster, then this issue should be closed.

[2017-07-15 16:09] hongchaodeng commented on #1290
TPR is one time installment. Once it is set up, operator doesn't need to install it second time.
For the first time, you need to wait.
Just do:
[code]

[2017-07-15 16:10] hongchaodeng commented on #1290
I think this is a docs issue.

[2017-07-15 18:01] jsilberm commented on #1290
I don't think it's just a docs issue, no.

Look at the script.  I already do a waitfor TPR --- and the cluster creation still fails (unless I retry).

All of this goes against Kubernetes accepted practices, if I'm not mistaken.   "Sleep/waitfor" is never an acceptable way of managing dependencies, right?

[2017-07-15 18:02] hongchaodeng commented on #1290
That sounds like an issue for TPR.

[2017-07-15 18:03] hongchaodeng commented on #1290
@jsilberm

You might want to report an issue to upstream about this. But since k8s is deprecating TPR and going to use CRD instead, can you try if CRD still have the same issue? If it has, please report it to upstream.

[2017-07-15 18:07] hongchaodeng commented on #1290
For current workaround, you need to check the actual TPR endpoint, e.g. `cluster.etcd.coreos.com`

[2017-07-16 02:40] hongchaodeng opened #1300 "e2e flake: etcd pod failed on bootstrap"
link: https://jenkins-etcd.prod.coreos.systems/job/etcd-operator-master/558/console

Operator added member "test-etcd-jf0xc-0001". But then later, the pod is gone.

From logs of pod "test-etcd-jf0xc-0001":

[code]

[2017-07-16 08:21] cehoffman opened #1301 "Deletes cluster when upgrade fails"
There is an issue I opened in etcd https://github.com/coreos/etcd/issues/8268 that highlighted what I think is a bug in expected behavior for the operator. When upgrading a cluster in this case, the operator deletes the entire cluster instead of reverting the cluster to the old etcd image.

It would seem preferable to me that the cluster enters a degraded state or reverts fully to the previous ver

[2017-07-16 20:37] hongchaodeng commented on #1301
So you mean when upgrade halted in the middle, revert to previous version?

To extend this topic, currently you can backup before upgrade and if anything goes wrong just restore fro it.

[2017-07-17 15:47] immesys opened #1302 "No way to specify etcd args"
For my application I need to specify quota-backend-bytes and auto-compaction-retention, I went digging into the code and it appears there is no way to do this at all? Did I miss something?

[2017-07-17 15:49] immesys opened #1303 "Command building typo"
While looking into #1302 I came across L238 in k8sutil.go:

[code]

I am 99% certain that this was meant to be `commands +=` and if not, some magic is going on (because the whole `/usr/local/bin/etcd` part just got lost) and there needs to be a comment.

[2017-07-17 15:51] immesys commented on #1303
Oops. Sorry. It's early. My bad.

[2017-07-17 15:51] #1303 closed

[2017-07-17 16:33] immesys commented on #1302
To refine this further, there actually IS a way, after I dug into the code it seems that the Pod Spec has an `etcdEnv` field that can be used for this purpose, but a quick grep shows that there are no references to this in any of the documentation, so I don't feel so bad for not knowing this.

[2017-07-17 16:34] hongchaodeng commented on #1302
No need to feel bad. Every feedback is useful to move the project forward.

We will add docs for this.

[2017-07-17 16:40] hongchaodeng commented on #1301
We can possibly add a timeout in upgrade.

[2017-07-17 18:01] sstarcher opened #1304 "backup sidecar tolerances and taints"
As a user I would of expected the backup sidecar to have the same taints and tolerances as the TPR for the etcd cluster itself, but instead the backup sidecar did not contain any of the taints.  In an AWS environment this restricts the ability to use the same credentials as the server the etcd pods are running on.

[2017-07-17 18:12] hongchaodeng commented on #1304
Backup policy has pod policy which can be used to set tolerations: https://github.com/coreos/etcd-operator/blob/master/pkg/spec/backup.go#L34.

 Does that work for you?

[2017-07-17 18:23] sstarcher commented on #1304
@hongchaodeng I'll check that out, but that looks like it could resolve my issue.

[2017-07-17 18:30] sstarcher opened #1305 "support etcd bucket prefix"
Current the format for ETCD backups in a self-hosted cluster requires that each cluster has it's own bucket.  From a management perspective it could be helpful to have a single bucket that contains multiple clusters.

Current the format is `BUCKET/v1/NAMESPACE/ETCD_CLUSTER`
Would it be possible to support or interested in supporting a custom location or a prefixed location.

`BUCKET/ID/v1/NAMESPAC

[2017-07-17 21:25] sstarcher commented on #1304
I verified that adding the pod spec for taint and tolerance under the backup object works.

[2017-07-18 17:43] klausenbusk opened #1308 "Support encryption of backup"
The etcd backup can contain some very sensitive data (e.g: when using self-hosted etcd with [bookube](https://github.com/coreos/bootkube), it contains all the k8s secrets).

The access to the backups should be restricted (ex: IAM), but providing a way to encrypt the backup wouldn't hurt.

[2017-07-18 19:03] cehoffman commented on #1301
The intention is that when upgrading, if upgraded members do not actually become part of the cluster the upgrade should be stopped or rolled back.

[2017-07-18 19:07] xiang90 commented on #1301
Right. However, it is unplanned right now. Can you open a feature request for the upgrade rollback feature

[2017-07-18 19:18] cehoffman opened #1309 "Upgrade rollback/suspend feature"
In #1301 a failed upgrade resulted in the deletion of the cluster. Ideally since the failure happened because the upgraded nodes never joined the cluster, the upgrade should have been stopped partially and either suspended or rolledback.

[2017-07-18 19:18] cehoffman commented on #1301
Done

[2017-07-18 19:18] #1301 closed

[2017-07-19 17:18] hongchaodeng commented on #1285
Already done in "crd" feature branch.
Closing this to converge tracking in #1236

[2017-07-19 17:18] #1285 closed

[2017-07-21 05:25] hongchaodeng opened #1312 "e2e master is broken"
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-master/563/console
https://jenkins-etcd.prod.coreos.systems/view/operator/job/etcd-operator-master/564/console

[2017-07-21 16:26] hongchaodeng commented on #1312
So I run stress testing on e2e and it seems fine. Above failures is temporary. Closing this now

[2017-07-21 16:26] #1312 closed

[2017-07-21 21:05] hongchaodeng opened #1313 "status.controlPaused=false even if it's paused."

[2017-07-21 21:21] hongchaodeng opened #1314 "randomize etcd hostPath name"

[2017-07-22 06:02] xiang90 opened #1315 "disable v2 by default"
etcd operator does not support backup v2 data.

we do not have a good story on v2 yet. probably we should disable v2 by default. and warn users v2 backup is not supported when they try to enable it.

[2017-07-22 07:08] xiang90 commented on #622
this is already done.

[2017-07-22 07:08] #622 closed

[2017-07-24 16:15] hongchaodeng commented on #957
Closing this.
One question is converged into local PV issue: #1201
Another question is resolved in #1008

[2017-07-24 16:15] #957 closed

[2017-07-24 16:24] hongchaodeng opened #1316 "provide restore hook"
From https://sgotti.me/post/kubernetes-persistent-etcd/

Auto-restore hides complexity and details. Sometimes users won't be comfortable with it. An initial idea is to provide restore hooks.

[2017-07-24 16:24] hongchaodeng commented on #1316
cc @sgotti

[2017-07-24 20:59] hongchaodeng commented on #1205
done

[2017-07-24 20:59] #1205 closed

[2017-07-24 21:12] hongchaodeng opened #1319 "RBAC security model discussion"
Currently etcd operator is built for convenience. It automatically create TPR/CRD, storage class, etc. However, in a multi-tenant world, we want one cluster's operation not affect another.

There are many problems in current design:

- Operator have non-namespaced resources (CRD, storageClass) in RBAC and need to create global ClusterRole, not namespace specific Role. This could be delegated to ex

[2017-07-24 21:41] xiang90 commented on #1319
/cc @ericchiang

[2017-07-24 22:19] hongchaodeng opened #1320 "Put readiness check into pod"
Currently we do readiness check in operator in each reconcile. This could pause operator for 5s in each health check if failed, and make reconcile's predictability worse. We could put the readiness check into pod spec.

[2017-07-24 22:36] ericchiang commented on #1319
General thought:

I view an operator as a way to enable a specific resource. Running the etcd-operator in a namespace make the etcd CRDs actually do something. An admin thinks about resources like `etcd.coreos.com/v1beta1.Cluster` the same way they think about resources like `Deployments`, as resources that spawn other resources.

In this world, you should never be running more than one etcd-opera

[2017-07-24 22:45] hongchaodeng commented on #1319
If you view operator like deployment controller, don't mind about this. Otherwise, what I mean here is that the operator has the privileges to touch resources across etcd clusters.

OK. I agree.

[2017-07-25 01:06] hongchaodeng commented on #1319
Closing this. Not a problem anymore.

[2017-07-25 01:08] xiang90 commented on #1319
this is still a problem. just not hurting us in short term. i would suggest to keep it open.

[2017-07-25 01:08] xiang90 commented on #1319
i added a future milestone.

[2017-07-25 03:33] zhenyuxx opened #1322 "Cluster domain is not respected."
When I create a Kubernetes cluster with 'example.com.' as the cluster domain, etcd-operator seems still use 'cluster.local.' for client/peer communication. Below is the log.

`2017-07-25 03:19:37.473124 W | pkg/netutil: failed resolving host etcd-cluster-0000.etcd-cluster.default.svc.cluster.local:2380 (lookup etcd-cluster-0000.etcd-cluster.default.svc.cluster.local on 10.3.0.10:53: no such host);

[2017-07-25 04:20] hongchaodeng commented on #1322
Dup to https://github.com/coreos/etcd-operator/issues/1021
Please wait for v0.5.1

[2017-07-25 04:21] hongchaodeng commented on #1322
Patch is welcome :)

[2017-07-25 10:31] sgotti opened #1323 "Persistent/Durable etcd cluster"
I'd like to be able to use etcd-operator to achieve a persistent/durable etcd cluster. I'd like to avoid as much as possible (only when I know that my members will never come back) the need to restore from a backup only because a majority of member dies at the same time (this could happen a lot of times for a lot of unpredictable reasons).
If I know that they will come back (rescheduled by etcd-op

[2017-07-25 15:16] xiang90 commented on #1323
@sgotti

Frequent majority loss MUST be avoided. Or you should NOT use etcd at all. etcd is not designed for handling frequent majority loss.

Also when etcd loses majority, etcd operator will try to seed from one existing member's data if possible. Or it will try to recover from existing backups if any. An on-going effort is to support continuous backup.

Remember that PV is just another cloud ma

[2017-07-25 15:19] xiang90 commented on #1323
@sgotti

Do you mind explaining your use case? When people want PV, usually creating a one member etcd deployment in k8s with PV is good enough for them. Clustering might not even be needed.

[2017-07-25 19:18] blakebarnett opened #1325 "When creating a cluster on AWS the GCE-PD storageclass is used"
version: 0.4.2
k8s: 1.7.1
helm chart version: 0.4.1

container is configured with:
[code]

But the PVC gets created with a storage-class of: `etcd-backup-gce-pd`

Which it also creates.  I don't see anywhere else to configure this?

[2017-07-25 19:30] hongchaodeng commented on #1325
https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md#pv-on-aws

[2017-07-25 19:50] blakebarnett commented on #1256
Seeing this also in AWS on 0.4.2, will this be in 0.4.3 soon?  Can't seem to get a cluster running anymore.

[2017-07-25 19:50] hongchaodeng commented on #1256
@blakebarnett
Can you create an new issue? Paste operator logs, etcd logs, etc.

[2017-07-25 19:51] blakebarnett commented on #1325
Thanks, I had read that.

As you can see I specified that option in the deployment above.

[2017-07-25 19:53] hongchaodeng commented on #1325
You have configured container commands wrong:
[code]

Either remove "/bin/sh" and "-c", or make other commands in a single string.

[2017-07-25 19:53] #1325 closed

[2017-07-25 19:55] blakebarnett opened #1326 "Cluster reconcile fails with: grpc: timed out when dialing"
version: 0.4.2
k8s version: 1.7.1

operator log:
[code]

cluster TPR:
[code]

I have retried 5 or 6 times with no luck.

[2017-07-25 19:56] blakebarnett commented on #1256
sure: https://github.com/coreos/etcd-operator/issues/1326

[2017-07-25 20:43] sgotti commented on #1323
I didn't mean frequent as N times a week, but in one year of production infrastructure this could happen few times. If my DC has a major problem or during an upgrade someone shut down some k8s nodes hosting a major number of etcd pods I'd like that my services restart cleanly after all is returned active without the need to recover from a backup.

That's a good thing but I haven't noticed this beh

[2017-07-25 21:02] hongchaodeng commented on #1326
@blakebarnett
I'm seeing this failure:
[code]
Can you verify reachability to `infra-etcd-0000`, specifically, `infra-etcd-0000.infra-etcd.$namespace.svc.cluster.local`.

[2017-07-25 21:17] xiang90 commented on #1323
Affinity is the way to solve this.

This is a totally different story. etcd operator does not have to remove the pod immediately. It is about how long we want to wait the pod to come back. There is not prefect solution for this. After adding local volume support, we can let user to configure how long they want to wait.

There are tons of things your stuff do not handle I assume, or it becomes anot

[2017-07-25 22:13] blakebarnett commented on #1326
We use a different cluster DNS name, is `cluster.local` hard-coded somewhere?

[2017-07-25 22:13] hongchaodeng commented on #1322
Closing since dup.

[2017-07-25 22:13] #1322 closed

[2017-07-25 22:14] hongchaodeng commented on #1326
https://github.com/coreos/etcd-operator/issues/1021

Please wait for 0.5.1

[2017-07-25 22:53] hongchaodeng commented on #1326
Closing to converge in https://github.com/coreos/etcd-operator/issues/1021

[2017-07-25 22:53] #1326 closed

[2017-07-26 20:18] hongchaodeng opened #1329 "Possibility to keep failing to update Cluster status due to version conflict"
Currently, in each reconcile, we try to update the status. However, if version conflict error happened, we didn't handle it, and it would happen next time as well:
[code]
If there is some change on the TPR/CR object but it is ignored (we ignore not spec change update, e.g. status update, other minor user update), then we would never update local cluster object and it keep failing version conflict.

[2017-07-26 23:52] hongchaodeng commented on #1175
flake too old. Closing.

[2017-07-26 23:52] #1175 closed

[2017-07-27 00:41] hasbro17 opened #1330 "etcd member failing to bootstrap and exits because of dial tcp timeout"
The etcd member can occasionally fail to bootstrap (and exit), by failing to talk to another member due to a dail tcp timeout.
[code]

If this happens for the 2nd member added to the cluster, it can lose quorum and go into disaster recovery.

The exact cause for the dial tcp timeout is not known. Putting this issue as a reference in case we encounter the above problem more frequently.

[2017-07-27 22:16] hongchaodeng commented on #1236
Has 30 passes right now: https://jenkins-etcd-public.prod.coreos.systems/view/operator/job/etcd-operator-flake/

Testing is stable for "crd" branch.

[2017-07-27 22:16] #1236 closed

[2017-07-28 08:22] sgotti commented on #1323
Right. That's the reason I would like to improve etcd-operator to be able to handle cases where you lose the majority of member without being forced to restore from a backup :smile:

Correct me if I'm wrong, but I'm not sure that just adding PV support with the current etcd-operator pod management logic will be enough, that's why my proposal feels a bit invasive as it's trying to change the etcd-o

[2017-07-28 15:29] xiang90 commented on #1323
@sgotti

I do not think it is as complicated as you described. There are only four cases:

1. pod restart - still uses previous PV
2. pod movement - detach the PV on the pod to move (or dead), and reattach that PV to the new pod
3. pod addition - create a new PV
4. pod deletion - delete the old PV

We can start with 1 as I mentioned:

Some membership updates might be involved for 2,3,4, but none o

[2017-07-28 15:37] xiang90 commented on #1323
@sgotti

This is really different from what you originally described. And, yes, I am aware of this. I do not thing it changes anything as I described. This is just another case of a "forced" pod movement.

[2017-07-31 18:53] sgotti commented on #1323
Yeah I think these cases will help achieving the goal. I started implementing 1 and the needed changes to the reconcile logic for 2,3,4 to just check if all fits together. I'll open an RFC PR for 1 in the next days (or next week) since I'd like to see if you agree on some choices.

[2017-07-31 19:17] xiang90 commented on #1323
@sgotti That is great! Thanks!

[2017-07-31 19:44] hongchaodeng opened #1337 "Use upstream CR garbage collection"
k8s has supported garbage collection for Custom Resource (CR) in master (1.8) : https://github.com/kubernetes/kubernetes/pull/47665 .

We should keep align with it, try it out, and eventually replace our GC code.

[2017-08-01 02:33] cehoffman opened #1338 "Stuck getting cluster list"
ETCD operator 0.4.2 becomes unable to perform cluster maintenance operations like scaling due to following error log.

The cluster resource is:

[code]

I believe it is complaining about `.status.backupServiceStatus.recentBackup.revision`.

[2017-08-01 03:33] hongchaodeng commented on #1338
@cehoffman
Thanks for trying out and reporting the problem. Can you tell us how to reproduce the bug?

Also, mind try to use v0.5.0 instead? It replaces TPR with CRD.

This thing is some workaround for TPR bug and TPR is deprecated in k8s 1.7+ .

[2017-08-01 04:35] cehoffman commented on #1338
It'll be a few days to a week before I can try v0.5.0. Waiting on the next tectonic release to get 1.7.

I got to the bug from as best as I can tell enabling s3 backup and restore. I used the restore twice I think over about 5 days. I also had to manually run compaction on the etcd cluster when it reached an alarm stay from keyspace size. I did this a few more times. I notice this state after I wa

[2017-08-01 10:48] Nesze opened #1339 "Add SSE to S3 backups"
It looks like there is no way to configure server-side-encryption for S3 backups (pls correct me if I'm wrong) . Does anyone else miss it as well? If there is no reason against it, I might have a go implementing it.

[2017-08-01 16:06] hongchaodeng commented on #1308
@Nesze Moving discussion of https://github.com/coreos/etcd-operator/issues/1339 to here.

Encryption is preferable on etcd backup data. However, it shouldn't be coupled with etcd backup sidecar or etcd operator. etcd operator should only take the backup. It would then call another service to encrypt the data and even actually store the data into S3. Because this would make etcd operator have less

[2017-08-01 16:06] hongchaodeng commented on #1339
There is already an issue for: https://github.com/coreos/etcd-operator/issues/1308 .
Closing this and let's converge discussion there.

[2017-08-01 16:06] #1339 closed

[2017-08-01 16:16] ssubramanian123 commented on #1112
@hongchaodeng Do we have document to use role based S3 bucket for vault?

[2017-08-01 16:18] hongchaodeng commented on #1112
You might need to ask vault community?
Maybe I didn't catch your question

[2017-08-01 18:32] raoofm commented on #1261
@hongchaodeng sorry for the noise, just checking in

[2017-08-01 18:46] raoofm commented on #1315
@xiang90 if https://github.com/coreos/etcd/issues/6925 is implemented then yes we dont need v2, else it is very imp to support both v2 and v3.

[2017-08-01 23:53] hongchaodeng commented on #1112
This issue is already fixed in https://github.com/coreos/etcd-operator/pull/1297

[2017-08-01 23:53] #1112 closed

[2017-08-02 00:30] ssubramanian123 commented on #1112
@hongchaodeng  my question was how to implement this feature.  In etcd-operator, we have steps to use S3 bucket with config and credentials. There is no document to show how to use IAM Role. If this issue is fixed, can you please point out how to modify below etcd-operator config.

[code]

[2017-08-02 00:35] immesys opened #1342 "etcd-backup timeout"
The snapshot operation done by etcd-backup uses the default timeout which is pretty conservative. Snapshots can take many seconds, especially for large databases. This causes the backups to stop working once the DB reaches a certain size. Perhaps this can be tuned?

[2017-08-02 00:47] immesys commented on #1342
I am of the opinion that a hardcoded timeout is ok, but you should make it fairly large (e.g >30s)

[2017-08-02 00:54] xiang90 commented on #1342
@immesys submit a pr to get it improved?

[2017-08-02 01:02] immesys commented on #1342
Sure

[2017-08-02 16:28] #1342 closed

[2017-08-04 20:11] hongchaodeng commented on #1021
@fen4o @trunet @zhenyuxx @blakebarnett
For all the users who change cluster domain of k8s, mind if I ask what are the motivations for change default cluster domain?

[2017-08-04 20:17] hongchaodeng commented on #1021
Also @ you guys to help answer above questions
@exename @nekufa @vgkowski

[2017-08-04 20:18] blakebarnett commented on #1021
We provide a VPN into the clusters, this has the benefit of making cluster DNS available to users, but it requires that the clusters have a unique domain. We would definitely not want to give up this flexibility.

For example our users can get to their service like: `https://foo.namespace.svc.<cluster domain>` on their machines when connected to the VPN and querying the DNS servers properly.

[2017-08-04 20:31] xiang90 commented on #1021
So you have VPN to multiple clusters and want to access services in different clusters by having different cluster domain (DNS search domain)?

[2017-08-04 20:39] xiang90 commented on #1021
@fen4o

Why do you want to make it configurable rather than just relying on what Kubelet provides on each node?

[2017-08-04 20:56] blakebarnett commented on #1021
@xiang90 correct

[2017-08-04 21:00] hongchaodeng commented on #1021
@blakebarnett
Thanks!
So let me state more clearly what we are trying to do and our assumptions:

- Pods of the same etcd cluster will sit within the same k8s cluster.
- Etcd pods will expand DNS with the cluster domain that kubelet gives. This assumes all kubelets of the same k8s cluster have the same cluster domain.
- Note that "server" cert for etcd need to include the long domain name `https:/

[2017-08-04 21:05] dghubble commented on #1021
Customizing the cluster domain suffix has other legitimate uses. The default `cluster.local` can cause issues, but we stuck with it because many projects in Kubernetes were relying on it https://github.com/coreos/coreos-kubernetes/issues/658. If etcd-operator also relies on it, that would make it increasingly difficult to move away from.

[2017-08-04 21:27] blakebarnett commented on #1021
@hongchaodeng maybe it's reasonable to require a cert be provided to the operator via configmap if the clusterdomain has been changed from the default?

[2017-08-04 21:59] xiang90 commented on #1021
You already can do this today. We just need to update some docs.

I am more interested in why some people want to supply cluster domain via a flag into etcd operator instead of relying on what is set on kubelet.

[2017-08-04 22:04] blakebarnett commented on #1021
ah, yeah that seems like an odd situation...

[2017-08-04 22:07] hongchaodeng commented on #1021
@blakebarnett
It's secret, not configmap.

See https://kubernetes.io/docs/concepts/configuration/secret/

[2017-08-04 22:19] blakebarnett commented on #1021
Right, makes sense.  Awesome, I'll try out your new patch and do this.

[2017-08-05 04:06] fen4o commented on #1021
@xiang90

Exactly for the same reason as @blakebarnett - VPN in clusters. We also plan to use it for cluster federation as well.

[2017-08-05 04:09] xiang90 commented on #1021
For that reason, etcd can still communicate to each other relying on the cluster domain provided by Kubelet. For external communication, you can provide whatever domain name you want to TLS assets if TLS is enabled. I do not feel the flag you mentioned is needed, correct?

[2017-08-06 04:34] ssubramanian123 opened #1348 "etcd-operator with restore option does not execute init.py in vault initializer"
Following this repo for deploying vault. Based on this document, I have deployed vault and it works fine. Set etcd cluster backup as S3. Now I am trying to implement restore option of etcd-cluster from S3 as below.

[code]
Since it has the secrets vaules restored  from S3, vault initializer does not start init.py (added code below). Due to that it does not create "vault-secret-config' secret. When

[2017-08-08 05:39] fen4o commented on #1021
The _real_ main reason why we use custom domains is because users have access to the internal `kube-dns` and they can query services at `https://foo.namespace.svc.foo.bar`. This means that both `kube-dns` and `kubelet` must be configured with the same values. In our case, `kubelet` will have the following configuration added to every single container it starts:
[code]

The etcd-operator is not wor

[2017-08-08 11:29] jamiehannaford opened #1350 "Why does operator enforce anti-affinity on masters?"
Why does the operator enforces anti-affinity on etcd pods? Currently, only 1 etcd pod is allowed per master:

https://github.com/coreos/etcd-operator/blob/v0.5.0/pkg/util/k8sutil/pod_util.go#L91-L97

And if a master node dies, due to this anti-affinity constraint, no new pod is scheduled to healthy nodes:

https://github.com/coreos/etcd-operator/blob/v0.5.0/pkg/cluster/reconcile.go#L160-L168

We'v

[2017-08-08 11:48] rimusz commented on #1350
I would love the have the functionality explained by @jamiehannaford

[2017-08-08 14:33] xiang90 commented on #1350
Putting two etcd on the same host introduces almost zero more resilience but much more overhead.

Allowing multiple etcd on the same host just makes your cluster looks more healthier, but not in reality. When one node dies, two etcd dies together anyway. Not something worth to do in my mind.

[2017-08-08 14:42] jamiehannaford commented on #1350
@xiang90 In the long-term I agree, but as a short-term stopgap I think it makes it a bit more robust than having a quorum of 2/3 until the master comes back online. I'm just trying to think if there's a way for the operator to respond to master downtime rather than just doing nothing.

For example, I notice in bootkube they use `preferredDuringSchedulingIgnoredDuringExecution` for the scheduler an

[2017-08-08 14:49] xiang90 commented on #1350
The correct thing to do is just to wait or remove the member. I cannot see the value of adding one more member to a node that already run etcd. It does not increase failure domain, and might introduce performance issues.

[2017-08-08 16:12] #1348 closed

[2017-08-08 16:12] ssubramanian123 commented on #1348
Not looking for any solution now, because moved away from etcd storage.

[2017-08-08 16:16] hongchaodeng commented on #1021
Yeah. This is the direction to go. Kubelet will provide default search domain for its cluster domain.

[2017-08-08 16:54] coreypobrien commented on #1350
I'm in agreement with @jamiehannaford here. There are many ways that an etcd member can die. Host anti-affinity definitely helps avoid host failure. What about etcd member failures that don't have anything to do with the host though? What if someone accidentally deletes a Pod? What if there is an etcd bug that causes a crash? What if the kernel kills one process due to OOM? Having a full complemen

[2017-08-08 16:57] hongchaodeng commented on #1350
For non-self-hosted etcd, it is fine to colocate etcd pods.
For self-hosted etcd, it couldn't because etcd pods will fight for resources like "2379" ports, data dir. It needs a good way to handle discovery of these resources.

[2017-08-08 17:06] xiang90 commented on #1350
Then etcd will restart on that node. This has nothing to do with affinity as far as I can tell.

same as above.

same as above.

same as above.

Why? Nothing you said supports this. And I suggest you not to do this if you want etcd to run safe.

[2017-08-08 17:13] hongchaodeng commented on #1112
@ssubramanian123
Docs are here: https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md#cluster-level-configuration

Please change to use per cluster config. Operator level is not recommended and will be deprecated in the future.

[2017-08-08 17:15] coreypobrien commented on #1350
All of those things can happen as secondary failures. As primary failures, they aren't a problem, but as secondary failures after a node failure, they are fatal to the cluster.

Here's the trivial example:

1. 3 members and 3 nodes, everything is healthy
2. node1 goes down, etcd now has 2 healthy members
3. node2 starts to run out of memory and the kernel kills etcd on node2

If the operator had o

[2017-08-08 17:21] xiang90 commented on #1350
What prevents etcd from spinning up the 3rd member?

I guess I understand what you try to express, but still I feel these are weak arguments. Putting two etcd members on the same host does not increase failure domain that much. Again, the correct way to ensure availability is through enough failure domain and redundancy.

I do not think we should encourage people to "hide" failures. For self hoste

[2017-08-08 17:27] coreypobrien commented on #1350
The host anti-affinity prevents it. I think the key is that although it doesn't increase availability much, it pretty objectively increases it _some_. I think that exploring something like `preferredDuringSchedulingIgnoredDuringExecution` in combination with the operator actively moving Pods back to full anti-affinity when failed nodes come back (or are replaced) would be an improvement.

[2017-08-08 17:31] xiang90 commented on #1350
Why not have one more node setting there? Or why not run 5 nodes cluster if you want to prevent two concurrent failures?

[2017-08-08 17:33] jamiehannaford commented on #1350
To clarify, we'd like to improve what happens _between_ master loss and eventual reboot. That is a manual process and can take days sometimes. Spinning up a brand new master might also not be possible immediately.

Ideally we could avoid a situation where a random pod failure after a master loss destroys a customer cluster. Colocation would help reduce that risk.

Again, I agree it's not an optima

[2017-08-08 17:34] coreypobrien commented on #1350
The number of nodes from N to N+2 doesn't change the fact that allowing for `preferredDuringSchedulingIgnoredDuringExecution` increases availability in the case of N/2 failures where at least 1 failure is not due to a host failure.

[2017-08-08 18:46] #1021 closed

[2017-08-08 18:47] hongchaodeng commented on #1021
Please try out latest operator `quay.io/coreos/etcd-operator:dev` and provide feedback. Thanks!

[2017-08-10 07:26] dan-turner opened #1353 "doc: Provide examples how to generate own certificates"
Loving your work guys!  Makes it really easy to stand-up an etcd cluster on kube.

It would be great though if you guys could provide documentation on how to generate alternate certificates for these:

https://github.com/coreos/etcd-operator/tree/master/example/tls/certs

[2017-08-10 16:53] hongchaodeng commented on #1353
How to generate certs is out of the scope of this project.

One recommendation: https://coreos.com/os/docs/latest/generate-self-signed-certificates.html

[2017-08-10 18:05] raoofm commented on #1261
@hongchaodeng ping

[2017-08-10 18:28] raoofm opened #1355 "Maintain helm chart"
helm chart is outdated, is it being maintained or has a plan to maintain by etcd-operator team.

for example

- etcd is outdated 3.1.8
- etcd-operator is outdated 0.3.3
- it still uses tpr not crd

[2017-08-10 18:52] hongchaodeng commented on #1355
No.
We don't have the bandwidth to maintain it at the moment.

[2017-08-10 18:53] xiang90 commented on #1355
@raoofm @hongchaodeng

i labeled this as future. it is a good thing to do, but not high priority for now.

[2017-08-10 23:46] dan-turner commented on #1353
Presumably you guys have a script to generate certs as per the example? The self-signed certs guide isn't specific to etcd and I'm struggling to follow.  It would be much easier to make sense of if I could see the series of commands used to generate the example certs.

[2017-08-10 23:50] xiang90 commented on #1353
reopen. it seems reasonable to provide an example script. If anyone is interested, please help.

[2017-08-11 03:30] cehoffman opened #1356 "Migration from self-hosted etcd to CRD based etcd-operator"
Using a self-hosted ETCD install that was managed by etcd-operator 0.3.0. Is there a path forward to migrate to 0.5.0 and CRD? The migration instructions intend for you to delete the etcd cluster and recreate it which is not feasible in this case.

[2017-08-11 16:12] luqasn commented on #1253
What's the status on this? I need to colocate the backup sidecar with the etcd nodes.

[2017-08-12 06:00] snarlysodboxer opened #1359 "Disaster recovery from S3 fails when multiple backups with same timestamp"
I copied our S3 backups folder from:
`${BUCKET_NAME}/v1/${CLUSTER_NAME}/` to
`${BUCKET_NAME}/v1/${NAMESPACE}/${CLUSTER_NAME}/`
to enable restore from newer version of etcd-operator.

This caused all the backups S3 objects to have the same `Last Modified` timestamp, and until I deleted all but one of them, DR was cycling through seed pods over and over.

Here are etcd-operator logs from immediatly

[2017-08-12 14:05] pilsy commented on #1350
Just to throw another situation in the mix, if you are using zetcd operator (which then depends on this etcd operator) as a replacement for ZooKeeper in a Kafka cluster -- then in the event of power outage / datacenter outage you face potentially loosing ALL of your data stored in Kafka!

Without the state that is stored in etcd (through zetcd) then you would not be able to stand your cluster back

[2017-08-12 14:39] xiang90 commented on #1350
@pilsy

This issue has nothing to do with running etcd for applications atop k8s. And yes, we (the people behind etcd-operator and etcd are overlapped) are working on supporting Kafka with zetcd or adding etcd direct support into kafka.

@jamiehannaford If this issue keeps on causing confusion, I would suggest to change the title to selfhosted etcd to make it clear or just close it.

[2017-08-14 01:19] klausenbusk commented on #1033
Is that also true if I replace all etcd related certificates?
Would something like this work?
[code]

I'm just wondering what the easiest way is.

[2017-08-14 01:34] klausenbusk commented on #1353
You can use `bootkube` to generate the certificates.
[code]

[2017-08-14 15:28] hongchaodeng commented on #1353
@klausenbusk
The `bootkube render` command will only generate certs specific to its deployment. Just like the examples we provide in this repo.

[2017-08-16 02:26] zhangax commented on #1293
I am also found this problem.My issue is about use helm deploy etcd-operator,but the logs tell me this:
E0816 02:24:43.328801       1 election.go:226] error retrieving resource lock default/etcd-operator: Get https://10.96.0.1:443/api/v1/namespaces/default/endpoints/etcd-operator: dial tcp 10.96.0.1:443: i/o timeout

I tried so many ways ,unluckly  don't fix it.

Any one could help me?

[2017-08-16 09:13] yan234280533 commented on #1293
@zhangax  I fixed it ,by using tcpdump to  capture the packages. Then we find it the problem of network.

[2017-08-16 16:16] xiang90 commented on #1293
@yan234280533 Great. I am closing this since it it not an etcd operator issue.

[2017-08-16 16:16] #1293 closed

[2017-08-16 19:44] raoofm commented on #1353
@hongchaodeng if atleast the csr are also provided in the example tls certs or cfssl commands like the ones provided in etcd.

[2017-08-16 19:45] raoofm commented on #1355
@xiang90 thnx, was just checking as it was confusing to refer the chart and the examples here.

[2017-08-16 19:46] raoofm commented on #1355
@xiang90 @hongchaodeng I assumed it is being maintained as it was referred here https://github.com/coreos/etcd-operator/blob/master/doc/user/op_guide.md#installation-via-helm without any warning of usage :)

[2017-08-17 01:11] dan-turner commented on #1353
I'm actually having trouble getting the TLS example working using the provided certificates. Is it definitely still working?

[2017-08-17 02:30] zhangax commented on #1293
Do you mean enter the container？

[2017-08-17 02:53] dan-turner commented on #1353
Yes I've just tripled checked with a fresh kube cluster. Steps to reproduce with minikube but note that the back-up section should be removed from `example/tls/example-tls-cluster.yaml` first as the persistent volume claims do not work on minikube:

[code]

[2017-08-17 03:53] hongchaodeng commented on #1353
Sorry but are the certs you use from master? It seems that you are using "v0.5.0" operator so you might want to check out that tag and use example certs there.

See change log: https://github.com/coreos/etcd-operator/blob/master/CHANGELOG.md#unreleased-051

You can also use our latest build image: `quay.io/coreos/etcd-operator:dev`

[2017-08-17 03:53] xiang90 commented on #1353
@dan-turner the tls example in master only works for master.

[2017-08-17 04:13] dan-turner commented on #1353
I am using `260d04d40feb35c0e9833bdf6338e15a5758a4d2` (which is `master`)

[2017-08-17 04:14] xiang90 commented on #1353
time="2017-08-17T02:47:53Z" level=info msg="Git SHA: 257d52f"

your log disagrees with you.

[2017-08-17 04:18] dan-turner commented on #1353
@xiang90 Ok, so you mean to say that TLS is broken in `etcd-operator:master` and that I need to hack it to use `etcd:master` to get it to work?

[2017-08-17 04:22] xiang90 commented on #1353
@dan-turner

I mean the TLS example in master only works with master. I am not saying it is broken.

If you use 0.5.0 then use the TLS example assets in that exact commit.

[2017-08-17 04:36] dan-turner commented on #1353
@xiang90 are you always this rude?

I am trying to follow your example using a fresh clone of `https://github.com/coreos/etcd-operator` and it does not work.  I suspect the problem is this line?

https://github.com/coreos/etcd-operator/blob/master/example/deployment.yaml#L14

[2017-08-17 04:37] dan-turner commented on #1353
@hongchaodeng cheers mate, changing that line to use the dev image has worked.

[2017-08-17 04:38] dan-turner commented on #1353
@hongchaodeng I realise this isn't 1.0 yet but would you be comfortable using `etcd-operator` in production yet?

[2017-08-17 04:45] xiang90 commented on #1353
@dan-turner

I am telling you that you need to use master against master TLS asset. @hongchaodeng's suggestion is a quick hack for you since we build the dev image out of master. It can be broken any day when we push another dev image.

What I suggest you is to always pin to a release. If you use 0.5.0 image, you use 0.5.0 asset.

I am spending my free time to help you. And this is not my thing, b

[2017-08-17 06:37] fen4o commented on #1021
Everything looks okay.

[2017-08-17 15:27] #953 closed

[2017-08-17 15:28] xiang90 commented on #691
implemented by #1358. Thanks @jamiehannaford!

[2017-08-17 15:28] #691 closed

[2017-08-17 16:00] hongchaodeng commented on #1021
Cool~
We will cut a release on Friday or early next week.

[2017-08-17 16:08] hongchaodeng commented on #1353
We do use it in production and pay a lot of attention to quality, upgrade.
But we couldn't reach 1.0 yet and might change API for the good.
So if you want to take it seriously, please let us know, keep an eye on each release, and upgrade as often as you can.

[2017-08-17 16:43] raoofm commented on #1353
@hongchaodeng @xiang90

Yes I'm planning to use it in production using helm (just waiting for helm to support crd)

@dan-turner  The way I see it he is not rude, he is just to the point and I totally agree with his solution. With my past 3 years experience working with etcd @xiang90 has been great, quick and very reasonable.
May be it also depends on how we read the comments :smile.

[2017-08-17 16:52] raoofm commented on #1353
@hongchaodeng I'm just looking for a rough timeline here #1261, to better plan production release.

We would be more comfortable going with a stable release and can wait if it is very near. If it is too far then probably we will go ahead with the risk. It just helps to know a rough timeline.

[2017-08-17 16:56] xiang90 commented on #1353
@raoofm I am going to spend sometime thinking about the stable release this week or early next week. Probably we will also update the roadmap. I will get back to you soon.

[2017-08-18 15:35] hongchaodeng opened #1363 "Refine spec directory layout"
Currently, our spec/api directory is too ad-hoc. It's not aligned with upstream k8s API directory layout. However, upstream code generator tools make assumptions on specific layout.

For example, https://github.com/kubernetes/community/blob/master/contributors/devel/generating-clientset.md .

We'd better refine our spec directory layout.

Then we can start migrating out client to use upstream clie

[2017-08-23 09:46] afritzler opened #1366 "Operator removes self-hosted cluster right after creation"
Hi,

I am trying to setup a self-hosted Kubernetes cluster with bootkube which uses the etcd-operator to create a self-hosted etcd.

In my case I am getting the following error during creation. The operator removes the etcd cluster right after migration (as it seems).

I am running the operator version v0.4.2 (bootkube only supports TPRs at the moment).

[code]

Any ideas what I am doing wrong her

[2017-08-28 15:46] raoofm opened #1371 "How to specify resource limits/requests for the etcd-cluster-backup-sidecar?"
The pod creation fails with message

Error creating: pods "etcd-cluster-backup-sidecar-4275925802-" is forbidden: failed quota: security-rq: must specify limits.cpu,limits.memory,requests.cpu,requests.memory

I think the cause is

[2017-08-28 15:48] raoofm commented on #1371
backup sidecar pod fails

[2017-08-28 15:57] hongchaodeng commented on #1371
You can set in:

[code]

https://github.com/coreos/etcd-operator/blob/master/pkg/spec/backup.go#L34

[2017-08-28 15:58] raoofm commented on #1371
@hongchaodeng thnx

[2017-09-01 12:09] akauppi commented on #1261
There's a [blog entry](https://sgotti.me/post/kubernetes-persistent-etcd/) that explains some of the concerns about etch-operator. I'm facing similar within the company - people saying operator is "not good (enough)". I don't really know what they mean (did not ask).

For this kind of clarity, a ROADMAP would be helpful.

[2017-09-01 15:18] hongchaodeng commented on #1261
Re. the blog, we are addressing the case right now with the author .

Please be patient. We rely on k8s feature which are not stable yet.

[2017-09-05 16:47] hongchaodeng commented on #1366
Can you reproduce it in pure etcd-operator?

Or can you reproduce it using bootkube? If so, please report it to bootkube repo and write down repro steps.

[2017-09-05 16:56] hongchaodeng opened #1377 "Deprecate operator S3 flag"
The operator S3 flag and per cluster S3 spec has diverged more and more. Operator S3 flag is a subset of cluster S3 spec. It's unnecessary burden to maintain two.

[2017-09-05 18:13] afritzler commented on #1366
We can close this issue. I provided the wrong service IP address in the etcd manifest file.

[2017-09-05 18:13] #1366 closed

[2017-09-06 20:54] fanminshi commented on #1377
Deprecating operator S3 flag is plan to be included in v0.5.2 release

Plan:
1. Add deprecate warning when using operator S3 flag such as `--backup-aws-secret`, `backup-aws-config`, and `backup-s3-bucket`.
2. Add deprecation Note to [Operator level configuration](https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_config.md#operator-level-configuration) documentation.

[2017-09-07 15:34] cbandy opened #1381 "Services can't be used for DNS discovery"
I'm using `quay.io/coreos/etcd-operator:v0.5.1` to create the following cluster:

[code]

I see two services created with ports named `client` and `peer`:

[code]

I can use the `etcd-client` service as the endpoint and see that the cluster is functional:

[code]

However, I'm unable to use SRV discovery to connect to those services:

[code]

Is that intentional?

If I understand correctly, naming

[2017-09-08 00:19] xiang90 commented on #1381
@cbandy I am not sure if k8s will generate the correct srv format as etcdctl would expect. We never try to make it work.

[2017-09-08 00:40] hongchaodeng commented on #1381
No discovery token has been set by etcd operator: https://coreos.com/etcd/docs/3.2.7/op-guide/clustering.html#etcd-discovery .

Please use the "<clusterName>-client" service as discovery point.

[2017-09-08 00:42] cbandy commented on #1381
Here's what the SRV records look like for the services above:
[code]

[code]
[code]
[code]

[2017-09-08 00:49] xiang90 commented on #1381
k8s format: `_client._tcp.etcd.default.svc.cluster.local`

is different from etcd-srv-discovery format: `_etcd-server._tcp.example.com`

one has subdomain `_client`, one expects `etcd-server` or `etcd-client`.

[2017-09-08 01:03] cbandy commented on #1381
Precisely.

This subdomain comes from the `Name` attribute of the port in the service resource:

https://github.com/coreos/etcd-operator/blob/cf7d8d5568737992add2fb1bd1f7c7840dd49901/pkg/util/k8sutil/k8sutil.go#L135-L145

[2017-09-08 15:32] #1371 closed

[2017-09-08 16:51] raoofm opened #1384 "tls failure in cluster set up, v0.5.1, etcd 3.2"
Used below to generate self signed certs and create k8s secrets
https://coreos.com/os/docs/latest/generate-self-signed-certificates.html
https://github.com/coreos/etcd-operator/blob/master/doc/user/cluster_tls.md

**Logs from etcd-operator**
time="2017-09-08T16:18:05Z" level=info msg="etcd-operator Version: 0.5.1"
time="2017-09-08T16:18:05Z" level=info msg="Git SHA: cf7d8d5"
time="2017-09-08T16:18

[2017-09-08 17:11] raoofm commented on #1220
@jamiehannaford @xiang90 I'm facing a similar issue. Can you please elaborate on

I named them
![image](https://user-images.githubusercontent.com/12846989/30223031-3372e96a-9497-11e7-843c-0f8b92f89b0d.png)

[2017-09-08 17:12] raoofm commented on #1220
here https://github.com/coreos/etcd-operator/issues/1384

[2017-09-08 17:16] hongchaodeng commented on #1384
The extension doesn't affect the file's nature. But it is a key in the secret:
[code]

[2017-09-08 17:16] hongchaodeng commented on #1381
@cbandy Submit a PR?

[2017-09-08 17:20] raoofm commented on #1384
@hongchaodeng so the name also matters. For me the ca was same for peer, server and client, so I used ca.pem for all
![image](https://user-images.githubusercontent.com/12846989/30223312-5489fe4e-9498-11e7-9295-76239ac72401.png)

[2017-09-08 17:21] hongchaodeng commented on #1384
@raoofm Just copy it to different names. We did the same in bootkube. Just by design we shouldn't couple them.

[2017-09-08 18:31] hongchaodeng commented on #1153
Closing. We have done a lot of work before and it is more stable now

[2017-09-08 18:31] #1153 closed

[2017-09-08 18:32] #1152 closed

[2017-09-08 18:32] hongchaodeng commented on #767
Too old.. Our code has changed a lot. And some metrics has been added.

[2017-09-08 18:32] #767 closed

[2017-09-08 18:42] hongchaodeng commented on #1300
This timeout happens only 1s after bootstrap.. The 1s is too short
[code]

[2017-09-08 18:53] hongchaodeng commented on #1300
cc @fanminshi

[2017-09-08 19:02] raoofm commented on #1384
@hongchaodeng the etcd pods fail and continously restart.

![image](https://user-images.githubusercontent.com/12846989/30226893-af65dcb8-94a5-11e7-8e8c-5dbfe882a7c8.png)

**logs from etcd-dev-cluster-0000**
2017-09-08 18:47:56.782644 I | rafthttp: started HTTP pipelining with peer b943898098165b37
2017-09-08 18:47:56.786072 I | rafthttp: started peer b943898098165b37
2017-09-08 18:47:56.797124 I |

[2017-09-08 19:15] raoofm commented on #1384
copying complete logs

**etcd-dev-cluster-0088**
2017-09-08 19:08:48.435269 W | pkg/flags: unrecognized environment variable ETCD_DEV_CLUSTER_CLIENT_PORT_2379_TCP_PROTO=tcp
2017-09-08 19:08:48.435389 W | pkg/flags: unrecognized environment variable ETCD_DEV_CLUSTER_CLIENT_SERVICE_LB_PORT=tcp://100.70.97.84:2379
2017-09-08 19:08:48.435440 W | pkg/flags: unrecognized environment variable ETCD_DEV_CL

[2017-09-08 20:04] raoofm commented on #1384
@xiang90 @hongchaodeng any suggestions ?

[2017-09-08 20:09] hongchaodeng commented on #1384
Seems like TLS cert problem.

Can you provide reproduce steps? Actually can you try with 3.1 first? We haven't tested 3.2 yet...

[2017-09-08 22:17] raoofm commented on #1384
@hongchaodeng @xiang90 works with 3.1.8 but not with 3.2.5

I would like to use latest 3.2.6, can your team spend some time to see what is the breaking change in tls and what the end user need to change in cert generation.

[2017-09-08 22:18] hongchaodeng commented on #1384
@raoofm Have you tried your configuration and see if it works with 3.1 first?

[2017-09-08 22:18] raoofm commented on #1384
yes that is what I confirmed

[2017-09-08 22:20] raoofm commented on #1384
yes I tried and it works with 3.1.8

[2017-09-08 22:28] hongchaodeng commented on #1384
Confirmed the same issue with etcd "3.2.5":

[code]

[2017-09-08 22:30] hongchaodeng commented on #1384
@raoofm
This is etcd regression.
Are you gonna create an issue in etcd to track it? Or we can do it too.

[2017-09-08 22:31] raoofm commented on #1384
ok will do

[2017-09-09 17:02] hongchaodeng opened #1387 "make sure labels are consistent and documented"
For all resources created by etcd operator, we should make sure they have labels:
[code]

We also need to have it documented.

[2017-09-09 21:08] hongchaodeng opened #1388 "Refine status conditions"
EtcdCluster status conditions was originally hacked up for UI. It wasn't quite aligned with upstream yet, e.g. the rotation.. We need to refine it.

[2017-09-10 06:26] dmyerscough opened #1389 "Etcd Operator ignores the custom storageClass"
I trying to spin up the Etcd Operator with backup on minikube. However, every time I specified a custom storage type the operator kept trying to use "etcd-backup-gce-pd"

[code]

[code]

[2017-09-10 06:37] xiang90 commented on #1389
@dmyerscough what is the version of etcd operator?

[2017-09-11 03:04] dmyerscough commented on #1389
Sorry about that; the version was `v0.5.1`

[2017-09-11 03:06] xiang90 commented on #1389
@fanminshi @hongchaodeng can you take a look? i feel this is a bug.

[2017-09-11 15:40] ArrH opened #1391 "no kind "EtcdCluster" is registered for version "etcd.database.coreos.com/v1beta2""
Upon the attempt to create example-etcd-cluster.yaml, using Kubernetes UI, I get the following error:
`unable to decode "example-etcd-cluster.yaml": no kind "EtcdCluster" is registered for version "etcd.database.coreos.com/v1beta2"`

Is this an issue or am I missing something in the documentation?

[2017-09-11 15:54] hongchaodeng commented on #1389
Canot reproduced.

[2017-09-11 15:58] hongchaodeng commented on #1391
You need to start etcd operator first.
Can you give detailed steps how you encounter this problem?

[2017-09-11 16:05] hongchaodeng commented on #1389
@dmyerscough
Please provide more details how you can reproduce the problem

[2017-09-11 16:54] dmyerscough commented on #1389
I just tried the following:-

[code]

Noticed I left the `storageClass` commented out (Default is GCE). I did the apply against minikube which is expected to fail because there is no GCE storage. However, if you `kubectl delete -f test.yaml` you will notice that it doesn't delete the GCE `storageClass` that the etcd operator created.

When I modified the `storageClass` to `standard` the etcd Opera

[2017-09-11 16:55] ArrH commented on #1391
Yeah, so first I created the deployment using the deployment.yaml:

`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: etcd-operator
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: etcd-operator
    spec:
      containers:
      - name: etcd-operator
        image: quay.io/coreos/etcd-operator:v0.5.1
        env:
        - name: MY_POD_NAMESPACE

[2017-09-11 16:58] fanminshi commented on #1389
taking a look as well.

[2017-09-11 18:12] hongchaodeng commented on #1389
@dmyerscough

Can you provide etcd-operator logs?

If you are using minikube, please set flag

[code]

By default, it's "kubernetes.io/gce-pd". We will deprecate this flag later and only use cluster spec only.

[2017-09-11 18:19] hongchaodeng commented on #1389
"apply" doesn't work now. Please set the "storageClass" field at creation.

[2017-09-11 18:54] hongchaodeng opened #1392 "Explore k8s dynamic initializer"
We can make use of k8s [dynamic initializer](https://kubernetes.io/docs/admin/extensible-admission-controllers/) to achieve:

- Get rid of defaulting in operator: https://github.com/coreos/etcd-operator/blob/f9ea946341458cc6a6368c96d330c879cc7d2d0b/pkg/spec/cluster.go#L209-L221 .
- Have some reasonable setting. For example, if `Size` field is even, reject it.

[2017-09-11 18:55] caesarxuchao commented on #1392
/sub

[2017-09-11 20:32] hongchaodeng commented on #1359
@snarlysodboxer
Can you provide more details about how to reproduce it?

${BUCKET_NAME}/v1/${CLUSTER_NAME}/ to
${BUCKET_NAME}/v1/${NAMESPACE}/${CLUSTER_NAME}/
to enable restore from newer version of etcd-operator.

Also copying data in S3 bucket like this is somehow unexpected.

[2017-09-11 20:41] hongchaodeng commented on #1356
Sorry for the late reply... Dismiss this issue before.
We don't really support 0.3.0 due to our limited support bandwidth.
Please just recreate it.

[2017-09-11 20:41] #1356 closed

[2017-09-11 20:43] hongchaodeng commented on #1305
fixed in https://github.com/coreos/etcd-operator/pull/1372

[2017-09-11 20:43] #1305 closed

[2017-09-11 20:44] hongchaodeng commented on #1295
Issue is confusing.. I'm closing it.
Please create new issue with more details

[2017-09-11 20:44] #1295 closed

[2017-09-11 20:45] hongchaodeng commented on #1290
Closing this since we migrated to CRD from TPR already.
Please create a new issue if you still have this problem with CRD

[2017-09-11 20:45] #1290 closed

[2017-09-11 20:46] hongchaodeng commented on #1222
This is fixed.

[2017-09-11 20:46] #1222 closed

[2017-09-11 21:29] hongchaodeng commented on #1388
The current "Conditions" are in fact events.. `kubectl describe` wasn't working for TPR before.
Now it seems to work with custom resource.

First of all, we need to change them to events. Second, we need to test k-describe.

[2017-09-12 19:00] brunomcustodio opened #1396 "v3.2.x compatibility?"
Is `v3.2.x` supported? Are there any known issues? I've seen #1222 and #1360, but I see they are fixed now. What is the current status?

[2017-09-12 19:21] hongchaodeng commented on #1396
Not supported yet.
Blocked on issue: https://github.com/coreos/etcd-operator/issues/1384

[2017-09-13 09:45] brunomcustodio commented on #1381
This is affecting me too. @cbandy will you submit a PR or would you prefer me to do it?

[2017-09-13 12:49] cbandy commented on #1381
I'm not setup to test this, so I cannot submit anything for some time.

[2017-09-13 12:51] brunomcustodio commented on #1381
I understand. That being, I'll take upon it, if you don't mind.

On Qua, 13 de set de 2017, 13:49 Chris Bandy <notifications@github.com>
wrote:

[2017-09-13 13:33] cbandy commented on #1381
Thanks @brunomcustodio!

[2017-09-13 16:54] sstarcher opened #1399 "etcd-operator with backups fails on cluster restore"
Using bootkube restore when having an etcd backup pod configured the restore fails.  After removing the etcd backup from the cluster configuration and doing the bootkube recover/start it works.

[code]

Looks to be a race condition with the metadata of the previous pod still existing and not being cleaned up yet.

[2017-09-13 16:57] hongchaodeng commented on #1399
The previous backup sidecar still exists?
Isn't this bootkube specific issue?

[2017-09-13 17:05] sstarcher commented on #1399
@hongchaodeng I can move this to bootkube I was not sure where it should exist and how much internal knowledge bootkube has of the etcd-operator.

[2017-09-13 18:23] fanminshi opened #1402 "etcd-operator restore from s3 needs to know about s3 prefix"
Since etcd-operator supports s3 backup with s3 prefix, then restored from prefixed s3 backup also needs to know about prefix; otherwise, restore won't find the correct backup path.

[2017-09-13 22:49] fanminshi commented on #1402
I took a look of this issue again. I was able to restore a cluster with following steps:

First, kubectl deploy operator with following:

[code]

Then create a 3 node etcd cluster named `s3-cluster-backup`:

[code]

Once `s3-cluster-backup` back up its snapshot, I created another etcd cluster called `s3-cluster-backup-b` that restore snapshot from `s3-cluster-backup`:

[code]

I noticed that clust

[2017-09-13 22:51] hongchaodeng commented on #1402
@fanminshi
Yeah. That was intended because we don't need to duplicate the spec.
Add a docs maybe?

[2017-09-13 22:54] fanminshi commented on #1402
@hongchaodeng yeah, I think updating the doc will make more restoring from cluster example clearer.

[2017-09-14 00:07] fanminshi commented on #1377
TODO: Need to add upgrade doc on upgrading 0.5.2 to 0.6.0

[2017-09-14 12:43] ArrH commented on #1391
I've tried playing around with the solutions to similar problems people had and reported here, but so far no luck.

[2017-09-14 13:31] ArrH commented on #1391
UPDATE:

Alright, I tried experimenting more. I thought my K8 RBAC my be the issue (even though my K8 version is 1.6.7  thus lower than 1.7 and according to docs this should not be the case). I've tried creating the following .yaml file:
[code]
But this gave the similar error as described in the issue:
`unable to decode "rbac1.yaml": no kind "ClusterRole" is registered for version "rbac.authorizat

[2017-09-14 14:26] xiang90 commented on #1391
can you get the logging from etcd operator?

[2017-09-14 14:32] ArrH commented on #1391
Every 30 seconds it says that
`the server could not find the requested resource" pkg=controller`

[2017-09-14 14:35] xiang90 commented on #1391
@ArrH Can you provide the full logging lines from etcd operator? Not just one line?

[2017-09-14 14:36] ArrH commented on #1391
Yeah. I just updated my K8 to v1.7.2. Here are the logs:

[code]

Not getting the package issue anymore.

[2017-09-14 16:15] raoofm commented on #1353
@xiang90 did you get a change to sketch it out.

[2017-09-14 19:53] fanminshi opened #1405 "discuss expected s3 backup restore behavior"
There are two way to restore a s3 backup cluster: restore from existing backup and from backup of another cluster.

Two common scenarios can happen:

Backup exists:
* Restore from existing backup or from another cluster works as intended.

Backup doesn't exist:
* Restore from existing backup fails because it can't find the backup; booting the new backup cluster fails. Is this the expected behavior